@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?b8eb8z');
    src:    url('fonts/icomoon.eot?b8eb8z#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?b8eb8z') format('truetype'),
        url('fonts/icomoon.woff?b8eb8z') format('woff'),
        url('fonts/icomoon.svg?b8eb8z#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-allOrder:before {
    content: "\e900";
}
.icon-arrow:before {
    content: "\e901";
}
.icon-Iphone:before {
    content: "\e902";
}
.icon-MyOrder:before {
    content: "\e903";
}
.icon-service:before {
    content: "\e904";
}
.icon-MyShopCar:before {
    content: "\e905";
}
.icon-Tel:before {
    content: "\e906";
}
.icon-unFind .path1:before {
    content: "\e907";
    color: rgb(93, 94, 94);
}
.icon-unFind .path2:before {
    content: "\e908";
    margin-left: -1em;
    color: rgb(175, 175, 175);
}
.icon-unFind .path3:before {
    content: "\e909";
    margin-left: -1em;
    color: rgb(115, 115, 115);
}
.icon-unFind .path4:before {
    content: "\e90a";
    margin-left: -1em;
    color: rgb(115, 115, 115);
}
.icon-WaitGet:before {
    content: "\e90b";
}
.icon-OK:before {
    content: "\e90c";
}
.icon-WaitPay:before {
    content: "\e90d";
}
.icon-WaitSend:before {
    content: "\e90e";
}
.icon-WX:before {
    content: "\e90f";
}
.icon-longTime:before {
    content: "\e910";
}
.icon-rightIcon:before {
    content: "\e911";
}
.icon-rocket:before {
    content: "\e912";
}
.icon-unGoods:before {
    content: "\e913";
}
.icon-unOrder .path1:before {
    content: "\e914";
    color: rgb(93, 93, 93);
}
.icon-unOrder .path2:before {
    content: "\e915";
    margin-left: -1em;
    color: rgb(174, 174, 174);
}
.icon-unOrder .path3:before {
    content: "\e916";
    margin-left: -1em;
    color: rgb(93, 94, 94);
}
.icon-unOrder .path4:before {
    content: "\e917";
    margin-left: -1em;
    color: rgb(174, 174, 174);
}
.icon-unOrder .path5:before {
    content: "\e918";
    margin-left: -1em;
    color: rgb(93, 94, 94);
}
.icon-unOrder .path6:before {
    content: "\e919";
    margin-left: -1em;
    color: rgb(93, 93, 93);
}
.icon-unOrder .path7:before {
    content: "\e91a";
    margin-left: -1em;
    color: rgb(93, 93, 93);
}
.icon-unOrder .path8:before {
    content: "\e91b";
    margin-left: -1em;
    color: rgb(174, 174, 174);
}
.icon-search:before {
    content: "\e036";
}

