/*  by sf-exrpess.com 2014-11-6, annie_chen */
@charset "utf-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	margin:0;
	border:0;
	padding:0;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	outline:none;
	-webkit-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-touch-callout: none;
  -ms-touch-action: none;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  font-family: 'Microsoft YaHei','Arial', 'Helvetica', 'sans-serif';
}
body {
	background:#F0F3F5;
	font:14px/1.5 'Microsoft YaHei',Arial, Helvetica, sans-serif;
	color:#595959;
	-webkit-text-size-adjust:none;
}
table {
	border-spacing:0;
	border-collapse:collapse;
}
td, th {
	empty-cells:show;
}
ul, ol {
	list-style:none;
}
img{
	vertical-align:middle;	
}
a img {
	border:none;
}
h1, h2, h3, div, li, p {
	font-size:100%;
	font-weight:normal;
}
a {
	color:#595959;
	text-decoration:none;
}
a:active, a:hover, a:focus, a:visited {
  outline: none;
  outline: 0; }
input:focus,
textarea:focus,
button:focus {
  outline: none !important;
  outline: 0 !important; }

input:active,
textarea:active {
  outline: none !important;
  outline: 0 !important; }

input {
  -webkit-appearance: none;
  outline: none; }
em, i {
	font-style:normal;
}
.br {
	display: block;
}
a, input, button {
	outline: none;
	cursor:pointer;
}
input[type="submit"], input[type="button"] {
	-webkit-appearance:none;
}
input::-webkit-search-decoration, input::-webkit-search-cancel-button {
 display: none;
}
a, button, input, textarea, li, span {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0.02);
	outline:none;
}
button:focus, input:focus, textarea:focus {
	-webkit-user-modify:read-write-plaintext-only;
}
@font-face {
  font-family: 'sfico';
  src: url('font/sfico.eot?35573554');
  src: url('font/sfico.eot?35573554#iefix') format('embedded-opentype'),
       url('font/sfico.woff?35573554') format('woff'),
       url('font/sfico.ttf?35573554') format('truetype'),
       url('font/sfico.svg?35573554#sfico') format('svg');
}
.clearfix:after{
	content:"\020";
	display: block;
	height:0;
	clear:both;
	visibility:hidden
}
.clearfix,.info-btn:after{
	zoom:1;
}
.placeholder, .tips {
	color:#a9a9a9;
}
.hot,.enhance-text {
	color:#ec5b5b;
}
.link,.hard{ 
	color:#4f6175;
}
.link2,.blue{
	color:#59a8e4;	
}
.ui-ico-sfi,.ui-ico{
	display:inline-block;
	background-repeat:no-repeat;
	vertical-align:middle;
}

.ico-back:before {
  content: "\e83c";
  font-size: 30px;
  top:-2px
}
.ui-ico-sfi:before {
  font-family: "sfico";
}
.ui-ico-sfi:before {
  display: inline-block;
  vertical-align: middle;
  /* top: -4px; */
  /*left: -3px;*/
  position: relative;
  z-index: 0;
}

/*ico 瀛椾綋鍥炬爣 start*/
.ico-car:before{
	content: "\e800";
}

.ico-plane:before{
	content: "\e801";
}
.ico-time:before{
	content: "\e802";
	font-size: 22px;
	color: #969696;
	margin-right: 10px;
}
.ico-up:before{
	content: "\e803";
}

.ico-location:before{
	content: "\e804";
}

.ico-box-tick:before{
	content: "\e805";
}

.ico-circle-tick:before{
	content: "\e806";
}

.ico-upload:before{
	content: "\e807";
}

.ico-download:before{
	content: "\e808";
}

.ico-swap:before{
	content: "\e809";
}

.ico-yes:before{
	content: "\e80a";
}

.ico-no:before{
	content: "\e80b";
}

.ico-circle-1:before{
	content: "\e80c";
}

.ico-parcel-time:before{
	content: "\e80d";
	font-size: 45px;
	color: #969696;
}

.ico-parcel-money:before{
	content: "\e80e";
	font-size: 45px;
	color: #969696;
}

.ico-box:before{
	content: "\e80f";
	color: #d2d2d2;
	font-size: 22px;
  	border-radius: 5px;
  	height: 20px;
  	width: 20px;
  	text-align: center;
  	line-height: 22px;
  	vertical-align:middle;
  	margin: 6px 0;
}


.ico-circle-2:before{
	content: "\e810";
}

.ico-telephone:before{
	content: "\e811";
}

.ico-score:before{
	content: "\e812";
}

.ico-guess:before{
	content: "\e813";
	color: rgb(244,200,93);
	font-size: 28px;
	margin-right: 10px;
}

.ico-scanning:before{
	content: "\e814";
}

.ico-search:before{
	content: "\e815";
}

.ico-message:before{
	content: "\e816";
}

.ico-order:before{
	content: "\e817";
}


.ico-house:before{
	content: "\e818";
}

.ico-money-time:before{
	content: "\e819";
}

.ico-parcel:before{
	content: "\e81a";
}

.ico-editor:before{
	content: "\e81b";
}


.ico-good:before{
	content: "\e81c";
}

.ico-warn:before{
	content: "\e81d";
}

.ico-location-2:before{
	content: "\e81e";
}

.ico-target:before{
	content: "\e81f";
}


.ico-del:before{
	content: "\e820";
}

.ico-up-down:before{
	content: "\e821";
}

.ico-user-right:before{
	content: "\e822";
	font-size: 22px;
}

.ico-express-msg:before{
	content: "\e823";
	font-size: 22px;
}

.ico-user-left:before{
	content: "\e824";
	font-size: 22px;
}

.ico-love:before{
	content: "\e825";
	font-size: 22px;
}

.ico-refresh:before{
	content: "\e826";
	font-size: 22px;
}

.ico-score-2:before{
	content: "\e827";
	font-size: 22px;
}

.ico-btn-right:before{
	content: "\e828";
	font-size: 22px;
}

.ico-parcel-time2:before{
	content: "\e829";
	font-size: 22px;
}

.ico-vehicle:before{
	content: "\e82a";
	font-size: 22px;
}

.ico-order-ok:before{
	content: "\e82b";
	font-size: 22px;
}

.ico-sf-icon:before{
	content: "\e82c";
	font-size: 22px;
}


.ico-angle-right:before{
	content: "\e82e";
	font-size: 22px;
}

.ico-sort-up:before{
	content: "\e82f";
	font-size: 22px;
}

.ico-mobile:before{
	content: "\e830";
	font-size: 22px;
	color: #cccccc;
	padding-right: 5px;
	height: 22px;
  	line-height: 22px;
  	display: inline-block;
}

.ico-sort-down:before{
	content: "\e831";
	font-size: 22px;
}

.ico-yes2:before{
	content: "\e832";
	font-size: 15px;
  	border-radius: 5px;
  	border: 1px solid #cccccc;
  	height: 20px;
  	width: 20px;
  	color: rgb(130,188,39);
  	text-align: center;
  	line-height: 22px;
  	vertical-align:middle;
  	margin: 6px 0;
}

.ico-success:before {
  content: "\e80a";
  height: 45px;
  width: 45px;
  color: #6ebc27;
  background-color: #fff;
  font-size: 44px;
  line-height: 45px;
  text-align: center;
  margin-right: 10px;
}


/* ico 瀛椾綋鍥炬爣 end */

.error{
	color:#ec5b5b;
	padding:0 10px;
	height:25px;
}
.grid-main {
	margin-top:10px;
}
.grid-btn {
	width:78.125%;
	margin:0 auto;
	padding:20px 10px;
	text-align:center;
}
.ui-btn {
	display:inline-block;
	vertical-align:middle;
	width:100%;
	text-align:center;
	font-size:1em;
	cursor:pointer;	
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.btn-more {
	padding:15px 0;
	text-align:center;
	color:#acacac;
}
.btn-top{
	color:#ec5b5b;
	line-height:30px;
}
.btn-submit, .btn-cancel,.btn-normal,.btn-buttom-m,.btn-buttom-l,.btn-submit-no{
	color:#fff;
	padding:9px 10px;
	border:0;
	width:auto;
	min-width:150px;
	font-size:1.143em;
	border-radius:.3em;
	-webkit-border-radius:.3em;
	text-shadow:rgba(0,0,0,.1) 1px 1px 0px;
}
.btn-buttom-c {
	color:#fff;
	padding:9px 10px;
	border:0;
	width:auto;
	min-width:80px;
	font-size:1.143em;
	border-radius:.3em;
	-webkit-border-radius:.3em;
	text-shadow:rgba(0,0,0,.1) 1px 1px 0px;
}

.btn-buttom-n {
	color:#cccccc;
	padding:9px 10px;
	border:1px solid #CCCCCC;
	width:auto;
	min-width:80px;
	font-size:1.143em;
	border-radius:.3em;
	-webkit-border-radius:.3em;
	text-shadow:rgba(0,0,0,.1) 1px 1px 0px;
}

.btn-buttom-nh {
	color:#595959;
	padding:9px 10px;
	border:1px solid #CCCCCC;
	width:auto;
	min-width:80px;
	font-size:1.143em;
	border-radius:.3em;
	-webkit-border-radius:.3em;
	text-shadow:rgba(0,0,0,.1) 1px 1px 0px;
	background-color: #fff;
}

.btn-buttom-query {
	color:#E65A5A;
	padding:9px 8px;
	border: rgba(237,140,140,.6) 1px solid;
	width:auto;
	min-width:60px;
	font-size:1.143em;
	border-radius:.3em;
	-webkit-border-radius:.3em;
	text-shadow:rgba(0,0,0,.1) 1px 1px 0px;
	background-color:#fff;
	
}

.btn-submit,.btn-normal,.btn-buttom-c{
	background-color:#ec5b5b;
}
.btn-submit:active,.btn-normal:active,.btn-buttom-c:active{
	background-color:#bd4949;
}
.btn-submit-no{
	background-color:#d2d2d2;
}

.btn-cancel{
	background-color:#5a5a5a;
}
.btn-cancel:active{
	background-color:#484848;
}

.btn-buttom-n{
	background-color:#fff;
}
.btn-buttom-n:active{
	background-color:#484848;
}

.btn-buttom-m{
	background-color:#69b425;
}
.btn-buttom-m:active{
	background-color:#538f1d;
}
.btn-buttom-l{
	background-color:#69b425;
}
.btn-buttom-l:active{
	background-color:#54901e;
}
.btn-normal{
	width:auto;
	padding-left:5px;
	padding-right:5px;	
	font-size:1em;
	min-width:80px;
}
.btn-grade{
	background-color:#ffb525;
	border:#c8840f 1px solid;
	color:#fff;
	width:auto;
	padding:0 10px;
	line-height:1.85em;
	border-radius:2px;	
	-webkit-border-radius:2px;
}
.btn-item {
	border:#a9a9a9 1px solid;
	background-color:#fff;
	padding:.4em;
	width:auto;
	line-height:25px;
	color:#a9a9a9;
}
.btn-item.selected,.btn-item:active{
	border-color:#ead483;
	background-color:#fef6ce;
	color:#595959;
}
.btn-setdefault{
	padding:15px 0;
	color:#ec5b5b;
}
.btn-group{
	padding:10px 0 15px 0;
}
.btn-group .ui-btn{
	margin:5px 5px 0 0;
}
.btn-group .ui-btn:last-child{
	margin-right:0;
}
.btn-back{
	line-height:30px;
	font-size:26px;
	color:#595959;	
}
.btn-message{
	color:#ec5b5b;
	font-size:24px;
	line-height:26px;
	margin-bottom:5px;
}
.disable, .disable:active{
	background-color:#aaa;	
	cursor:not-allowed;
}
.must:before{
	content:'*';
	color:#ff0000;
	margin:10px 5px 0 0;
	font-size:1em;
}
header {
	position:relative;
	background-color:#f8f8f8;
	zoom:1;	
	border-bottom:rgba(192,194,196,.8) 1px solid;
}
header a{
	display:inline-block;	
}
header h1 {
	padding:5px 10px;
	margin:0;
	text-align:center;
	line-height:40px;
	font-size:1.286em;
}
header .btn-topl {
	position:absolute;
	top:10px;
	left:10px;
}
header .btn-topr {
	position:absolute;
	top:10px;
	right:10px;
}
.ui-flex{
	display:-webkit-box;
	-webkit-box-sizing:border-box;
	-webkit-box-orient:horizontal;
	-webkit-box-pack:justify;
}
.ui-flex .flex-ico{
	width:50px;
}
.ui-flex .flex-con{ 
 	box-flex: 2;
    -webkit-box-flex: 2;    
	margin:0 0 0 10px;
}
.ui-flex .flex-btn{
	width:50px;
	padding:13px 0 10px 0;
	text-align:right;
}
.ui-btn-right{
	display:block;
	padding:15px 30px 15px 0;
	position:relative;
	z-index:0;
}
.ui-btn-right:after{
	content:"\e82e";
	color:#bfbfbf;
	font-size:18px;
	height:20px;
	line-height:20px;
	font-family:"sfi";
	display:inline-block;
	position:absolute;
	right:5px;
	top:50%;
	margin-top:-11px;
}

.ui-btn-up:after{
	content:"\e82f";
	color:#bfbfbf;
	font-size:22px;
	height:20px;
	line-height:22px;
	font-family:"sfi";
	display:inline-block;
	position:absolute;
	right:5px;
	top:50%;
	margin-top:-5px;
}

.ui-btn-bottom:after{
	content:"\e831";
	color:#bfbfbf;
	font-size:22px;
	height:20px;
	line-height:22px;
	font-family:"sfi";
	display:inline-block;
	position:absolute;
	right:5px;
	top:50%;
	margin-top:-15px;
}

.ui-div-right{
	display:block;
	padding:0 30px 0 0;
	position:relative;
	z-index:0;
}
.ui-div-right:after{
	content:"";
	color:#bfbfbf;
	font-size:18px;
	height:20px;
	line-height:20px;
	font-family:"sfi";
	display:inline-block;
	position:absolute;
	right:5px;
	top:50%;
	margin-top:-11px;
}

.input-text{
	padding:15px 10px 15px 0;
	font-size:1em;	
	line-height:1.5;
	color:#595959;
	width:100%;
	vertical-align:middle;
}
.fill{	
	display:block;	
}
.ui-fm,.ui-msg{
	background-color:#fff;
	border-top:rgba(0,0,0,.2) 1px solid;
	
	padding:0 1.65%;
}
.ui-box .ui-fm,.ui-msg{
	padding-top:3px;
	background-image:url(img/borderbg.gif);	
	background-repeat:repeat-x;
	border:0;
}
.ui-fm,.ui-box .ui-fm{
	border-bottom:rgba(0,0,0,.2) 1px solid;
}
.ui-fm .item{
	border-bottom:#e1e1e1 1px solid;
}
.ui-fm .item:last-child{
	border-bottom:0;	
}
.ui-fm .item.dashed{
	border-style:dashed;
}
.ui-fm .item .fill-con{
	padding:15px 0;
}
.ui-fm .item .box{
	padding:10px 0;
}
.ui-fm .item.item-max .ui-flex .flex-ico{
	width:66px;
}
.ui-fm .item.item-max .ui-flex .flex-con h3{
	font-size:1.25em;
	font-weight:bold;
	padding:5px 0 0 0;
}
.ui-fm .item.item-max .ui-flex .flex-con small{
	color:#ccc;
	display:block;
	font-weight:normal;
}
.ui-fm .item.item-fm .ui-flex .flex-ico{
	width:75px;
}
.ui-fm .item.item-fm label{
	display:inline-block;
	width:75px;
	color:#4f6175;
	padding:15px 0;	
}
.ui-fm .item.item-fm-m .placeholder{
	margin:5px 0;
	display:block;
}
.ui-fm .item.item-fm-range label{
	padding:20px 0;
}
.ui-fm .item.item-fm-range .ui-btn-right{
	padding:20px 30px 20px 0;
}
.ui-fm .item.item-fm-account .ui-btn-right{
	color:#4f6175;
	line-height:1.85em;
	padding:20px 30px 20px 0;
}
.left{
	float:left;	
}
.right{
	float:right;
}
.ui-fm .item.item-fm-points,.ui-fm .item.item-fm-points .ui-btn-right{
	color:#4f6175;
}
.ui-fm .item.item-fm-points .right{
	margin-top:10px;	
}
.fill-more{
	display:block;
}
.fill-more p:first-child{
	font-size:1.143em;	
}
.fill-more .address{
	margin:5px 0 0 0;
	font-size:.857em;
}
.fill-more .tel{
	margin-left:10px;
}
.fm-weight .input-text{
	width:50%;	
}
.fm-weight .placeholder{
	display:inline-block;
	width:49%;
	text-align:right;
}
.checkbox-fm{
	position:relative;
	z-index:0;
	padding-right:120px;	
}
.checkbox-fm .btn-normal{
	position:absolute;
	top:5px;
	right:0;	
}
.ui-fm.address-form .item.item-fm .placeholder{
	color:#a9a9a9;
}
.timing-form{
	position:relative;
	z-index:0;	
}
.timing-form .ico-exchange{
	position:absolute;
	top:34px;
	right:2px;	
	z-index:5;
}
.range-list p{
	margin:5px 0;
}
.ui-grid{
	border-top:rgba(0,0,0,.2) 1px solid;
	border-bottom:rgba(0,0,0,.2) 1px solid;
	overflow:hidden;
}
.ui-grid:after{
	clear:left;	
}
.ui-grid .grid{
	display:inline-block;
	border-right:#e5e5e5 1px solid;
	border-top:#e5e5e5 1px solid;
	background-color:#fff;
	width:33.3333333333333333333%;
	margin:0;
	float:left;	
	margin-top:-1px;
}
.ui-grid .grid:nth-of-type(3n){
	border-right:0;
}
.ui-grid .grid a{
	display:block;
	padding:20px 0;
	text-align:center;	
}
.ui-grid .grid h3{
	padding:5px 0 0 0;
}
.table{
	color:#cccccc;
}
.table .thead{
	width:100%;
	border-top:#d1d5da 1px solid;
	border-bottom:#e5e5e5 1px solid;
	background-color:#f9f9f9;
}
.table .thead .th:first{
	width:30%;
}
.table .tr-row:after{
	clear:left;	
}
.table .tr-row{
	display:table;
	width:100%;
}
.table .th,.table .td{
	display:table-cell;
	vertical-align:middle;
	padding:10px 0 10px 10px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.table .tbody{
	background:#fff;	
}
.table .tbody .tr-box{
	border-bottom:#e1e1e1 1px solid;	
}
.table .tfoot{
	background:#fff;
	border-bottom:#e5e5e5 1px solid;	
}
.table .explain{
	padding:10px;
}
.table-ship .tr-row .th:nth-of-type(1),.table-ship .tr-row .td:nth-of-type(1){
	width:25%;
}
.table-ship .tr-row .th:nth-of-type(2),.table-ship .tr-row .td:nth-of-type(2){
	width:40%;
}

.table-ship .tr-row .td2:nth-of-type(2){
	width:95%;
}

.table-ship .tr-row .td2 {
	line-height: 35px;
}

.table-ship .tr-row .td2 .d1-1 {
	padding-left: 10px;
	height: 70px;
	line-height: 70px;
}

.table-ship .tr-row .td2 .d1-2 {
	padding-left: 10px;
	font-size: 12px;
}

.table-ship .tr-row .td2 .d1-1 .div-left {
	width: 85px;
	float: left;
	height: 100%;
}

.table-ship .tr-row .td2 .d1-1 .div-left p {
	height: 28%;
}

.table-ship .tr-row .td2 .d1-1 .div-center {
	width: 40px;
	float: left;
	height: 100%;
	line-height: 70px;
	padding-top: 10px;
}

.table-ship .tr-row .td2 .d1-1 .div-right {
	width: 30%;
	float: right;
	height: 100%;
	line-height: 70px;
	padding-top: 10px;
	/*text-align: center;*/
}

.table-ship .tr-row .th:nth-of-type(3){
	width:24%
}
.table-ship .tr-row .td:nth-of-type(3){
	width:30%;
}
.table-ship .tr-row .td:nth-of-type(4){
	width:5%;
}
.table-points .tr-row .th:nth-of-type(1),.table-points .tr-row .td:nth-of-type(1){
	width:75%;
}
.table-points .tr-row .th:nth-of-type(2),.table-points .tr-row .td:nth-of-type(2){
	width:25%;
	text-align:right;
	padding-right:10px;
}
.table-ship .explain{
	padding:15px 10px;
	background-color:#f9f9f9;
	display:none;
}
.table-ship .open .explain{
	display:block;
}
.time-internal-introduce{
	width:100%;	
	background:#fff;
	color:#808080;
}
.time-internal-introduce img{
	max-width:35px;
	margin-bottom:5px;	
}
.time-internal-introduce .header th{
	padding:10px 3% 10px 3%;
	border-top:#d1d5da 1px solid;
	border-bottom:#e5e5e5 1px solid;
	background-color:#f9f9f9;
	font-weight:normal;
	text-align:left;
	color:#333;
}
.time-internal-introduce td{
	padding:5px 3% 5px 3%;
	height:35px;	
}
.time-internal-introduce .first-row td{
	border-top:#e1e1e1 1px solid;
}
.time-internal-introduce .comment td{
	color:#ec5b5b;
}
.time-internal-introduce .destination{
	width:85px;	
	color:#333;
	text-align:left;
}
.time-internal-introduce .time{
	width:110px;	
	color:#333;
}
/* tabs s */
.ui-tabs-menu{
	display:table;
	width:100%;
}
.ui-tabs-menu li{
	display:table-cell;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	text-align:center;
	padding:15px 0;
	cursor:pointer;
	border-bottom:#c4c4c4 1px solid;
	background-color:#fff;
}
.ui-tabs-menu li.cur{
	border-color:#e65a5a;
	border-width:2px;
	color:#e65a5a;
	position:relative;
	z-index:1;
}
.ui-tabs-content{
	display:none;	
}
.ui-tabs-menu.forbidden-menu li,.ui-tabs-menu.ui-region li{
	width:33.3333333333333333333333333%;	
}

/* tabs e */

.ui-msg{
	padding:0;	
	border-bottom:rgba(0,0,0,.2) 1px solid;
	color:#4f6175;	
}
.msg-title{
	text-align:center;
	padding:15px 10px;	
}
.msg-content{
	padding:10px;
	background:#f9f9f9 url(img/semi_circle.png) repeat-x;	
}
.msg-content p{
	padding:5px 0;	
}
.msg-content .box{
	padding:10px 0;
	border-top:#e1e1e1 1px dashed;
	margin-top:5px;	
}

/* address select */

.region-title {
	color:#333;
	background:#f8f8f8;
	padding:10px;
	border-bottom:#ddd 1px solid;
}
.cur-city {
	padding:10px;
	color:#ec5b5b;
}
.ui-con {
	background:#fff;
	border-bottom:#ddd 1px solid;
}
.hot-city {
	padding:5px 0;
}
.ui-con:after{	
	content: "\020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.hot-city li {
	float:left;
	width:33.3333333%;
	padding:5px 0;
	text-align:center;
}
.hot-city li a {
	background:#f3f3f3;
	color:#333;
	display:block;
	padding:8px 5px;
	margin:0 5px;
	border-radius:1.5em;
	-webkit-border-radius:1.5em;
}
.hot-city li a.cur, .region-list li a.cur, .service-title {
	color:#ec5b5b;
}
.region-list {
	padding:5px 0;
	font-size:0;
}
.region-list li {
	float:left;
	width:33.3333333%;
	text-align:center;
	margin:5px 0;
	vertical-align:top;
	display:inline-block;
	font-size:14px;
}
.region-list li:nth-of-type(3n+1) {
 clear:left;
}
.region-list li a {
	color:#333;
	display:inline-block;
	padding:.3em .5em;
}
.province-title, .city-title, .area-title {
	padding:10px;
	color:#fff;
}
.province-title {
	background:#595959;
}
.city-title {
	background:#acacac;
}
.area-title {
	background:#b9c0c8;
}

/* datePicker s */
.maskbox {
	position:fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background:rgba(0, 0, 0, .6);
	z-index:999;
}
.pop-picker-wrapper {
	position:fixed;
	left:0;
	bottom:0;
	width:100%;
	z-index:100;
}
.ui-picker-con {
	width:100%;
	background:#f5f5f5;
}
.ui-tabs-menu.datetime-menu li{
	width:50%;
	background:#f5f5f5;	
}
.ui-tabs-menu.address-menu li{
	width:33.333333333333333333333333%;	
}
.ui-picker-con .ui-tabs-content{
	display:none;	
}
.ui-picker-con .items-box {
	padding:5px 10px;
}
.ui-picker-con .list-prev, .ui-picker-con .list-next {
	background:#999;
	height:25px;
	line-height:25px;
	font-size:18px;
	width:100%;
	text-align:center;
	display:none;
}
.ui-picker-con .list-prev.disable, .ui-picker-con .list-next.disable {
	background:#ccc;
}
.ui-picker-con .list-prev {
	border-radius:3px 3px 0 0;
	-webkit-border-radius:3px 3px 0 0;
}
.ui-picker-con .list-next {
	border-radius:0 0 3px 3px;
	-webkit-border-radius:0 0 3px 3px;
}
.ui-picker-con .prev:before {
	color:#fff;
	content:"\e61f";
}
.ui-picker-con .next:before {
	color:#fff;
	content:"\e620";
}
.ui-picker-con .items-box{
	padding:5px 10px;	
}
.item-wrapper {	
	padding:0;	
}
.item-wrapper .items {	
	width:100%;
	padding:0;
}
.item-wrapper.scroll{
	height:160px;
	overflow:hidden;
	position:relative;
	margin:10px 0;
}
.item-wrapper.scroll .items{
	position:absolute;
	top:0;
	left:0;
}
.item-wrapper .items:after,.picker-btn:after{
	content:"\020";
	display: block;
	height:0;
	clear:both;
	visibility:hidden
}
.item-wrapper .items li {
	float:left;
	width:33.333333333333333%;
	text-align:center;
	height:40px;
	line-height:40px;
	border-radius:.3em;
	-webkit-border-radius:.3em;
	cursor:pointer;
	border:transparent 1px solid;
}
.item-wrapper .items li.current,.item-wrapper .items li:active,.item-wrapper .items li:active a,.item-wrapper .items li.current a{
	background:#f5f5f5;
	color:#e65a5a;
	border-color:#e65a5a;
}
.region-page{
	background:#fff;	
}
.ui-region .ui-tabs-menu li{
	width:33.333333333333333333333%;	
}
.ui-region .item-wrapper{
	background-color:#fff;
	padding:5px 10px;
	width:100%;
}
.ui-region .item-wrapper .items li{
	height:auto;
	min-height:35px;
	padding:8px 0;
	line-height:1.5;
	margin:5px 0;
	font-size:14px;
	vertical-align:top;
}
.ui-region .item-wrapper .items li .cur{
	color:#ec5b5b;
}
.ui-region .item-wrapper .items li:nth-of-type(3n+1){
	clear:left;	
}
.ui-timelist{
	padding:5px 10px;
}
.ui-timelist li {
	padding:10px 0;
	border-radius:.3em;
	-webkit-border-radius:.3em;
	cursor:pointer;
	display:table;
	width:100%;
	border:transparent 1px solid;
	text-align:center;
}
.ui-timelist li.selected {
	background:#f5eded;
	color:#ec5b5b;
	border-color:#ec5b5b;
}
.ui-timelist li .name,.ui-timelist li .date {
	display:inline-block;
	width:50%;
	display:table-cell;
	text-align:center;
}
.ui-picker-con .times-box .items li {
	width:33.333333333333333333%;
}
.picker-btn {
	padding:10px;
}
.picker-btn:after{
	clear:both;	
}
.picker-btn .ui-btn {
	display:inline-block;
	width:48%;
}
.picker-btn .btn-submit {
	float:right;
}
.picker-btn .btn-cancel {
	float:left;
}
/* datePicker e */

/* articel */
.inner-banner{
	padding:10px 10px 0 10px;	
}
.inner-banner img{
	width:100%;	
}
.grid-article{
	margin-top:10px;
	padding:10px;
	background-color:#fff;
	border-top:rgba(0,0,0,.2) 1px solid;
	border-bottom:rgba(0,0,0,.2) 1px solid;	
	line-height:1.8;
	color:#333;
}
.grid-article img{
	max-width:100%;	
}
.grid-article p{
	margin:5px 0;	
}
.grid-article h3,.grid-article h2,.grid-article h4,.grid-article h5{
	margin:5px 0;	
	color:#ec5b5b;	
}
.grid-article ul li{
	list-style:inside;
	margin:5px 0;	
}
.grid-article ol li{
	list-style:decimal inside;
	margin:5px 0;	
}
.grid-article a{
	color:#ec5b5b;
	text-decoration:underline;
}
.ui-promotion-info{
	color:#595969;	
}
.menu-list .ui-flex .flex-ico{
	width:30px;	
	margin-top:10px;
}
.menu-list .ui-flex .ico-circle{
	display:inline-block;
	width:30px;
	height:30px;
	color:#fff;
	background:#ec5b5b;
	line-height:30px;
	font-size:20px;
	text-align:center;
	border-radius:100%;
	-webkit-border-radius:100%;
}
.member-list .ui-flex .flex-ico{
	width:35px;	
	margin-top:8px;
}
.member-list .ui-flex .ui-ico-sfi{
	width:35px;
	height:35px;
}
.member-list .ui-flex .ui-ico-sfi:before{
	font-size:35px;
	line-height:35px;
}
.member-list a{
	color:#4f6175;	
}
.ui-list .item,.ui-list .item-m{
	border-bottom:rgba(0,0,0,.2) 1px solid;
	background-color:#fff;
	color:#4f6175;
}
.ui-list .item-m a{
	display:block;
	color:#4f6175;	
}
.ui-list .item-m{
	border-top:rgba(0,0,0,.2) 1px solid;
	margin-bottom:10px;
}
.express-top,.address-top{
	display:table;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	width:100%;
	padding:10px;
}
.express-top .express-code{
	font-size:1em;	
	white-space:nowrap;
}
.express-top .express-code,.express-top .express-city,.address-top .name,.address-top .mobilephone{
	display:table-cell;
	width:50%;	
}
.express-top .express-city,.address-top .mobilephone{
	text-align:right;
}
.express-status{
	padding:0 10px 10px 10px;
	color:#83909e;
	font-size:.857em;
}
.express-status .ui-flex .flex-ico{
	width:22px;	
	padding:0px 0;
}
.express-status .ui-flex .flex-con{
	padding:2px 0 2px 10px;
	border-left:#e5e5e5 1px solid;
}
.express-status .ui-flex .flex-ico .ui-ico-sfi{
	line-height:1em;	
	font-size:24px;
	font-weight:normal;
}
.express-status-max{
	padding:0 10px 10px 10px;
	color:#4f6175;
	position:relative;
	z-index:0;
}
.express-status-max .order-time{
	font-size:.857em;
	color:#a9a9a9;
}
.express-status-max .ui-flex .flex-ico{
	width:50px;	
	padding:0px 0;
}
.express-status-max .ui-flex .flex-con{
	padding:5px 0 0 0;
}
.express-status-max .ui-flex .flex-ico .ui-ico-sfi{
	line-height:1em;	
	font-size:24px;
	font-weight:normal;
}
.express-status-max .ico-arrow{
	position:absolute;
	top:10px;
	right:5px;
}
.express-info{
	padding:5px 10px;
	background-color:#f9f9f9;
	color:#4f6175;
	display:none;
	border-top:#e5e5e5 1px solid;
}
.express-btn{
	padding:10px;
	border-top:#e1e1e1 1px solid;		
	text-align:center;
}
.express-info p{
	margin:5px 0;	
}
.express-info .ui-cols2{
	display:table;
	width:100%;
}
.express-info .ui-cols2 .cols{
	display:table-cell;
	width:50%;
	vertical-align:middle;
}
.express-info a.ui-btn{
	color:#fff;
}
.express-info .remain{
	text-align:center;		
}
.express-info .remain p{
	font-size:.857em;
	margin:0;
}
.address-top{
	font-weight:normal;	
}
.address-info{
	padding:0 10px 10px 10px;	
	font-size:.857em;
}
.address-info .default{
	color:#ec5c5c;	
}
.address-item a{
	display:block;	
}
.address-item .ui-flex .flex-con{
	margin:0 0 0 0;	
}
.address-item .ui-flex .flex-ico{
	width:30px;	
	text-align:right;
	margin:20px 10px 0 0;
}
.store-item{
	padding:10px;
	color:#4f6175;
	position:relative;
	z-index:0;	
}
.store-item .distance{
	position:absolute;
	top:10px;
	right:10px;
}
.store-item .imgbox{
	width:60px;
	height:60px;
	border:#999 1px solid;
	position:relative;
	z-index:0;	
	text-align:center;
}
.store-item .imgbox img{
	max-width:100%;
}
.store-item .imgbox .favorite,.store-item .imgbox .favorited{
	display:none;
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	color:#fff;
}
.store-item .imgbox .favorite{
	font-size:.857em;
	background:rgba(0,0,0,.7);
	cursor:pointer;
}
.store-item .imgbox .favorited{
	font-size:.857em;
	background:rgba(263,91,91,.9);
}
.store-item .ui-flex .flex-ico{
	width:62px;	
}
.store-item .service-item{
	box-sizing:border-box;	
	-webkit-box-sizing:border-box;
}
.store-item .service-item i{
	margin-right:5px;
}
.store-item .service-ico{
	display:inline-block;
	width:40%;
	min-width:100px;
	max-width:150px;
	margin:5px 0 0 0;	
}
.store-item p,.store-item .distance{
	color:#83909e;
	font-size:.857em;
}
.item-checkbox .store-item .ui-flex .flex-ico:last-child{
	margin:20px 0 0 10px;
	width:30px;
}
.item-checkbox .store-item .distance{
	right:60px;
}
.store-action{
	padding:10px 0 0 0;
	border-top:#bbb 1px solid;
	display:table;
	width:100%;
}
.store-action .cols{
	display:table-cell;	
	width:48%;
}
.store-action .cols:first-child{
	padding-right:4%;
	width:52%;
}
.store-action .cols .ui-btn{
	min-width:50px;	
	width:100%;
	padding:9px 0;
}
.store-info-item h3{
	font-size:1.143em;	
}
.store-info-item .imgbox{
	width:75px;
	height:75px;
	border:#999 1px solid;
	position:relative;
	z-index:0;	
	text-align:center;
}
.store-info-item .ui-flex .flex-ico{
	width:77px;	
}
.textarea{
	width:100%;
	font-size:1em;
	color:#595959;	
	line-height:1.5;
	min-height:150px;
}
.advice-box{
	padding:10px 0;	
}
.upload-img-list{
	padding:10px 0 0 0;
	box-sizing:border-box;	
	-webkit-box-sizing:border-box;
	width:auto;
}
.upload-img-list .item{
	float:left;
	display:table;
	width:50px;
	height:50px;
	vertical-align:middle;
	text-align:center;
	margin-right:10px;	
	border:0;
}
.upload-img-list .item img{
	max-width:50px;	
	max-height:50px;
	vertical-align:middle;
}
.upload-img-list .btn-upload{
	width:50px;
	height:50px;	
	display:table-cell;
	vertical-align:middle;	
	position:relative;
	z-index:0;
	overflow:hidden;
}
.upload-img-list .btn-upload:active .text{
	color:#808080;
}
.upload-img-list .btn-upload .uploadfile{
	position:absolute;
	top:0;
	left:0;	
	height:50px;
	z-index:2;	
	opacity:0;
	-webkit-opacity:0;
}
.upload-img-list .btn-upload .text{
	position:absolute;
	top:0;
	left:0;
	display:block;
	width:48px;
	height:48px;
	line-height:100%;
	font-size:45px;
	color:#bebebe;	
	font-weight:100;
	z-index:1;
	box-sizing:border-box;	
	-webkit-box-sizing:border-box;
	border:#bebebe 1px solid;
}
.ui-onlineService{
	background:#e3e7ed;
	padding-bottom:75px;	
}
.float-send{
	position:fixed;
	left:0;
	bottom:0;
	z-index:1000;
	width:100%;
	background-color:#f7f7f7;
	border-top:#c9c9c9 1px solid;
	padding:10px 15px;
	box-sizing:border-box;	
	-webkit-box-sizing:border-box;	
}
.float-send .service-send{
	padding:0 80px 0 0;
	position:relative;
}
.float-send .service-send input[type="text"]{
	padding:10px;
	border:#d0d0d0 1px solid;
	border-radius:.3em;
	-webkit-border-radius:.3em;
	font-size:1em;
	height:45px;
	color:#595959;
	width:100%;
}
.float-send .service-send .btn-submit{
	width:70px;
	max-width:70px;
	min-width:70px;
	position:absolute;
	top:0;
	right:0;
}
.promotion-item{
	display:block;
	padding:10px;	
}
.promotion-item .banner img{
	width:100%;	
}
.promotion-item .title{
	padding:10px 75px 0 0;
	position:relative;
	z-index:0;
	line-height:1.8em;
}
.promotion-item .title .remain{
	position:absolute;
	top:10px;
	right:0;
	display:inline-block;	
	color:#fff;
	background-color:#ec5b5b;
	padding:0 5px;
	line-height:1.8em;
	text-align:center;
	min-width:65px;
	border-radius:15px;
	-webkit-border-radius:15px;
}
.grid-binded{
	text-align:center;
	padding:30px 10px;
	color:#4f6175;	
}
.grid-binded .ico{
	margin-bottom:10px;	
}
.grid-binded .ico img{
	max-width:125px;
}
.grid-binded h2{
	font-size:1.143em;	
	padding:10px 0;
	font-weight:bold;
}
.ui-dialog {
	position: fixed;
	top:0;
	left:0;
	background:#e3e7ed;
	z-index:1100;
	border-radius:.3em;
	-webkit-border-radius:.3em;
	width:96.4%;
	margin-left:auto;
	margin-right:auto;
}
.ui-dialog-title {
	padding:10px 0;
	text-align:center;
	border-bottom:#ddd 1px solid;
	color:#ed2210;
	font-weight:bold;
}
.ui-dialog-content {
	padding:10px;
	overflow-y:auto;
}
.ui-alert-content{
	padding:20px 10px;
	overflow-y:auto;
	color:#595959;
	font-size:1.143em;
	background:url(img/bodybg.gif) repeat;
}
.ui-dialog-bt {
	padding:10px;
	background-color:#fff;
	border-top:#dcdcdc 1px solid;
}
.ui-dialog-bt.ui-cols2 .ui-btn{
	width:48%;
	min-width:60px;
}
.ui-dialog-bt.ui-cols2 .btn-submit{
	float:right;	
}
.ui-dialog-bt.ui-cols2 .btn-cancel{
	float:left;	
}
.dialog-html {
	display:none;
}
.dialog-tips {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	padding:0 1.5%;
	z-index:100;
	text-align:center;
	display:none;
}
.dialog-tips .content {
	padding:10px;
	display:inline-block;
	background:rgba(79, 97, 117, .8);
	color:#fff;
	font-size:1em;
	max-width:620px;
	text-align:left;
	margin:0 auto;
	border-radius:5px;
	-webkit-border-radius:5px;
}
.pop-help{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#f9f9f9 url(img/help_bg_shadow.png) no-repeat top left;
	background-size:100% auto;	
	z-index:1000;	
	display:none;
}
.pop-help .ico-close{
	position:fixed;
	top:-55px;
	right:-55px;
	z-index:1010;
	display:inline-block;
	background:#d8d8d8;	
	width:110px;
	height:110px;
	border-radius:100%;
	-webkit-border-radius:100%;
}
.pop-help .ico-close:active{
	background-color:#6c6c6c;
}
.pop-help .ico-close:before{
	font-size:24px;
	color:#fff;
	margin:60px 0 0 -40px;
}
.pop-help .help-content{
	padding:10px;	
	text-align:center;
}
.pop-help .help-title{
	color:#4f6175;
	font-size:1em;
	text-align:left;
}
.pop-help .help-title i{
	display:inline-block;
	vertical-align:middle;
	background-color:#ec5b5b;
	color:#fff;
	text-align:center;
	line-height:16px;
	height:16px;
	width:16px;	
	font-size:.857em;
	border-radius:100%;
	-webkit-border-radius:100%;
	margin-left:5px;
}
.pop-help .help-banner{
	text-align:center;
	padding:10px 0 20px 0;	
}
.pop-help .help-button{
	padding:15px 0;	
}
.pop-help .help-button .text_1{
	width:50px;
}
.pop-help .help-button .text_3{
	width:75px;
}
.pop-help .banner-1 img{
	width:160px;	
}
.pop-help .help-text-1 img{
	width:220px;
}
.pop-help .banner-2 img,.pop-help .banner-3 img{
	width:130px;	
}
.pop-help .help-text-2{
	padding:0 0 5px 0;
}
.pop-help .help-text-2 img{
	width:190px;
}
.pop-help .help-text-3{
	padding:5px 0 5px 0;
}
.pop-help .help-text-3 img{
	width:250.1px;
}
.pop-store{
	position:absolute;
	top:50%;
	left:40px;
	width:300px;		
}
.pop-store .store-content{
	background-color:rgba(255,255,255,.9);
	padding:10px;
	border:#a2a2a2 1px solid;
	border-radius:5px;
	-webkit-border-radius:5px;
	box-shadow:rgba(0,0,0,.2) 0px 4px 4px;
}
.pop-store .store-item{
	padding:0 0 10px 0;
}
.pop-store .store-item .distance{
	top:0;	
	right:0;
}
.pop-store .arrow1,.pop-store .arrow2{
	position:absolute;	
	height:0;
	width:0;
}
.pop-store .arrow1{
	z-index:10010;
	bottom:-15px;
	left:132px;
	border-top:#a2a2a2 16px solid;
	border-left:transparent 15px solid;
	border-right:transparent 15px solid;
}
.pop-store .arrow2{
	z-index:10012;
	bottom:-14px;
	left:134px;
	border-top:#fff 15px solid;
	border-left:transparent 13px solid;
	border-right:transparent 13px solid;
}
.top-lace{
	background:url(img/top_lace.png) repeat-x 0 0;
	background-size:auto 4px;
	height:5px;	
}
.accepted-item{
	padding:15px 10px;	
}
.accepted-item .flex-ico{
	margin-right:10px;	
}
.accepted-item .flex-con{
	padding:10px 0 0 0;	
}
.item-normal{
	padding:15px 10px;
}
.introduce-box{
	background:url(img/bg_box.gif) repeat;
	border:#e5e5e5 1px solid;
	padding:15px;	
	color:#4f6175;
}
.introduce-box .ui-flex .flex-ico{
	width:100px;	
}
.introduce-box .photo{
	width:95px;	
	min-height:130px;
	position:relative;
	z-index:0;
}
.introduce-box .photo .pin{
	position:absolute;
	top:-10px;
	right:15px;
	display:inline-block;
	width:15px;
	height:26px;
	background:url(img/photo_pin.png) no-repeat;
	background-size:15px auto;
	opacity:.65;
	-webkit-opacity:.65;
}
.introduce-box .photo .imgbox{
	position:absolute;
	top:0;
	left:0;
	display:inline-block;
	width:80px;
	height:120px;
	background-color:#fff;
	padding:3px;
	border:#dadada 1px solid;
	overflow:hidden;	
}
.introduce-box .photo .imgbox img{
	width:100%;	
}
.introduce-box .photo .imgbox:first-child{
	transform:rotate(10deg);
	-webkit-transform:rotate(10deg);
}
.introduce-box .photo a.view{
	display:block;
	width:70px;
	position:absolute;
	left:4px;
	bottom:5px;
	background-color:rgba(0,0,0,.5);
	color:#fff;	
	font-size:12px;
	padding:0 5px;
}
.introduce-list h3{
	font-size:22px;
	font-weight:bold;	
}
.introduce-list .item{
	border-top:#fafafa 1px solid;
	border-bottom:#d5d5d5 1px solid;
	padding:5px 0;
}
.introduce-list .item:first-child{
	border-top:0;	
}
.introduce-list .item:last-child{
	border-bottom:0;	
}
.nodata{
	padding:50px 3.906%;
	text-align:center;
}
.nodata img{
	width:180px;
}
.pop-loading{
	position:fixed;	
	width:320px;
	height:125px;
	margin:0 auto;
	top:50%;
	left:50%;
	margin:-47px 0 0 -160px; 
	z-index:100;
	text-align:center;
	
}
.pop-loading .loading{
	display:inline-block;
	background:rgba(79,97,117,.7);
	padding:10px 20px;	
	border-radius:10px;
	-webkit-border-radius:10px;
	color:#eee;
}
.wrap-loading{
	position: absolute;	
	width:320px;
	height:95px;
	margin:0 auto;
	top:50%;
	left:50%;
	margin:-47px 0 0 -160px; 
	z-index:100;
	text-align:center;
}
.loading{		
	color:#aaa;	
	text-align:center;	
}
.loading .ico{
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: step-start;
	-webkit-animation-duration: 950ms;
	-webkit-animation-name: loading;
  	animation-name: loading;
	width:60px;
	height:72px;
	display:inline-block;
	background:url(img/loading.png) no-repeat 0 0;	
	margin-bottom:5px;
}
@-webkit-keyframes loading {
	0% {background-position: 0 0;}
	12.5% {background-position: -70px 0;}
	25% {background-position: 0 0;}
	37.5% {background-position: -70px 0;}
	50% {background-position: 0 0;}
	62.5% {background-position: -70px 0;}
	75% {background-position: 0 0;}
	87.5% {background-position: -70px 0;}
}

@keyframes loading {
	0% {background-position: 0 0;}
	12.5% {background-position: -70px 0;}
	25% {background-position: 0 0;}
	37.5% {background-position: -70px 0;}
	50% {background-position: 0 0;}
	62.5% {background-position: -70px 0;}
	75% {background-position: 0 0;}
	87.5% {background-position: -70px 0;}
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s; 
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes slideInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }

  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.changeLine{
	word-break:break-all;
	 overflow:auto;
}

.must2:before{
	content:'*';
	color:#ff0000;
	margin:20px 5px 15px 0;
	font-size:1em;
	float: left;
	line-height: 100%;
}

.must3:before{
	content:'*';
	color:#ff0000;
	margin:6px 5px 0 0;
	font-size:1em;
	float: left;
	line-height: 100%;
}
.must4:before{
	content:'*';
	color:#ff0000;
	margin:12px 5px 15px 0;
	font-size:1em;
	float: left;
	line-height: 100%;
}

.tel{
	margin-right:10px;
	float: right;
	color:#595959;
}

.must2 .name{
	color:#595959;
}

.btn-fontStyle{
	color:#cccccc;
	font-size: 14px;
}

.lable-fontStyle{
	color:#595959;
	font-size: 14px;
	float: left;
}

.text-fontStyle{
	color:#595959;
	font-size: 14px;
}

.p-topBottom10{
	padding-top: 10px;
	padding-bottom: 10px;
}

.div-btn-p{
	padding-left: 85px;
}

.lable-margin{
	  padding-top: 6px;
}

.div-botton-border{
	border-bottom: rgba(0,0,0,.2) 1px solid;
}

.div-lr-padding{
	padding:0 1.65%;
}

.text-margin-left-6{
	margin-left: 6px;
}

.text-margin-left-10{
	margin-left: 10px;
}


.contract-color{
	color: #e65a5a;
}

.text-align-center{
	text-align: center;
}

.a-btn-msg{
	height: 50px;
}

.a-btn-msg-null{
	height: 50px;
	line-height: 50px;
}

.ico-jjcxfw:before{
	width:100px;
	height:30px;
	line-height:60px;
	color:#cccccc;	
	font-size:14px;
	text-align:center;
	content:"寄件查询服务";
	background: #F0F3F5;
	padding: 0 10px;
}

.div-service{
	height: 30px; 
	border-bottom: #e1e1e1 1px solid;
	margin:0 5px;text-align: center;
}

.ul-service{
	width: 100%;
	height: 60px;
	text-align: center;
	margin-top: 25px;
}

.ul-service .li-item{
	height: 100%;
	width: 33.33333%;
	float: left;
}

.ul-service .li-item p{
	color: #969696;
}

.ico-service-style{
	font-size: 36px;
	color: #969696;
	height: 36px;
	width: 100%;
  	line-height: 36px;
}

.sf-icon-img{
	width: 25px;
	height: 25px;
	margin-right: 10px;
}
/*提示框 s*/
.prompt-box{
	background-color: #FFFFFF;
	margin: 0 20px;
	margin-top: 50%;
	border-radius: 6px;
	text-align: center;
	padding-top:16px;
}

.prompt-box h2{
	margin-top: 10px;
	font-size: 18px;
}

.prompt-box .prompt-content p{
	margin: 10px 0;
	padding: 0 16px;
}
.prompt-box .promp-btn{
	font-size: 18px;
	border-top: 1px solid #CCCCCC;
	height: 46px;
	line-height: 46px;
}
.prompt-box .promp-btn a{
	color: #ec5b5b;
}
/*提示框 e*/

/*鏌ヨ s*/
.query-box{
	border: rgba(0,0,0,.2) 1px solid;
	height: 44px;
	margin: 10px 0; 
	border-radius: 5px;
	width: 76%;
  	float: left;
}

.query-box .input-text{
	margin-top: 0px;
	padding-right: 0px;
	width: 65%;
	height: 95%;
	-webkit-border-radius: .3em;
}
.search-icon{
	width: 28px;
	text-align: center;
	line-height: 100%;
	font-size: 22px;
	color: #CCCCCC;
}
.ico-parcel2:before{
	content: "\e81a";
	font-size: 28px;
}

.ico-circle-1-2:before{
	font-family: "sfi";
	content: "3";
	display: inline-block;
	vertical-align: middle;
	top: -12px;
	left: -8px;
	position: relative;
	z-index: 2;
	font-size: 9px;
	color: #FFFFFF;
}

.ico-circle-1-2:after{
	font-family: "sfi";
	content: "\e80c";
	display: inline-block;
	vertical-align: middle;
	top: -13px;
	left: -19px;
	position: relative;
	z-index: 1;
	font-size: 13px;
	color: #DE3535;
}

.div-padding-top-buttom10{
	padding: 10px 0;
}

.ui-text{
	text-align: center;
	width: 100%;
	height: 33px;
	line-height: 33px;
}
/*查询  e*/

/*确认提示框*/
.tip-box{
	background-color: #FFFFFF;
	margin: 0 20px;
	margin-top: 180px;
	border-radius: 6px;
	text-align: center;
	padding-top:16px;
}

.tip-box h2{
	margin-top: 10px;
	font-size: 18px;
}
.tip-box .tip-content p{
	margin: 10px 0px;
	padding: 0 16px;
	min-height: 50px;
}
.tip-box .tip-btn{
	font-size: 18px;
	border-top: 1px solid #CCCCCC;
	height: 46px;
	line-height: 46px;
	margin-top: 10px;
	padding: 4px 0;
}
.tip-box .tip-btn-a-div{
	color: #ec5b5b;
	width: 50%;
	height: 95%;
	float: left;
	line-height: 40px;
}
.tip-box .tip-btn-a1 .tip-btn-a-div{
	color: #CCCCCC;
}
.tip-box .tip-btn-a2 .tip-btn-a-div{
	border-left: 1px solid #CCCCCC;
}
/*纭鎻愮ず妗� e*/

.img-div{
	text-align: center; 
	width: 100%;
	padding-left: 30px;
}
.img-div img{
	width: 50%;
}

.text-fontStyle2 {
	color: #CCCCCC;
	font-size: 12px;
}

.img-bindingphone{
	text-align: center; 
	width: 100%;
}

.img-bindingphone img{
	width: 90px;
}

.ui-btn-right2:after{
	content:"\e82e";
	color:#bfbfbf;
	font-size:18px;
	height:20px;
	line-height:20px;
	font-family:"sfi";
	display:inline-block;
	position:absolute;
	right:5px;
	margin-top:5px;
}

.btn-buttom-line {
  color: #E65A5A;
  padding: 5px 15px;
  border: rgba(237,140,140,1) 1px solid;
  width: auto;
  min-width: 60px;
  font-size: 1.143em;
  border-radius: .3em;
  -webkit-border-radius: .3em;
  text-shadow: rgba(0,0,0,.1) 1px 1px 0px;
  background-color: #fff;
}
.btn-buttom-line2 {
  color: #E65A5A;
  padding: 5px 5px;
  border: rgba(237,140,140,1) 1px solid;
  width: auto;
  min-width: 50px;
  font-size: 1.143em;
  border-radius: .3em;
  -webkit-border-radius: .3em;
  text-shadow: rgba(0,0,0,.1) 1px 1px 0px;
  background-color: #fff;
}

.btn-buttom-line3{
	color: #E65A5A;
  	padding: 9px 10px;
  	border: rgba(237,140,140,1) 1px solid;
  	width: auto;
  	min-width: 150px;
  	font-size: 1.143em;
  	border-radius: .3em;
  	-webkit-border-radius: .3em;
  	text-shadow: rgba(0,0,0,.1) 1px 1px 0px;
  	background-color: #fff;
}

.btn-color-hui{
	color: #CCCCCC;
	border: rgba(216,216,216,1) 1px solid;
}

.lx-add .address{
	color: #cccccc;
}

.text-hui{
	color: #cccccc;
}

.ico-ck-style{
	color: #E65A5A;
	font-size: 26px;
	height: 24px;
	width: 24px;
	line-height: 24px;
	left: 0;
	margin: 0;
}

.ico-circle-null{
	color: #FFFFFF;
	font-size: 23px;
	height: 23px;
	line-height: 23px;
	-webkit-border-radius: 50%;
	border: rgba(216,216,216,1) 1px solid;
}

.text-add{
	margin: 17px 0;
  	width: 95%;
  	font-size: 14px;
  	width: 95%;
  	color: #595959;
}
/*sf04*/
.ico-exchange{
	width:65px;
	height:30px;
	line-height:30px;
	color:#E65A5A;	
	font-size:30px;
	text-shadow:rgba(0,0,0,.2) 1px 1px 1px;
	text-align:center;
	background-color:#fff;
}



/*sf06 s*/
.ui-text{
	padding: 10px 0;
	height: 90px;
}

.ui-text .ui-text-left{
	width: 25%;
	height: 100%;
	float: left;
}

.ui-text .ui-text-img{
	width: 70px;
	height: 70px;
}
.ui-text .ui-text-left img{
	width: 100%;
	height: 100%;
}

.ui-text .ui-text-center{
	width: 55%;
	height: 100%;
	float: left;
	padding-left: 5px;
}

.ui-text .ui-text-center p{
	height: 24px;
	line-height: 23px;
	text-align: left;
}
.ui-text .ui-text-center p:nth-of-type(1){
	font-size: 16px;
}

.ui-text .ui-text-center p:nth-of-type(2) a{
	color: #E65A5A;
	font-size: 16px;
}

.ui-text .ui-text-center p:nth-of-type(3){
	height: 23px;
	line-height: 30px;
	text-align: left;
	color: #ACACAC;
}

.ui-text .ui-text-right{
	width: 20%;
	height: 100%;
	float: left;
}
.ui-text .ui-text-right p{
	float: right;
	text-align: right;
	color: #ACACAC;
}

.icon-collection:before{
	font-family: "微软雅黑";
	content: "已收藏";
	width:72px;
	height:20px;
	line-height:20px;
	color: #fff;
	font-size:12px;
	z-index: 1;
	margin-top: -61px;
	text-align:center;
	background-image: -webkit-linear-gradient(top, rgba(216,86,87, 0.9) 0%, rgba(215,85,86, 0.9) 40%, rgba(233,102,101, 0.9) 98%, #E96665 100%); 
}

.ui-text .ui-text-center-right{
	width: 75%;
	height: 100%;
	float: left;
	padding-left: 5px;
}

.ui-text .ui-text-center-right p{
	height: 24px;
	line-height: 23px;
	text-align: left;
}
.ui-text .ui-text-center-right p:nth-of-type(1){
	font-size: 16px;
}

.ui-text .ui-text-center-right p:nth-of-type(2) a{
	color: #E65A5A;
	font-size: 16px;
}

.ui-text .ui-text-center-right p:nth-of-type(3) a{
	color: #E65A5A;
	font-size: 16px;
}

.ui-text .ui-text-center-right p a .lab-p{
	color: #595959;
	font-size: 12px;
	padding: 0 0 0 5px;
}

.ui-flex .text-ico{
	width:30%;
	text-align: right;
	padding: 15px 0;
}
.ui-flex .text-con{ 
	margin:0;
	width: 70%;
	padding: 15px 0;
	
}
.ui-flex .text-ico span{
	width: 100%;
	display: inline-block;
  	color: #5C5C5C;
  	text-align: right;
}

.ui-flex .text-con p{
	width: 100%;
  	color: #5C5C5C;
  	text-align: left;
  	float: left;
}
.ui-flex .text-con span{
	border: 0;
}

.ico-tphone-s{
	font-size: 24px;
	color: #E65A5A;
	height: 28px;
	line-height: 28px;
	margin-top: -5px;
}

.header-bottom-line{
	border-bottom:0;
}
/*sf06 e*/

/*sf07 s*/
.ico-star{
	width:18px;
	height:16px;
	background: url(img/ico-star2.png) no-repeat -18px 0;
	background-size:auto 16px;
	margin-right:5px;
}
.ico-star.able{
	background-position:0 0;
}

.xiuxian {
  padding: 10px 0;
  border-top: #e1e1e1 1px dashed;
  margin-top: 5px;
}

.icon-s-x:before{
	font-family: "微软雅黑";
	content: "|";
	width:10px;
	height:20px;
	line-height:16px;
	color: rgb(230,90,90);
	font-size:12px;
	font-weight: bold;
	text-align:center;
}

/*对话框�/
.msg-div {
	width: 100%;
}

.msg-div .msg-box-h{
	border:1px solid rgb(210,210,210);
	min-width:40px;
	min-height: 40px;
	-webkit-border-radius: 20px;
	margin-left: 10px;
}
.msg-div .msg-box-h .msg-lt-h{
	width: 18px;
  	height: 9px;
  	background: url(img/top-lt-h.png);
  	position: absolute;
  	z-index: 2;
  	margin: 1px 0 0 -8px;
}
/*.msg-div .msg-box-red{
	border:1px solid rgb(230,90,90);
	min-width:40px;
	min-height: 40px;
	-webkit-border-radius: 20px;
	margin: 10px 10px;
}*/
.msg-div .msg-box-red{
	border:1px solid rgb(230,90,90);
}
.msg-div .msg-box-red .msg-lt-h{
	width: 16px;
  	background: url(img/top-lt-red.png);
  	margin: 1px 0 0 -7px;
}
/*div内容自适应*/
.msg-div div[class^="msg-box-"]{
	margin: 10px 10px;
	width:auto; 
	display:inline-block !important; 
	display:inline;
}

.msg-div div[class^="msg-box-"] p{
	margin: 10px 15px;
}

.msg-input {
	width: 100%;
	padding: 15px 5px;
}
.msg-input .msg-box-input{
	border: rgba(229,229,229,1) 1px solid;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	background-color: rgba(240,240,240,1);
	text-align: center;
}
.msg-input .msg-box-input input{
	width: 95%;
	background-color: rgba(240,240,240,1);
	padding: 12px 10px 12px 0;
}
/*sf07 e*/

/*sf01_JGWD s*/
.ui-tap-title{
	width: 100%;
	height: 50px;
	/*border: red solid 1px;*/
}

.ui-tap-title .ui-tap-btn{
	/*border: #4F6175 solid 1px;*/
	width: 49.5%;
	float: left;
	text-align: center;
}
.ui-tap-title .ui-tap-btn .ui-btn{
	border-bottom: rgb(231,127,127) solid 1px;
	width: 70%;
	text-align: center;
	padding: 14px 0;
}

.ui-tap-title div:nth-child(2){
	float: left;
	border-right: #CCCCCC solid 1px;
	width: 1px;
	height: 30px;
	margin-top: 10px;
}

.lab-state{
	color: rgb(230,90,90);
	float: right;
}

.express-msg {
	padding: 0;
}
.express-msg div{
	color:rgb(89,89,89);
	text-align: left;
}
.express-msg .se-add{
	height: 40%;
	font-size: 18px;
	text-align: left;
}
.express-msg .line-fx{
	color:rgb(172,172,172);
	font-size: 14px;
}
.express-msg .yuji-time{
	color:rgb(172,172,172);
}

.ico-yqskj:before{
	width:100px;
	height:30px;
	line-height:60px;
	color:#cccccc;	
	font-size:14px;
	text-align:center;
	content:"已签收快件";
	background: #F0F3F5;
	padding: 0 10px;
}

.btn-del-line {
	color:rgb(172,172,172);
	padding:4px 10px;
	border:1px solid rgb(210,210,210);
	width:auto;
	min-width:60px;
	font-size:14px;
	border-radius:.3em;
	-webkit-border-radius:.3em;
	text-shadow:rgba(0,0,0,.1) 1px 1px 0px;
	margin-top: -5px;
}

.box-yc{
	position: absolute;
	z-index: 999;
	margin-top: -132px;
	right: 10px;
}
.box-yc img{
	width: 125px;
	height: 84px;
	/*opacity:0.6;*/
}

.cd-Home{
	width: 0px;
	left: 12px;
	bottom: 60px;
	display: inline-block;
	position: fixed;
	z-index: 999;
	text-indent: 100%;
	white-space: nowrap;
}

.ico-home:before{
	content: "\e82c";
	color: rgba(50,50,50,0.8);
	font-size: 60px;  
	position: absolute;
	z-index: 1000;
	height: 60px;
	width: 60px;
	line-height: 60px;
	text-align: center;
}

.express-msg .yjsm-time{
	text-align: left;
}
.express-msg .yjsm-time p{
	height: 22px;
	line-height: 22px;
}
.express-msg .sm-addr{
	text-align: left;
	margin: 5px 0;
}
.express-msg .sm-addr p{
	height: 22px;
	text-align: left;
	line-height: 22px;
}

.ico-time-style:before{
	content: "\e802";
	font-size: 20px;
	color: #969696;
	margin-right: 10px;
	height: 22px;
	line-height: 22px;
}

.lab-state-hui{
	color: rgb(204,204,204);
	float: right;
}
.ico-location-style:before{
	content: "\e804";
  	font-size: 22px;
  	color: #969696;
  	margin-right: 10px;
  	height: 22px;
  	line-height: 22px;
}
/*sf01_JGWD e*/
