@charset "utf-8";
.loading03 .ico{
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: step-start;
	-webkit-animation-duration: 400ms;
	-webkit-animation-name: loading03;
  	animation-name: loading03;
	width: 120px;
    height:84px;
	display:inline-block;
	background:url(img/001.png) no-repeat ;	
	margin-bottom:5px;
}
@-webkit-keyframes loading03 {
	 0% {background-position: 0 0;}
    33.33333333333% {background-position: -120px 0;}
    66.66666666666% {background-position: -240px 0;}
    100% {background-position: 0 0;}
}

@keyframes loading03 {
	 0% {background-position: 0 0;}
    33.33333333333% {background-position: -120px 0;}
    66.66666666666% {background-position: -240px 0;}
    100% {background-position: 0 0;}
}
.loading .ico{
-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: step-start;
	-webkit-animation-duration: 1200ms;
	-webkit-animation-name: loading;
  	animation-name: loading;
	width: 77px;
    height:132px;
	display:inline-block;
	background:url(img/003.png) no-repeat ;	
	margin-bottom:5px;

}
/* 璺戞鍔ㄧ敾鍚嶇О */
@-webkit-keyframes loading{/* 瓒呭揩 */
    0% {background-position: 0 0;}   
	25% {background-position: -77px 0;}  
	50% {background-position: 0 0;}   
    75% {background-position: -77px 0;}   
    100% {background-position: 0 0;}
}
@keyframes loading{
	0% {background-position: 0 0;}   
	25% {background-position: -77px 0;}  
	50% {background-position: 0 0;}   
    75% {background-position: -77px 0;}   
    100% {background-position: 0 0;}
}
.loading02 .ico{
    -webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: step-start;
	-webkit-animation-duration: 600ms;
	-webkit-animation-name: loading02;
  	animation-name: loading02;
	width: 50px;
    height:50px;
	display:inline-block;
	background:url(img/004.png) no-repeat ;	
	margin-bottom:5px;
}
/* 璺戞鍔ㄧ敾鍚嶇О */
@-webkit-keyframes loading02{/* 瓒呭揩 */
    0% {background-position: 0 0;}
	25% {background-position: -50px 0;}
	 50% {background-position: -100px 0;}
	 75% {background-position: -150px 0;}
    100% {background-position: 0 0;}
}
@keyframes loading02{
	 0% {background-position: 0 0;}
	25% {background-position: -50px 0;}
	 50% {background-position: -100px 0;}
	 75% {background-position: -150px 0;}
    100% {background-position: 0 0;}
}
.pop-loading{
	position:fixed;	
	width:320px;
	height:260px;
	margin:0 auto;
	top:35%;
	left:50%;
	margin:-47px 0 0 -160px; 
	z-index:100;
	text-align:center;
	
}
.pop-loading .loading{
	display:inline-block;
	background:rgba(51,51,51,.5);
	padding:10px 30px;	
	border-radius:10px;
	-webkit-border-radius:10px;
	color:#eee;
	
}

.loading{		
	color:#aaa;	
	text-align:center;	
}
.pop-loading02{
	position:fixed;	
	width:320px;
	height:260px;
	margin:0 auto;
	top:50%;
	left:50%;
	margin:-47px 0 0 -160px; 
	z-index:100;
	text-align:center;
	
}
.pop-loading02 .loading02{
	display:inline-block;
	background:rgba(51,51,51,.5);
	padding:10px 20px;	
	border-radius:10px;
	-webkit-border-radius:10px;
	color:#eee;
}

.loading02{		
	color:#aaa;	
	text-align:center;	
}
.pop-loading03{
	width:20px;
	height:94px;
	margin:0 auto;
	z-index:100;
	text-align:center;
	position:relative;
	
}
.pop-loading03 .loading03{
	display:inline-block;
	
	padding:0;	
	border-radius:10px;
	-webkit-border-radius:10px;
	color:#eee;
	position: absolute;
}

.loading03{		
	color:#aaa;	
	text-align:center;	
}