ico-box.color01{ color:#acacac}
.colorred{ color:#e65a5a}
.colorgrey01{ color:#595959}
.colorgrey02{ color:#cccccc}
.colorgreen{ color:#a7c372}
.font01{font-family:"Microsoft YaHei";
	font-size:0.825em;}
.font02{font-family:"Microsoft YaHei";
	font-size:1em;}
.font03{
	font-family: arial;
	font-size: 1.em;
}
.border-top01{ border-top:0px !important}
.border-bottom01{ border-bottom:0px !important}
.grid-btn {
  width: 78.125%;
  margin: 0 auto;
  padding: 20px 10px;
  text-align: center;
}

.ui-fm, .ui-msg,.ui-fm1 {
  background-color: #fff;
  border-top: rgba(0,0,0,.1) 1px solid;
}
.ui-fm .item.item-fm-m01,.ui-fm1 {
  padding: 3% 3%;
  display: block;
  font-size: 1em;
}
.ui-fm-top0{
  background-color: #fff;
  border-top: rgba(0,0,0,.1) 0px solid;
  padding: 0 3%;
  border-bottom: rgba(0,0,0,.1) 1px solid;
  
}

.ui-fm-top0 .item{
	padding: 10px 0;
	border-bottom: #e1e1e1 1px solid;
}

.ui-fm-top0 li:last-child{
	padding: 10px 0;
	border-bottom: #e1e1e1 0px solid;
}

.ui-fm-top0 .item .ui-text p{
	padding: 5px 0 0 0;
	font-size: 1.143em;
}

.ui-fm-top0 .item .ui-text p:nth-child(3) span{
	color: #e65a5a;
}

.grid-main {
  margin-top: 10px;
}

.ui-fm,.ui-fm1{
  background-color: #fff;
  border-top: rgba(0,0,0,.1) 1px solid;
  border-bottom: rgba(0,0,0,.1) 1px solid;
  font-size: 1.143em;
  width:100%;
  
}
.ui-fm1{
  position: fixed;
  width: 100%;
  bottom: 0px;
}
.ui-fm .item{
	padding: 5px 3%;
	border-bottom: #e1e1e1 1px solid;
}
.ui-fm li:last-child{
	border-bottom: #e1e1e1 0px solid;
}

.placeholder, .tips {
  color: #a9a9a9;
}
.ui-fm .item .fill-more p{
	padding: 5px 0 0 0;
}

.tel{float: right;}

.ui-fm .item .fill-more p:nth-child(2){
	color: #a9a9a9;
}

.ui-fm .item .fill-more2 .tr .tr-l{
	width: 90px;
    display: table-cell; 
    padding: 5px 0 0 0; 
    text-align: right;
}

.ui-fm .item .fill-more2 .tr .tr-r{
	display: table-cell; 
    padding: 5px 0; 
}

.btn-buttom-line3 {
  color: #E65A5A;
  padding: 10px 10px;
  border: rgba(237,140,140,1) 1px solid;
  width: auto;
  
  font-size: 1.143em;
  border-radius: .3em;
  -webkit-border-radius: .3em;
  background-color: #fff;
  margin-left: 2%;
}
.btn-cur{background:#e65a59;color:#fff;}
.btn-cur:hover, .btn-cur:focus{color:#fff;}
.btn-del{min-width:110px;}
.item2 {
	padding: 5px 3%;
	text-align: right;
}
.ui-fm-bottom01 {
width: 100%;
bottom: 0px;
text-align: center;
display: inline-block;
position: fixed;
z-index: 9;
white-space: nowrap;
background-color: #fff;
border-top: rgba(0,0,0,.1) 1px solid;
  border-bottom: rgba(0,0,0,.1) 1px solid;
  font-size: 1.143em;
}
.hk_dydd{
	color: #e65a5a;
	float: right;
}

.ico-user-style{
  font-size: 22px;
  color: #cccccc;
  padding-right: 5px;
  height: 22px;
  line-height: 22px;
}
.a-btn-msg-null {
  height: 50px;
  line-height: 50px;
}
.ui-btn-right {
  display: block;
  padding: 0 30px 0 0;
  position: relative;
  z-index: 0;
}
.ui-btn-right:after {
  content: "\e83d";
  color: #bfbfbf;
  font-size: 26px;
  height: 20px;
  line-height: 20px;
  font-family: "sfico";
  display: inline-block;
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -11px;
}
.div-btn-p {
  padding-left: 85px;
}
.p-topBottom10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.lable-fontStyle {
  color: #595959;
  font-size: 1.05em;
  float: left;
}
.lable-margin {
  padding-top: 6px;
}
.ui-btn {
	display:inline-block;
	vertical-align:middle;
	text-align:center;
	font-size:1em;
	cursor:pointer;	
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

.btn-submit,.btn-buttom-c,.btn-buttom-smsj{
  background-color: #E65A5A;
}
.btn-submit,.btn-buttom-c,.btn-buttom-smsj{
  background-color: #E65A5A;
}
.btn-submit-no {
  background-color: rgb(210,210,210);
}
.btn-submit,.btn-submit-no,.btn-cancel {
  color: #fff;
  padding: 9px 10px;
  border: 0;
  width: auto;
  min-width: 150px;
  font-size: 1.225em;
  border-radius: .3em;
  -webkit-border-radius: .3em;
}
.btn-submit{
	background-color:#E65A5A;
}
.btn-cancel{
	background-color:#5a5a5a;
}


.btn-buttom-smsj {
  color: #fff;
  padding: 9px 10px;
  border: 0;
  width: auto;
  min-width: 80px;
  font-size: 1em;
  border-radius: .3em;
  -webkit-border-radius: .3em;
}

.btn-buttom-hkj {
  color: #acacac;
  padding: 9px 10px;
  border: rgba(0,0,0,.1) solid 1px;
  width: auto;
  min-width: 80px;
  font-size: 1em;
  border-radius: .3em;
  -webkit-border-radius: .3em;
}
.text-margin-left-10 {
  margin-left: 10px;
}
.ui-agreement{
	padding: 10px 3%;
}

.ui-agreement span{
	font-size: 1em;
}
.ico-yes2:before {
  content: "\e83e";
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  height: 18px;
  width: 18px;
  color: rgb(130,188,39);
  text-align: center;
  line-height: 22px;
  vertical-align: middle;
  margin: 6px 0;
}
.ico-box:before {
  content: "\e825";
  color: #d2d2d2;
  font-size: 20px;
  border-radius: 5px;
  height: 18px;
  width: 18px;
  text-align: center;
  line-height: 16px;
  vertical-align: middle;
  margin: 6px 0;
}
.ico-box1:before {
  content: "\e825";
  color: #fff;
  border: 1px solid #cccccc;
  font-size: 16px;
  border-radius: 3px;
  width: 16px;
  text-align: center;
  line-height: 16px;
  vertical-align: middle;
  top: -3px;
}
.text-margin-left-6 {
  margin-left: 6px;
}
.tip-box1 .tip-btn {
  font-size: 1.243em;
  border-top: 1px solid #CCCCCC;
  height: 46px;
  line-height: 46px;
  margin-top: 10px;
  padding: 4px 0;
  
}
.tip-box1 .tip-btn-a1 .tip-btn-a-div {
  color: #595959;
}
.tip-box1 .tip-btn-a1 .tip-btn-a-div {
  color: #CCCCCC;
}
.tip-box1 .tip-btn-a-div {
  color: #E65A5A;
  width: 50%;
  height: 95%;
  float: left;
  line-height: 40px;
  text-align: center;
}
.tip-box1 .tip-btn-a2 .tip-btn-a-div {
  border-left: 1px solid #CCCCCC;
}
/*提示框  s*/
.maskbox {
	position:fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background:rgba(0, 0, 0, .6);
	z-index:999;
}
.prompt-box{
	background-color: #FFFFFF;
	margin: 0 20px;
	margin-top: 50%;
	border-radius: 6px;
	text-align: center;
	padding-top:16px;
}

.prompt-box h2{
	margin-top: 10px;
	font-size: 1.243em;
	padding:0 5%
}

.prompt-box .prompt-content p{
	margin: 10px 0;
	padding: 0 16px;
	font-size: 1.05em;
}
.prompt-box .promp-btn{
	font-size: 1.243em;
	border-top: 1px solid #CCCCCC;
	height: 46px;
	line-height: 46px;
}
.prompt-box .promp-btn a{
	color: #E65A5A;
}
.tip-box1 {
  background-color: #FFFFFF;
  margin: 0 20px;
  margin-top: -105px;
  border-radius: 6px;
  text-align: left;
  padding-top: 16px;
  border: 1px solid #dcdcdc;
  z-index: 2;
  position: relative;
}
.tip-box1 h2 {
  font-size: 1.143em;
  border-bottom: 1px solid #CCCCCC;
  padding: 0 20px 10px;
  color: #acacac;
}
.tip-content {
  font-size: 1.143em;
  padding: 5px 20px 0 20px;
}
.tip-box .tip-btn {
  font-size: 1.243em;
  border-top: 1px solid #CCCCCC;
  height: 46px;
  line-height: 46px;
  margin-top: 10px;
  padding: 4px 0;
}

/*提示框  e*/


/*确认提示框  s*/
.tip-box{
	background-color: #FFFFFF;
	margin: 0 20px;
	margin-top: 180px;
	border-radius: 6px;
	text-align: left;
	padding-top:16px;
}

.tip-box h2{
	font-size: 1.1em;
	padding:5%
}
.tip-box .tip-content p{
	margin: 10px 0px;
	padding: 0 16px;
	min-height: 50px;
	font-size: 1.05em;
}
.tip-box .tip-btn{
	font-size: 1.1em;
	border-top: 1px solid #CCCCCC;
	height: 46px;
	line-height: 46px;
	margin-top: 10px;
	padding: 4px 0;
	text-align: center;
}
.tip-box .tip-btn-a-div{
	color: #E65A5A;
	width: 50%;
	height: 95%;
	float: left;
	line-height: 40px;
}
.tip-box .tip-btn-a1 .tip-btn-a-div{
	color: #CCCCCC;
}
.tip-box .tip-btn-a2 .tip-btn-a-div{
	border-left: 1px solid #CCCCCC;
}
/*确认提示框  e*/

.radio +label{
position: relative;
display: inline-block;
z-index: 999;
width: 90%;
height: 25px;
padding: 0px 29px;
}

.radio+label:before{
 content:"";
 color:#fff; 
 width: 18px;
 height: 18px;
 background: #cccccc;
 border-radius: 18px;
 position: absolute;
 top: 5px;
 left: 0px;
 display:block;
}
.radio:checked+label:before{
content:"";
background: #E65A5A;
}
.radio+label:after{
 content: attr(title);
 width: 12px;
 height: 12px;
 display:block;
 border: 2px solid #F7F9F9;
position: absolute;
top: 6px;
left: 1px;
border-radius: 12px;
background: #cccccc;
}
.radio:checked+label:after{
background: #E65A5A;
}
.textarea_other{
    width: 70%; 
    min-height: 20px; 
    max-height: 300px;
    _height: 120px; 
    margin-left: auto; 
    margin-right: auto; 
    padding: 3px; 
    outline: 0; 
    border: 1px solid #cccccc; 
    font-size: 1em; 
    line-height: 24px;
    padding: 2px;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
}

#input-msg-div { 
	display: block;
	margin:0 auto;
	overflow: hidden; 
  	width: 70%;
	font-size: 1em;
	height: 28px; 
	line-height: 20px;
	padding:2px; 
}
#input-msg-div {
	outline: 0 none;
	border: 1px solid #cccccc;
}