.grid-main {
  margin-top: 10px;
}
.timing-form {
  position: relative;
  z-index: 0;
}
.pad-top10{ 
	padding-top:10px
	}
.ui-fm, .ui-box .ui-fm {
  border-bottom: rgba(0,0,0,.1) 1px solid;
}
.ui-fm .item {
  border-bottom: rgba(0,0,0,.1) 1px solid;
  padding: 0 3%;
}
.ui-fm .item:last-child{
	border-bottom:0;
    padding: 0 3%;	
}

.ui-fm{
  background-color: #fff;
  border-top: rgba(0,0,0,.1) 1px solid;
 
}

.ui-flex {
  display: -webkit-box;
  -webkit-box-sizing: border-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: justify;
}
.ui-fm .item.item-fm .ui-flex .flex-ico {
  width: 75px;
}

.ui-flex .flex-con {
  box-flex: 2;
  -webkit-box-flex: 2;
  margin: 0 0 0 10px;
}

.ui-fm .item.item-fm label {
  display: inline-block;
  width: 75px;
  color: #595959;
  padding: 10px 0;
  font-size: 1.143em;
}

.ui-btn-right {
  display: block;
  padding: 10px 30px 10px 0;
  position: relative;
  z-index: 0;
}

.text-fontStyle {
  color: #cccccc;
  font-size: 1.143em;
}
.text-fontStyle02 {
  color: #595959;
  font-size: 1.143em;
}
.fill {
  display: block;
  font-size:1.143em;
  width:220px
}

.ui-btn-right:after {
  content: "\e83d";
  color: #bfbfbf;
  font-size: 26px;
  height: 20px;
  line-height: 20px;
  font-family: "sfico";
  display: inline-block;
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -11px;
}

.grid-btn {
  width: 78.125%;
  margin: 0 auto;
  padding: 20px 10px 10px 0;
  text-align: center;
}

.btn-submit{
  background-color: rgb(236,91,91);
}

.btn-submit {
  color: #fff;
  padding: 9px 10px;
  border: 0;
  width: auto;
  min-width: 150px;
  font-size: 1.143em;
  border-radius: .3em;
  -webkit-border-radius: .3em;
}

.ui-btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 1.143em;
  cursor: pointer;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}


.ui-flex .div-add-style span{
	color: #e65a5a;
	font-size: 1.143em;
}

.ui-flex .div-add-style p{
	font-size: 1.143em;
	margin-top:2%
}

.ui-btn-right .lable-fontStyle{
	font-size: 1.143em;
	width: 100%;
	text-align: left;
}

.btn-buttom-line3 {
  color: #E65A5A;
  padding: 9px 10px;
  border: rgba(237,140,140,1) 1px solid;
  width: auto;
  min-width: 150px;
  font-size: 1.143em;
  border-radius: .3em;
  -webkit-border-radius: .3em;
  background-color: #fff;
}
.title-latest {
  border-left: #e65a5a 3px solid;
  font-family: "Microsoft YaHei";
  font-size: 1.143em;
  color: #595959;
  padding-left: 2%;
  height: 14px;
  line-height: 14px;
  width:100%
}
.lab-p{
	font-size:1em
}