.grid-main {
	margin-top:10px;
}
.ui-btn {
	display:inline-block;
	vertical-align:middle;
	width:100%;
	text-align:center;
	font-size:1em;
	cursor:pointer;	
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

.ui-fm{
	background-color:#fff;
	border-top:rgba(0,0,0,.1) 1px solid;
	padding:0;
	border-bottom:rgba(0,0,0,.1) 1px solid;
}
.ui-fm p{
	/*font-size: 1.225em;*/
}
.ui-fm .item{
	border-bottom:rgba(0,0,0,.1) 1px solid;
	overflow: auto;
	padding: 5px 3%;
}
.ui-fm .item:last-child{
	border-bottom:0;	
}

.timing-form{
	position:relative;
	z-index:0;	
	height:100%;
}


/*sf06 s------------------------------------------------------------------*/
.ico-search-style{
	font-size: 22px;
}

.ui-text .ui-text-left{
	width: 25%;
	height: 100%;
	float: left;
}

.ui-text .ui-text-img{
	width: 70px;
	height: 70px;
}
.ui-text .ui-text-left img{
	width: 100%;
	height: 100%;
}

.ui-text .ui-text-center{
	width: 75%;
	height: 100%;
	float: left;
	padding-left: 5px;
}

.ui-text .ui-text-center p{
	height: 24px;
	line-height: 23px;
	text-align: left;
}
.ui-text .ui-text-center p:nth-of-type(1){
	font-size: 1.143em;
}

.ui-text .ui-text-center p:nth-of-type(2) a{
	color: #E65A5A;
	font-size: 16px;
}

.ui-text .ui-text-center p:nth-of-type(3){
	height: 100%;
	text-align: left;
	color: #ACACAC;
	font-size: 1em;
}

.ui-text .ui-text-right{
	width: 0%;
	height: 100%;
	float: left;
}
.ui-text .ui-text-right p{
	float: right;
	text-align: right;
	color: #ACACAC;
	font-size: 1em;
}

.icon-collection:before{
	font-family: "微软雅黑";
	content: "点击收藏";
	width:70px;
	height:20px;
	line-height:20px;
	color: #fff;
	font-size:12px;
	position:relative;
	z-index: 1;
	top: -20px;
  	left: 1.65%;
	text-align:center;
	background-color: rgba(0,0,0,.6);
	/*background-image: -webkit-linear-gradient(top, rgba(0,0,0, 0.2) 0%, rgba(215,85,86, 0.9) 40%, rgba(233,102,101, 0.9) 98%, #E96665 100%);*/ 
}
.icon-collected:before{
	font-family: "微软雅黑";
	content: "已收藏";
	width:70px;
	height:20px;
	line-height:20px;
	color: #fff;
	font-size:12px;
	position:relative;
	z-index: 1;
	top: -20px;
  	left: 1.65%;
	text-align:center;
	background-color: rgba(255,0,0,.6);
	/*background-image: -webkit-linear-gradient(top, rgba(0,0,0, 0.2) 0%, rgba(215,85,86, 0.9) 40%, rgba(233,102,101, 0.9) 98%, #E96665 100%);*/ 
}

.ui-flex .text-ico{
	
	text-align: center;
	padding: 5px 0;
}
.ui-flex .text-con{ 
	margin:0;
	width: 76%;
	padding: 5px 0;
	
}
.ui-flex .text-ico span{
	width: 100%;
	display: inline-block;
  	color: #5C5C5C;
  	text-align: center;
  	font-size: 1em;
}

.ui-flex .text-con p{
	width: 100%;
  	color: #5C5C5C;
  	text-align: left;
  	float: left;
  	font-size: 1em;
}
.ui-flex .text-con span{
	border: 0;
}

.ico-tphone-s{
	font-size: 24px;
	color: #E65A5A;
	height: 28px;
	line-height: 28px;
	margin-top: -5px;
}

.header-bottom-line{
	border-bottom:0;
}
/*sf06 e*/
.ui-text .ui-text-center-right{
	width: 75%;
	height: 100%;
	float: left;
	padding-left: 5px;
}

.ui-text .ui-text-center-right p{
	height: 100%;
	line-height: 24px;
	text-align: left;
}
.ui-text .ui-text-center-right p:nth-of-type(1){
	font-size: 1.143em;
}

.ui-text .ui-text-center-right p:nth-of-type(2) a{
	color: #E65A5A;
	font-size: 1em;
}

.ui-text .ui-text-center-right p:nth-of-type(3) a{
	color: #E65A5A;
	font-size: 1em;
}

.ui-text .ui-text-center-right p a .lab-p{
	color: #595959;
	padding: 0 0 0 5px;
}

.ui-flex {
  display: -webkit-box;
  -webkit-box-sizing: border-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: justify;
}
.btn-color-hui{
	color: #acacac;
}
.ico-upload:before,.ico-download:before,.ico-up-down:before,.ico-del:before{
	font-size: 1.2em;
	width:20px;
	height:16px;
	line-height:14px;
	color: #E65A5A;
}
.nothingImg{
	text-align: center;
  margin: 0 0 0 20px;
  width:100%
}
.nothingImg img{
	width:50%;
}
.ui-text-center {
  text-align: center;
  width: 100%;
  height: 33px;
  line-height: 33px;
}
.text-fontStyle {
  color: #595959;
  font-size: 1.143em;
}
.text-fontStyle2 {
  color: #CCCCCC;
  font-size: 1em;
}