@font-face {
  font-family: 'sfico';
  src: url('../font/sfico.eot?35573554');
  src: url('../font/sfico.eot?35573554#iefix') format('embedded-opentype'),
       url('../font/sfico.woff?35573554') format('woff'),
       url('../font/sfico.ttf?35573554') format('truetype'),
       url('../font/sfico.svg?35573554#sfico') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'sfico';
    src: url('../font/sfico.svg?35573554#sfico') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "sfico";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-2015-05-18svg图标_画板-4:before { content: '\e800'; } /* '' */
.icon-2015-05-18svg图标_画板48:before { content: '\e801'; } /* '' */
.icon-2015-05-18svg图标_画板-5:before { content: '\e802'; } /* '' */
.icon-2015-05-18svg图标_画板-7:before { content: '\e803'; } /* '' */
.icon-2015-05-18svg图标-01:before { content: '\e804'; } /* '' */
.icon-2015-05-18svg图标_画板-6:before { content: '\e805'; } /* '' */
.icon-2015-05-18svg图标_画板-65-54:before { content: '\e806'; } /* '' */
.icon-2015-05-18svg图标-02:before { content: '\e807'; } /* '' */
.icon-2015-05-18svg图标-03:before { content: '\e808'; } /* '' */
.icon-2015-05-18svg图标-11:before { content: '\e809'; } /* '' */
.icon-2015-05-18svg图标-12:before { content: '\e80a'; } /* '' */
.icon-2015-05-18svg图标-13:before { content: '\e80b'; } /* '' */
.icon-2015-05-18svg图标-14:before { content: '\e80c'; } /* '' */
.icon-2015-05-18svg图标-15:before { content: '\e80d'; } /* '' */
.icon-2015-05-18svg图标-16:before { content: '\e80e'; } /* '' */
.icon-2015-05-18svg图标-17:before { content: '\e80f'; } /* '' */
.icon-2015-05-18svg图标-08:before { content: '\e810'; } /* '' */
.icon-2015-05-18svg图标-09:before { content: '\e811'; } /* '' */
.icon-2015-05-18svg图标-10:before { content: '\e812'; } /* '' */
.icon-2015-05-18svg图标-18:before { content: '\e813'; } /* '' */
.icon-2015-05-18svg图标-19:before { content: '\e814'; } /* '' */
.icon-2015-05-18svg图标-20:before { content: '\e815'; } /* '' */
.icon-2015-05-18svg图标-21:before { content: '\e816'; } /* '' */
.icon-2015-05-18svg图标-22:before { content: '\e817'; } /* '' */
.icon-2015-05-18svg图标-25:before { content: '\e818'; } /* '' */
.icon-2015-05-18svg图标-28:before { content: '\e819'; } /* '' */
.icon-2015-05-18svg图标-29:before { content: '\e81a'; } /* '' */
.icon-2015-05-18svg图标-31:before { content: '\e81b'; } /* '' */
.icon-2015-05-18svg图标-33:before { content: '\e81c'; } /* '' */
.icon-2015-05-18svg图标-37:before { content: '\e81d'; } /* '' */
.icon-2015-05-18svg图标-23:before { content: '\e81e'; } /* '' */
.icon-2015-05-18svg图标-24:before { content: '\e81f'; } /* '' */
.icon-2015-05-18svg图标-30:before { content: '\e820'; } /* '' */
.icon-2015-05-18svg图标-34:before { content: '\e821'; } /* '' */
.icon-2015-05-18svg图标-35:before { content: '\e822'; } /* '' */
.icon-2015-05-18svg图标-40:before { content: '\e823'; } /* '' */
.icon-2015-05-18svg图标-36:before { content: '\e824'; } /* '' */
.icon-2015-05-18svg图标-41:before { content: '\e825'; } /* '' */
.icon-2015-05-18svg图标-42:before { content: '\e826'; } /* '' */
.icon-2015-05-18svg图标-39:before { content: '\e827'; } /* '' */
.icon-2015-05-18svg图标-43:before { content: '\e828'; } /* '' */
.icon-2015-05-18svg图标-44:before { content: '\e829'; } /* '' */
.icon-2015-05-18svg图标-45:before { content: '\e82a'; } /* '' */
.icon-2015-05-18svg图标-48:before { content: '\e82b'; } /* '' */
.icon-2015-05-18svg图标-46:before { content: '\e82c'; } /* '' */
.icon-2015-05-18svg图标-49:before { content: '\e82d'; } /* '' */
.icon-2015-05-18svg图标-52:before { content: '\e82e'; } /* '' */
.icon-2015-05-18svg图标-53:before { content: '\e82f'; } /* '' */
.icon-2015-05-18svg图标-50:before { content: '\e830'; } /* '' */
.icon-2015-05-18svg图标-51:before { content: '\e831'; } /* '' */
.icon-2015-05-18svg图标-55:before { content: '\e832'; } /* '' */
.icon-2015-05-18svg图标-56:before { content: '\e833'; } /* '' */
.icon-2015-05-18svg图标-57:before { content: '\e834'; } /* '' */
.icon-2015-05-18svg图标-58:before { content: '\e835'; } /* '' */
.icon-2015-05-18svg图标-64:before { content: '\e836'; } /* '' */
.icon-2015-05-18svg图标-59:before { content: '\e837'; } /* '' */
.icon-2015-05-18svg图标-60:before { content: '\e838'; } /* '' */
.icon-2015-05-18svg图标-61:before { content: '\e839'; } /* '' */
.icon-2015-05-18svg图标-62:before { content: '\e83a'; } /* '' */
.icon-2015-05-18svg图标-47:before { content: '\e83b'; } /* '' */
.icon-angle-left:before { content: '\e83c'; } /* '' */
.icon-angle-right:before { content: '\e83d'; } /* '' */
.icon-ok:before { content: '\e83e'; } /* '' */
.icon-angle-double-right:before { content: '\e83f'; } /* '' */