@charset "utf-8";
/* CSS Document */

/*服务网点列表页s*/
.store-title{background:#fff;color:#323232;}
.store-title-t h4{font-size:1.3rem;height:3.7rem;line-height:3.7rem;}

/*服务网点s*/

/*附近服务网点s*/
.store-nearby .module-t{height:3.3rem;line-height:3.3rem;background:#fafafa;border-top:.1rem solid #d8dadc;border-bottom:.1rem solid #d8dadc;}
.store-nearby .module-c dt{float:left;margin-right:.8rem;}
.store-nearby .module-c dt img{width:5rem;height:5rem;}
.store-nearby .module-c dt dd{margin-left:1.1rem;}
.store-nearby .module-c dl{padding-top:1rem;padding-bottom:1rem;}

.module-t h4{color:#323232;}
.store-latest-use .module-t h4, .store-nearby .module-t h4{color:#969696;}

.module-c dl{padding-bottom:1.1rem;height:100%;border-bottom:.1rem solid #c2c4c6;}

.store-name, .distance, .store-name-device{color:#323232;font-weight:500;}
.store-name{position:relative;}
.store-name-detail{color:#323232;}
.store-name-property{color:#969696;}

.store-name, .distance{margin-top:.6rem;margin-bottom:1.3rem;}
.distance{text-align:right;}
.store-adress{font-size:1.2rem;color:#969696;line-height:1.5rem;}
.btn-normal{background:#ff4848;color:#fff;}
.btn-buynow{position:fixed;bottom:0;z-index:5;    width: 100%;
    max-width: 640px;
    box-sizing: border-box;    margin-left: auto;
    margin-right: auto;height:5.2rem;line-height:5.2rem;}

.store-name-lines{    display: inline-block;
    vertical-align: middle;
    width: 0;
    border-left: .1rem solid #ff4848;
   
    height: 1.2rem;
    margin-right: .8rem;
    margin-left: .8rem;}
		
.store-nearby .box-module-c{padding-bottom:2rem;border-top:none;border-bottom:.1rem solid #e5e5e5;}
.tip-store img{width:15.5rem;height:13.7rem;overflow:hidden;}
.text-fuwu{color:#333;margin-top:1rem;margin-bottom:.8rem;}
.text-tip-store{color:#969696;}
.text-fuwu, .text-tip-store{font-size:1.5rem;text-align:center;}
/*附近服务网点e*/

.store-title, .module-t h4, .module-c dl{    padding-left: 3%;
    padding-right: 3%;}

/*服务网点图标s*/

.icon-store, .store-latest-use .module-c dl .radio-device, .store-latest-use .module-c dl.cur .radio-device, .icon-sweep:before, .code-send-tab li dt, .icon-print-suc, .icon-print-fail{display:inline-block;background:url(img/icon-store.png) no-repeat;background-size:32rem;}
.store-process{margin-bottom:1.2rem;width:29.3rem;height:5.4rem;background-position:0 -3.6rem;}

.success{margin: 1.9rem .6rem 0rem 0rem;width:3.6rem;height:3.6rem;background-position:-8.4rem 0rem;background-size:32rem;}
.store-latest-use .module-c dl.cur .radio-device, .store-latest-use .module-c dl .radio-device{float:left;width:1.8rem;height:1.8rem;}
.store-latest-use .module-c dl.cur .radio-device{background-position:-12rem 0rem;}
.store-latest-use .module-c dl .radio-device{background-position:-13.8rem 0rem;}

.icon-sweep:before{margin:1.3rem 1.2rem 1.2rem 1rem;float:left;content:"";width:2.8rem;height:2.8rem;background-position:-5.6rem 0rem;}
.code-send-tab li dl.first dt, .code-send-tab li dl.second dt{margin-bottom: 1.4rem;width:2.8rem;height:2.8rem;}
.code-send-tab li dl.first dt{background-position:-2.8rem 0rem;}
.code-send-tab li dl.second dt{background-position:-5.6rem 0rem;}
/*.code-send-tab li.cur dl.second dt, .code-send-tab li:hover dl.second dt, .code-send-tab li:focus dl.second dt, 
.code-send-tab li:hover dl.first dt, .code-send-tab li:focus dl.first dt, */
.code-send-tab li.cur dl.second dt, .code-send-tab li:hover dl.second dt, .code-send-tab li:focus dl.second dt{background-position:-15.6rem 0rem;}
.code-send-tab li.cur dl.first dt, .code-send-tab li:hover dl.first dt, .code-send-tab li:focus dl.first dt{background-position:-18.4rem 0rem;}
.code-send-tab li dl dd{font-size:1.5rem;}
.icon-print-suc{background-position:-7.4rem -9.1rem;}
.icon-print-fail{background-position:0rem -9.1rem;}
.icon-print-fail, .icon-print-suc{margin-top:2.1rem;margin-bottom:1.7rem;width:7.4rem;height:6.9rem;}


/*服务网点图标e*/


/*服务网点列表页e*/


/*订单提交成功s*/
.store-title-suc{background:#fff;color:#323232;padding-bottom:1.8rem;border-bottom:.1rem solid #d8dadc;}
.store-title-suc-t h4{font-size:1.7rem;padding-top:2.9rem;padding-bottom:2.5rem;}
.module-t{height:3.3rem;line-height:3.3rem;background:#fafafa;border-top:.1rem solid #d8dadc;border-bottom:.1rem solid #d8dadc;}
.list-item{height:100%;position:relative;}
.item-ico {  margin-right: 1rem;}
.item-info{padding-right:1rem;}

.item-info-title{margin-top:.2rem;margin-bottom:.7rem;font-size:1.4rem;color:#323232;font-weight:500;}
.item-info-property{font-size:1.2rem;color:#969696;line-height:1.5rem;}
.list-item-code .item-ico img{width:5rem;height:5rem;overflow:hidden;}
.module-c ul{padding:1.2rem 3% 1.5rem;}
.grid-btn{
	background-color: #F0F3F5;
	padding: 1.5rem;
	text-align: center;
}
.grid-btn li:nth-of-type(1) {
    margin-left: 0;
}
.grid-btn li.current , .grid-btn1 li.current{
    background: #FF4848;
    color: #fff;
    border: 1px solid #ff4848;
}
.grid-btn li {
    width: 47%;
    line-height: 3.2rem;
    margin-left: 3.5%;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: .4rem;
    float: left;
    text-align: center;
    font-size: 1.4rem;
    color: #595959;
    background-color: #fff;
    margin-bottom: 2rem;
}
.grid-btn1 li {
    width: 47%;
    line-height: 3.2rem;
    
    border: 1px solid rgba(0,0,0,.1);
    border-radius: .4rem;
    
    text-align: center;
    font-size: 1.4rem;
    color: #595959;
    background-color: #fff;
    margin-bottom: 2rem;
}
.ad-store-sucess img{width:32rem;overflow:hidden;}

/*订单提交成功e*/

/*选择终端s*/
.store-print .module-t{border-top:none;}

.grid-btn-timing{
    line-height: 4rem;
   
    text-align: center;
    font-size: 1.4rem;
    color: #595959;
   margin-top:2.3rem;
    margin-bottom: 2rem;}
		
.grid-btn-timing li.btn-current a, .grid-btn-timing li.btn-current a:visited{color:#fff;}	  

.grid-btn-timing li.btn-current, .grid-btn-timing li.first {font-size:1.6rem;width:50%;display:inline-block;border-radius: .4rem;
  
    color: #fff;
   }
	 
.grid-btn-timing li.btn-current{  background: #FF4848;}
.grid-btn-timing li.btn-cancel{  background: #ccc;}
	 
 .grid-btn-timing li.first{  background: #FFf;color:#ff4848;border:.1rem solid #ff4848;}
	 
	 
	 /*案扭结束*/
	 
.store-latest-use{margin-top:1rem;}
.store-latest-use .box-module-c{margin-top:0;border-top:none;}
.store-latest-use .module-c dl{position:relative;padding-top:1rem;padding-left:11%;background:#fff;}
.store-latest-use .module-c dt{margin-top:0;}
.box-sweep-print{min-height:5.2rem;height:auto;background:#fff;border-top:.1rem solid #d8dadc;border-bottom:.1rem solid #d8dadc;}
.box-sweep-print:hover, .box-sweep-print:focus{background:#f2f2f2;}
.text-sweep-print{float:left;padding-top:2.1rem;padding-bottom:1.9rem;color:#323232;font-size: 1.4rem;}
.box-sweep-print .content-btn-right{margin-top:2rem;margin-right:1.5rem;margin-bottom:1.5rem;}
.box-radio-device{position:absolute;top:50%;margin-top:-.9rem;left:3%;}


/*选择终端e*/

/*二维码详情s*/
.box-code-send{background:#5b5b5b;padding-top:3.2rem;padding-bottom:3.5rem;}
.code-send img{margin-bottom:2rem;width:22rem;height:22rem;overflow:hidden;}
.text-code-send{margin-left:14%;margin-right:16%;text-align:left;line-height:1.5;color:#d2d2d2;font-size:1.2rem;}
.code-send-tab li{float:left;width:50%;text-align:center;}
.box-code-send-tab{min-height:9rem;height:auto;background:#fff;padding-top:1.8rem;}
.code-send-tab li.cur dl.second dd{color:#ff4848;}
.code-send-tab li dl.second dd{color:#323232;}
.code-send-tab li dl.first dd{color:#ff4848;}
.code-send-tab li.cur dl.second dd, .code-send-tab li:hover dl.second dd, .code-send-tab li:focus dl.second dd{color:#ff4848;}
.code-send-tab li.cur dl.first dd, .code-send-tab li:hover dl.first dd, .code-send-tab li:focus dl.first dd{color:#323232;}
/*二维码e*/


/*打印结果s*/
.state-print{height:100%;}
.box-module-c{margin-top:1rem;border-top: .1rem solid #c6c8ca;}

.state-print .module-t{border-top:none;}
.box-state-fff{background:#fff;padding-bottom: 2rem;border-bottom: .1rem solid #c6c8ca;}
.text-print-state{height:100%;}
.text-print-state dt{position:absolute;top:1.5rem;margin-top:0rem;width:100%;height:0rem;border-top:.1rem solid #d2d2d2;}
.text-print-state dl{position:relative;padding-left:0;padding-right:0;width:100%;border-bottom:none;}
.text-print-state dd{ padding-left: 1.2rem;
    padding-right: .6rem;
    z-index: 10;
    display: block;
  
    position: absolute;
    padding-top: 1rem;
    padding-bottom: 1rem;
    left: 50%;
    margin-left: -6rem;
    text-align: center;
    font-size: 1.5rem;
    background: #fff;
    color: #323232;}
.text-print-state p{    text-align: center;
    margin-top: 2.5rem;}
		
		.grid-btn li.current
/*打印结果e*/

