@charset "utf-8";
/* CSS Document */



 
 /*时效查询s*/
 .select-adress, .select-other {background:#fff;}
 .select-adress{position:relative;}
.select-adress li{margin-left:3.4rem;margin-right:4.6rem;padding-bottom:.9rem;padding-top:2rem;border-bottom:.1rem solid #dcdcdc;}
 .select-adress li span{color:#323232;}
  .select-adress li span i{color:#969696;}
	
	.select-other li{padding:1.5rem 1.5rem 2.8rem;
    border-bottom: .1rem solid #dcdcdc;}
.select-other dl{float: left;display:inline-block;}	
.select-other dl.second{width:55%;}
.select-other dl.second .arrow{margin-right:2%;}
.select-other dl:first-child{    width: 39%;
    margin-right: 3%;}
.select-other dl.second{margin-left:3%;}
.select-other dt{position:relative;padding-left:1.8rem;color:#323232;}

.select-other li dl.second:before{    float: left;
    content: "";
    display: inline-block;
   
    height: 1.4rem;
    width: 0rem;
    border-left: .1rem solid #ccc;
    position: absolute;
    right:57%;
}
@media screen and (min-width:640px){
	.select-other li dl.second:before{  right:55%;}
	}
@media screen and (min-width:768px){
	.select-other li dl.second:before{  right:54%;}
	}

 .grid-btn-timing{
    line-height: 4rem;
   
    text-align: center;
    font-size: 1.4rem;
    color: #595959;
   margin-top:2.3rem;
    margin-bottom: 2rem;}
		
		  

.grid-btn-timing li.btn-current, .grid-btn-timing li.first {font-size:1.6rem;width:50%;display:inline-block;border-radius: .4rem;
  
    color: #fff;
   }
	 
	 .grid-btn-timing li.btn-current{  background: #FF4848;}
	.grid-btn-timing li.btn-cancel{  background: #ccc;}
	 
	 .grid-btn-timing li.first{  background: #FFf;color:#ff4848;border:.1rem solid #ff4848;}
	
  /*时效查询e*/
	
	/*产品时效和价格s*/
	.timecontainer-store{background:#fff;}
	.timecontainer-store-t{background:#fafafa;border-top:.1rem solid #d8dadc;border-bottom:.1rem solid #d8dadc;}
	.timecontainer-store-t p:first-child{font-size:1.4rem;margin-top:1.6rem;margin-bottom:1.4rem;padding-left:1.6rem;color:#969696;}
	.timecontainer-store-t p:nth-of-type(2){margin-top:1.6rem;    margin-right: 4%;margin-bottom:.8rem;}

	.btn-return{position: relative;padding: .4rem .4rem .4rem 2.4rem;
    border-radius: .3rem;
    color: #969696;
    border: 1px solid #ff4848;
		font-size:1.3rem;
  }
	.timecontainer-store-c li{height:100%;padding:1.5rem 3% 1rem;border-bottom:.1rem solid #e5e5e5;}
		.timecontainer-store-c li.cur{background:#ffe2b9;}
		.timecontainer-store-c li:hover, 	.timecontainer-store-c li:focus{background:#fafafa;}
	
	.timecontainer-store-c li dl:first-child{float:left;display:inline-block;text-align: center;}
	
.timecontainer-store-c .price, .timecontainer-store-c .price span{font-size:1.8rem;color:#ff4848;margin-top:.5rem;margin-bottom:.8rem;}
.timecontainer-store-c .pay-pre{margin-bottom:.9rem;font-size:1.2rem;width:5rem;}
.timecontainer-store-c li dl.second{height:100%;
}
.timecontainer-store-c li dl.second dt{margin-bottom:.8rem;}
/* .timecontainer-store-c li dl.second:before{
    content: "";
    display: inline-block;
    height: 4.2rem;
    width: 0rem;
    border-left: .1rem solid #dcdcdc;
    position: absolute;
    right:84%;top:9%;}
	@media screen and (min-width:375px){

.timecontainer-store-c li dl.second:before{ right:84%;}
	} */
.timecontainer-store-c .line-cplx{margin-left:5%;margin-right:5%;float: left;display: inline-block;
    height:5.1rem;
    width: 0rem;
    border-left: .1rem solid #ccc;    
    }
    @media screen and (min-width: 768px){.timecontainer-store-c .line-cplx{margin-top:0%;}}
.timecontainer-store-c .cplx-name{margin-bottom: .6rem;color:#323232;    width: 6rem;font-size:1.4rem;font-weight:500;}
.timecontainer-store-c .cplx-name{margin-right:1.4rem;color:#323232;font-size:1.4rem;font-weight:500;}

.time-commit{background:#969696;border-radius:.3rem;color:#fff;padding:.2rem .5rem;font-size:1.2rem;}
.time-pre, .time-pre span{font-size:1.3rem;margin-bottom:.9rem;color:#323232;}
.time-pre span{color:#ff4848;}
.time-last, .time-last span{color:#969696;font-size:1.2rem;}
.dated .price, .dated .price span, .dated .cplx-name, .dated .time-pre, .dated .time-pre span, .dated .pay-pre{color:#969696;}
.dated .time-pre{color:#595959;}
	/*产品时效和价格e*/
	
	
	
	
 /*图标s*/
	.icon-timing, .weight:before, .time:before, .return:before, .send:before{display: inline-block;
    background: url(img/icon-timing.png) no-repeat;
    background-size: 15rem;}

	.icon-adress{position:absolute;left:1.6rem;top:2rem;width:1.5rem;height:5.4rem;background-position:0 0;background-size: 15rem;}
	.icon-refresh{position:absolute;right:1.2rem;top:2.9rem;width:2.7rem;height:2.8rem;background-position:-1.5rem 0;background-size: 15rem;}

.time:before, .weight:before{content:"";position:absolute;top:50%;margin-top:-.8rem;left:0rem; background-size:15rem;width:1.4rem;
    height: 1.6rem;}
.weight:before{	
	   background-position:-5.6rem 0;}
.time:before {	
	    background-position:-4.2rem 0;}
			
.send:before, .return:before {    position: absolute;
    left: .5rem;content:"";
   
   
    width: 1.4rem;
    height: 1.4rem;
}
 .return:before{ background-position: -7rem 0rem;}
 
 .send:before{background-position: -8.4rem 0rem;}
	

 /*图标e*/
 
 /* 遮罩总s */
.order_layer_shade,.order_layer_iframe {
	position: fixed;
	pointer-events: auto;
}

.order_layer_iframe {
	width: 100%;
	min-width: 320px;
	max-width: 640px;
	position: fixed;
	bottom: 0;
	background: #fff;
	box-shadow: 0 -0.2rem 0.5rem 0rem rgba(0, 0, 0, 0.15);
	z-index: 10;
}

.order_layer_iframe>.close,.order_layer_iframe>.submit {
	width: auto;
	height: 3.2rem;
	line-height: 3.2rem;
	padding: 0 2rem;
	color: #FF4848;
	font-size: 1.4rem;
}

.order_layer_iframe>.close {
	width: 1.5rem;
	height: 1.5rem;
	background: url(../img/closered.png) no-repeat;
	background-size: 1.3rem;
	display: block;
	margin: 1rem 2rem 0;
	text-indent: -99999rem;
}

.order_layer_iframe>.container {
	padding: 0.9rem 2rem;
}

.order_layer_shade.z_index {
	z-index: 10;
}

/* 遮罩总s */

/* 重量s */
.order_layer_iframe .content_wpzl p {
    font-size: 1.4rem;
    color: #595959;
    padding-bottom: 1rem;
}

.order_layer_iframe .content_wpzl li.current {
    background: #ffe2b9;
    color: #595959;
    border: 1px solid rgba(0, 0, 0, .1);
}

.order_layer_iframe .content_wpzl li {
    width: 30.3%;
    line-height: 3.2rem;
    margin: 0 1.16% 1rem 1.16%;
    border-radius: 0rem;
    float: left;
    text-align: center;
    font-size: 1.4rem;
    border: 1px solid rgba(0, 0, 0, .1);
    color: #595959;
}
.order_layer_iframe .content_wpzl ul {
    margin: 0 -1.16%;
}

/* 重量e */


.timecontainer-store-c li.dated{background:#f0f0f0;}
.text-tip-ccc{color:#acacac;}
.timecontainer-store-c .price .money-hk{margin-left: .3rem;font-size:1.3rem;}
.btn-topr{    position: absolute;
    top: 0rem;
    right: 1rem;}
.btn-top{    color: rgb(230,90,90);
        line-height: 4.5rem;}
 .btn-top a, .btn-top:visited{color: rgb(230,90,90);}
 
 /* 重量里的input线s */
 
 .order_layer_iframe .content_wpzl .pd {
	padding: 0 2.5rem .2rem 0.6rem;
	position: relative;
	border: 1px solid rgba(0, 0, 0, .1);
}

.order_layer_iframe .content_wpzl .pd input {
	width: 100%;
	padding: 1.4rem 0rem 1.4rem 0.6rem;
	margin-left: -0.6rem;
	border-radius: 0;
	font-size: 1.4rem;
}
.order_layer_iframe .content_wpzl dd {
    width: 29%;
    display: table-cell;
    border: 1px solid #FF4848;
    border-left: 0;
    box-sizing: border-box;
    background-color: #FF4848;
    color: #fff;
    font-size: 1.4rem;
}
.order_layer_iframe .content_wpzl dd a {
    width: 100%;
    height: 100%;
    line-height: 4rem;
    text-align: center;
    display: inline-block;
    color: #fff;
}
#dl_id_good_weight dt{    width: 71%;
    display: table-cell;
    vertical-align: middle;
}
.order_layer_iframe .content_wpzl .pd input+i{position: absolute;
    top: 1.2rem;
    right: 1rem;
    font-size: 1.4rem;}
    
   .order_layer_iframe .content_wpzl .pd input:focus::-webkit-input-placeholder{
    opacity: 0;
}
::-webkit-input-placeholder { 
    color:#CCC;
		font-size:1.3rem!important;
		
}

.order_layer_shade{width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.2;
    z-index: 10;}
 /* 重量里的input线e */
 
#errorInfo{color:#fff;line-height:1.5;}
.pop-tips .tips{z-index:100;}
