
.mar-l{ margin-left:2%}	
.mar-r2{ margin-right:2%}
.f-r{ float:right}
.pad-t1{ padding-top:1%}
.grid-main {
	margin-top:10px;
	width:100%;
	background-color:#fff;
	border-top:rgba(0,0,0,.1) 1px solid;
	border-bottom:rgba(0,0,0,.1) 1px solid
}
.ui-waybill{
	background-color: #fff;
	}
.ui-waybill .ui-flex01{ 
	padding:10px 3% 38px 3%; 
	vertical-align:middle;
	-webkit-box-sizing:border-box;
	border-bottom: 1px dashed rgba(0,0,0,.1)
}

.ui-waybill .ui-flex01 .sflogo{
	float:left
	}
.ui-waybill .ui-flex01 .nurber{
	float:right;
	color:#595959;
	font-size:1.125em;
	font-family:"Microsoft YaHei";
	}
.msg-content {
  padding: 18px 3% 12px;
  background: #f9f9f9 url(img/semi_circle03.png) repeat-x;
  font-family:"Microsoft YaHei";
  font-size:1em;
  color:#acacac;
   border-bottom:rgba(0,0,0,.1) 1px solid
}
.msg-content1 {
  padding: 8px 3% 0;
  background: #f0f3f5 url(img/semi_circle03.png) repeat-x;
  font-family:"Microsoft YaHei";
  font-size:1em;
  color:#acacac;
}
.msg-content02 {
  padding: 4px 3%;
  background: #f0f3f5 url(img/semi_circle03.png) repeat-x;
  font-family:"Microsoft YaHei";
	font-size:1em;
	
}
.xuxian-content {
  padding:0px 0 0 0;
  width:90%;
  margin:0 auto;
  text-align:center;
  font-family:"Microsoft YaHei";
	font-size:1.143em;
	color:#595959
}
.ui-waybill .ui-flex .flex-ico{
	padding:3%;
	
	}
.ico-plane:before
{ font-size:1.725em; color:#cccccc}
.ico-car:before
{ font-size:1.725em; color:#cccccc; padding:0 5px; top:-2px}

.ui-latest{ width:100%; margin:0 auto;font-family:"Microsoft YaHei";}
.ui-latest .item01{ padding:10px 3% 0 3%; -webkit-box-sizing: border-box}
.ui-latest .item01 img{ width:100%}
.ui-latest .item05{ -webkit-box-sizing: border-box}
.ui-latest .item02{ text-align:center; border-bottom:rgba(0,0,0,.1) 1px solid; padding-bottom:5%}
.ui-latest .item03{ 
	background:url(img/massage.png) no-repeat ; 
	width:95%;
	 background-size:100% 100%;
  -webkit-box-sizing: border-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: justify;
	font-size:1em;
	border:0 !important;
	margin:3% 3%;
	padding:4%
}
.ui-latest .item04{ background:url(img/massaged.png) no-repeat ; width:100%;  background-size:100% 100%;
  -webkit-box-sizing: border-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: justify;
	font-size:1em;
	border-bottom:0 !important;
	margin:3% 0;
	padding:6%
}
.title-latest{ 
	border-left:#e65a5a 3px solid;
    font-family:"Microsoft YaHei";
	font-size:1.143em;
	color:#595959;
	padding-left:2%;
	height: 14px;
	line-height: 14px;
	}

.btn-Normal{
	color:#a7c372;
	padding:1px 2px;
	border:1px #a7c372 solid;
	width:auto;
	min-width:40px;
	font-size:1em;
	border-radius:.3em;
	-webkit-border-radius:.3em;
	}
.btn-Normal{ background-color:#fff}
.btn-Abnormal{
	color:#e65a5a;
	padding:1px 2px;
	border:1px #e65a5a solid;
	width:auto;
	min-width:40px;
	font-size:1em;
	border-radius:.3em;
	-webkit-border-radius:.3em;
	}
.btn-Abnormal{ 
  background-color:#fff;
  float: right;
  margin-right: 15px;
  margin-top:6px
}
.ui-way{
	
	overflow:hidden;
	border-bottom:rgba(0,0,0,.1) 1px solid
}
.ui-way:after{
	clear:left;	
}
.ui-way .grid{
	display:inline-block;
	background-color:#fff;
	width:33.3333333333333%;
	margin:0;
	float:left;	
	margin-top:-2%;
}
.ui-way .grid:nth-of-type(3n){
	border-right:0;
}
.ui-way .grid a{
	display:block;
	text-align:center;
}
.ui-way .grid h3{
	padding:7% 20% 0 0;
	float:right;
}
.ico-vehicle:before,.ico-order-ok:before{ font-size:2em;top:-2px}
.ico-parcel-time2:before{font-size:2em; width:32px}
.ui-latest .item01 .ui-angle-right{
	display:block;
	position:relative;
	z-index:0;
}
.ui-latest .item05 .ui-angle-right{
	display:block;
	position:relative;
	z-index:0;
}
.ui-angle-right:after {
  content: "\e83d";
  color: #bdbdbd;
  font-size: 2em;
  height: 20px;
  font-family: "sfico";
  display: inline-block;
  position: absolute;
  right: 2%;
  top:50%;
  margin-top: -24px;
}
.ui-angle-right2:after {
  content: "\e83d";
  color: #bdbdbd;
  font-size: 2em;
  height: 20px;
  font-family: "sfico";
  display: inline-block;
  position: absolute;
  right: 2%;
  margin-top: -4px;
}
.ui-guess{ border-bottom:rgba(0,0,0,.1) 1px solid;border-top:rgba(0,0,0,.1) 1px solid; padding-left:3%; background-color:#fff }
.ico-guess:before{ font-size:3em; color:#f4c85d}
.ui-flex{
	display: -webkit-box;
  -webkit-box-sizing: border-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: justify;
	}
.ui-flex .flex-ico{ width:10%}	
.ui-flex .flex-con01{ width:86%; padding-top:5%}

.server{ 
	border-bottom:rgba(0,0,0,.1) 1px solid;
	padding: 10px 0 0 3%;
	width:97%;
 }
.btn-submitserver,.btn-submitserver-no{
	padding:8px 4px;
	width:auto;
	min-width:94px;
	font-size:1em;
	border-radius:.3em;
	-webkit-border-radius:.3em;
    margin:0 3% 4% 0;
	}
.btn-submitserver{
	border:1px #e65a5a solid;
	color:#e65a5a;
	}
.btn-submitserver-no{
	border:1px #acacac solid;
	color:#acacac;
}	
.btn-submitvserver{ background-color:#fff}	

.acceptd{ 
	border-bottom:rgba(0,0,0,.1) 1px solid;
	padding: 0 0 11px 0;
    background-color: #fff;
	}
.item-normal{
	
}
.introduce-box{
	background:#ffffff repeat;
	padding:3% 0 0 0;	
	color:#4f6175;
}
.introduce-box .ui-flex .flex-ico{
	width:100px;
}
.introduce-box .ui-flex .flex-ico02{
	width:80px;	
	height:80px;	
}
.introduce-box  .flex-ico03{
	padding:3px 0 0 0;
	box-flex: 3;
    -webkit-box-flex: 3;        
}
.introduce-box .flex-ico03 div{
	width:70px;	
	text-align: center;
}
.introduce-box .flex-ico03 div span{
	margin-top: 5px;
	width: 80%;
}
.introduce-box .flex-ico03 img{
	width:70%		
}
.introduce-box  .flex-ico04{
	padding:3px 0em 0 0;
	box-flex: 4;
    -webkit-box-flex: 4;        
}
.introduce-box .flex-ico04 div{
	width:70px;	
	text-align: center;
}
.introduce-box .flex-ico04 div span{
	margin-top: 5px;
	width: 80%;
}
.introduce-box .flex-ico04 img{
	width:70%		
}
.introduce-box .ui-flex .flex-con{ 
 	box-flex: 2;
    -webkit-box-flex: 2;    
	margin:0 0 0 6%;
	width:60%
}
.introduce-box .ui-flex .flex-con02{ 
 	box-flex: 2;
    -webkit-box-flex: 2;    
	margin:3% 0 0 6%;
	width:60%
}
.introduce-box .flex-con03{ 
 	box-flex: 2;
    -webkit-box-flex: 2;    
	margin:0 0 0 5px;
	width:34%
}

.introduce-box .photo{
	position:relative;
	z-index:0;
	border:rgba(0,0,0,.1) 1px solid;
	padding:3%;
	width:100px;
}
.introduce-box .photo02{
	position:relative;
	z-index:0;
	border:rgba(0,0,0,.1) 1px solid;
	padding:3%;
	width:100%;
	border-radius: 50%;
	height: 100%;
	box-sizing: border-box;
	margin-right: 5px;
}
.introduce-box .photo img{
	width: 100%;
	height:140px;
}
.introduce-box .photo02 img{
	width:100%;	
	border-radius: 50%;
	height: 100%;
}
.introduce-box .photo .imgbox:first-child, .introduce-box .photo02 .imgbox:first-child{
	transform:rotate(10deg);
	-webkit-transform:rotate(10deg);
}
.introduce-box .photo a.view{
	display: block;
  width: 99px;
  position: absolute;
  left: -1px;
 top:113px;
  background-color: rgba(0,0,0,.5);
  color: #fff;
  font-size: 12px;
  text-align: center;
 
  
}
.introduce-box .photo02 a.view{
	display:block;
	width:69px;
	position:absolute;
	left:0px;
	bottom:0px;
	background-color:rgba(0,0,0,.5);
	color:#fff;	
	font-size:6px;
	text-align:center;

}
.introduce-list h3{
	font-size:1.225em;
	color:#595959
}
.introduce-list .item{
	border-bottom:#d5d5d5 1px  dashed;
	padding:2% 0;
}
.introduce-list .item:first-child{
	border-top:0;	
}
.introduce-list .item:last-child{
	border-bottom:0;	
}
.nodata{
	padding:50px 3.906%;
	text-align:center;
}
.nodata img{
	width:180px;
}

.ico-star{
	width:18px;
	height:18px;
	background: url(img/ico_star01.png) no-repeat -20px 0;
	background-size:auto 16px;
	margin-right:2px;
}
.ico-star.able{
	background-position:0 0;
}
.ico-star02{
	width:32px;
	height:32px;
	background: url(img/ico_star01.png) no-repeat -36px 0;
	background-size:auto 30px;
	margin:4% 15px 0 0;
}
.ico-star02.able{
	background-position:0 0;
}
.item03{
	display: -webkit-box;
  -webkit-box-sizing: border-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: justify;
  border-top:#fafafa 1px solid;
	border-bottom:#d5d5d5 1px  dashed;
	/*padding:10px 0 0px 0;*/
	font-size:1em;
  }
.telephone{ width:25%;  padding:12px 0 0 8px}
.telephone img{width: 40px;}
.ico-telephone:before{
	font-size:2.3em;
	color:#e65a5a;
	right:15%; 
	margin-left:15%;
	margin-top: 4px;
	}  
	
.itemassess{
	background:#ffffff repeat;
	padding:3% 0;	
		}
.itemassess .item{
	border-top:rgba(0,0,0,.1) 1px solid;
	
	
	}
.ico-love:before{
	 color:#cccccc;
	 top:-1px;
	 font-size:24px
	 }	
	 
.btn-submitassess{
	color:#595959;
	padding:2px 6px;
	border:1px rgba(0,0,0,.1) solid;
	width:auto;
	font-size:1em;
	background-color:#fff8d6; margin-left:2%; margin-bottom:2%
	}	
.btn-submitapprisal{
	color:#595959;
	padding:2px 6px;
	border:1px rgba(0,0,0,.1) solid;
	width:auto;
	font-size:1em;
	background-color:#f5f5f5; margin-left:2%; margin-bottom:2%
	}		 
.danhao{
	background:#ffffff repeat;
	padding:3% 0 0 0;
	
	}	
.danhao li{border-top:rgba(0,0,0,.1) 1px dashed; padding-top:2% }	 
.ico-score:before{ font-size:2.3em; padding-right:22%; color:#cccccc}

.input-text{
	font-size:1.143em;	
	color:#595959;
	width:100%;
	vertical-align:middle;
	font-family:"Microsoft YaHei";
	background-color:#f0f0f0;
	padding: 10% 3%;
    height: 20px;
    line-height: 20px;
}
.inputing-text{
	font-size:1.143em;	
	color:#595959;
	width:100%;
	vertical-align:middle;
	font-family:"Microsoft YaHei";
	background-color:#f0f0f0;
	padding: 10% 3%;
    height: 20px;
    line-height: 20px;
}
.grid-btn
{
	padding:10px;
	text-align:center;
}
.ui-btn {
	display:inline-block;
	vertical-align:middle;
	text-align:center;
	font-size:1em;
	cursor:pointer;	
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

.btn-submit, .btn-cancel,.btn-normal,.btn-buttom-m,.btn-buttom-l,.btn-submit-no{
	color:#fff;
	padding:9px 10px;
	border:0;
	width:auto;
	min-width:150px;
	font-size:1.143em;
	border-radius:.3em;
	-webkit-border-radius:.3em;
}
.btn-submit,.btn-normal{
	background-color:#e65a5a;
}
.btn-cancel{
	background-color:#d2d2d2;
	
	}
	.btn-submit-no {
  background-color: rgb(210,210,210);
}
.btn-submit:active,.btn-normal:active{
	background-color:#bd4949;
}
.ico-refresh:before{
	color:#cccccc;
	top:-3px
	}
.ad {
  width: 100%;
  bottom: 0;
  z-index:0}
.ad img{ width:100%}	
.img-div{
	text-align: center;
  width: 100%;
  padding-left: 30px;
  height: 90px;	
}
.img-div img{ width: 50%;}
/**/
.msg-div {
	width:auto;
	padding-left: 16px;
	margin-bottom: 10px;
}

.msg-div .msg-box-h{
	border:1px solid rgb(210,210,210);
	min-height:auto;
	width: auto;
	-webkit-border-radius: 5px;	
	padding: 5px 10px;
	float: left;
}
.msg-div .msg-box-h .msg-lt-h{
	width: 18px;
  	height: 7px;
  	background: url(img/top-masege.png);
  	position: absolute;
  	z-index: 2;
  	margin: -12px 0 0 5px;
}
.ui-fm .item {
  border-bottom: rgba(0,0,0,.1) 1px solid;
}
.div-padding-top-buttom10 {
  padding: 10px 0 8px 0;
}
.img-div {
  text-align: center;
  width: 100%;
  padding-left: 30px;
}
.inner-banner {
  padding: 10px 10px 0 10px;
}
.img-div img {
  width: 50%;
}
.ui-text-center {
  text-align: center;
  width: 100%;
  height: 33px;
  line-height: 33px;
}
.text-fontStyle {
  color: #595959;
  font-size: 1.143em;
}
.text-fontStyle2 {
  color: #CCCCCC;
  font-size: 1em;
}
.ui-text-center {
  text-align: center;
  width: 100%;
  height: 33px;
  line-height: 33px;
}
.ui-fm, .ui-msg {
  background-color: #fff;
  border-top: rgba(0,0,0,.1) 1px solid;
  padding: 0 3%;
}
.ui-fm, .ui-box .ui-fm {
  border-bottom: rgba(0,0,0,.1) 1px solid;
}
.waybill_floatchamber{
  width: 60px;
  right: 12px;
  top: 140px;
  position: fixed;
  z-index: 10;
  white-space: nowrap;	
}
.waybill_floatchamber img{
	width:100%;
	position:absolute;
	z-index: 99;
}