@charset "utf-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form,input, fieldset, textarea, p, blockquote, th, td {
	margin:0;
	border:0;
	padding:0;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	outline:none;
	-moz-user-select: -moz-none;
	-webkit-touch-callout: none;
	-ms-touch-action: none;
	-webkit-tap-highlight-color: transparent;
	-moz-tap-highlight-color: transparent;
	font-family:"Microsoft YaHei",Arial;
}
body {
	background:#fff ;
	font:14px/1.5 Arial, Helvetica, sans-serif;
	color:#373737;
	-webkit-text-size-adjust:none;
	font-family:"Microsoft YaHei",Arial;
	
}

table {
	border-spacing:0;
	border-collapse:collapse;
}
td, th {
	empty-cells:show;
}
ul, ol,li {
	list-style:none;
}
img{
	vertical-align:middle;	
}
a img {
	border:none;
}
h1, h2, h3, div, li, p {
	font-size:100%;
	font-weight:normal;
}
a {
	color:#595959;
	text-decoration:none;
}
a:active, a:hover, a:focus, a:visited {
  outline: none;
  outline: 0; }
textarea:focus,button:focus {
  outline: none !important;
  outline: 0 !important; }

input:active,textarea:active {
  outline: none !important;
  outline: 0 !important; }

input {
 
  outline: none; }
em, i {
	font-style:normal;
}
.br {
	display: block;
}
a, input, button {
	outline: none;
	cursor:pointer;
}
input[type="submit"], input[type="button"] {
	-webkit-appearance:none;
}
input::-webkit-search-decoration, input::-webkit-search-cancel-button {
 display: none;
}
a, button, input, textarea, li, span {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0.02);
	outline:none;
}
button:focus, input:focus, textarea:focus {
	-webkit-user-modify:read-write-plaintext-only;
}
.btn-submit {
  min-width: 300px;
  background-color: #FFFFFF;
  border: 2px solid #e44a4a;
  padding: 10px 40px;
  font-size: 18px;
  color: #e44a4a;
  border-radius: 3px;
}
.btn-submit2{	
    background: url(../img/submit12.png);
    margin-left: 77px;
    padding: 9px 50px;
}
.disable{  	
    background: url(../img/submit11.png);
    margin-left: 77px;
    padding: 9px 50px;
}
.clearall{
	clear: all;
}
.mar-top30{
	margin-top: 20px;	
}
.mar-top31{
	margin-top: 10px;	
}
.mar-top60{
	margin-top: 60px;	
}
.mar-left30{
	margin-left: 10px;
}
.mar-left32{
	margin-left: 30px;
}
.mar-left31{
	margin-left:28px;
	font-size: 18px;
}
.top{
	height: 114px;
	width: 100%;
	margin: 0  auto;
	background-color: #18222b;	
}
.top-main{ 
    width: 1080px;
    margin: 0 auto;
    /*display: -webkit-box;
  -webkit-box-sizing: border-box;*/
}
.top-main .logo{
	padding-top: 25px;
	float: left;
}
.top-main .nav{	
	width: 582px;
	float: right;
	padding-top: 35px;
}
.top-main .nav ul{
	list-style-type: none;
	width: 522px;
	height: 48px;
	font-size: 18px;
}
.top-main .nav ul li{
	color: #fff;
	float: left;
	margin-left: 40px;
}
.top-main .nav ul li a{
	color: #fff;
}
.top-main .nav ul li a.hover, .top-main .nav ul li a.active{
	border-bottom: #e44a4a 2px solid;
	text-decoration: underline;
}
#example-one{margin:0 auto;list-style:none;position:relative;width:637px}
#example-one li{display:inline-block}
#example-one a{color:white;font-size:16px;float:left;padding:3px 0;text-decoration:none;text-transform:uppercase}
#example-one a:hover{color:white}
#magic-line{position:absolute;bottom:6px;margin-left:0px;width:100px;height:2px;background:#fe4902}
.current_page_item a{color:white !important}
.ie6 #example-one li, .ie7 #example-one li{display:inline}
.ie6 #magic-line {bottom:-3px}
.bannerbg{ 
	padding: 0;
	}
.bannerbg .banner{	
	 width: 100%;
	 min-height: 589px;
	 overflow: hidden;
}
.bannerbg .about-banner{	
	 width: 100%;
	 min-height: 390px;
	 overflow: hidden;
}
.about-banner{
	 position: relative;
	 text-align: center;
	 background-color: #58c8e6;	
}
.bannerbg .conperation-banner{	
	 width: 100%;
	 min-height: 386px;
	 overflow: hidden;
}
.conperation-banner{
	 position: relative;
	 text-align: center;
	 background-color: #ecbd19;	
}
.bannerbg .contact-banner{	
	 width: 100%;
	 min-height: 390px;
	 overflow: hidden;
}
.contact-banner{
	 position: relative;
	 text-align: center;
	 background-color: #2ea2d9;	
}
.banner{
	 position: relative;
	 text-align: center;
	 background-color: #56d5ff;	
}
.banner img{ vertical-align: middle;}
.bannerbg .service-banner{	
	 width: 100%;
	 min-height: 388px;
	 overflow: hidden;
}
.service-banner{
	 position: relative;
	 text-align: center;
	 background-color: #ff9575;	
}
.services{
	margin-top: 30px;
}
.services-title{
	border-bottom: #c5c5c5 2px solid;
	height: 40px;
	background-color: #fff;
	width: 380px;
	margin: 0 auto;
	text-align: center;
} 
.services-title:before{
	content: "　产品服务　";
	font-size: 32px;
	height: 32px;
	width: 300px;
	margin-top: 0px;
	background-color:#fff;
	text-align: center;	
}
.services-title p{
	font-size: 20px;
	color: #b0b0b0;
}
.reminder{
	margin-top: 30px;
}
.reminder-title{
	border-bottom: #c5c5c5 2px solid;
	height: 40px;
	background-color: #fff;
	width: 380px;
	margin: 0 auto;
	text-align: center;
} 
.reminder-title:before{
	content: "　物流提醒　";
	font-size: 32px;
	height: 32px;
	width: 300px;
	margin-top: 0px;
	background-color:#fff;
	text-align: center;	
}
.reminder-title p{
	font-size: 20px;
	color: #b0b0b0;
}
.tracking{
	margin-top: 30px;
}
.tracking-title{
	border-bottom: #c5c5c5 2px solid;
	height: 40px;
	background-color: #fff;
	width: 380px;
	margin: 0 auto;
	text-align: center;
} 
.tracking-title:before{
	content: "　快件追踪　";
	font-size: 32px;
	height: 32px;
	width: 300px;
	margin-top: 0px;
	background-color:#fff;
	text-align: center;	
}
.tracking-title p{
	font-size: 20px;
	color: #b0b0b0;
}
.delivery{
	margin-top: 30px;
}
.delivery-title{
	border-bottom: #c5c5c5 2px solid;
	height: 40px;
	background-color: #fff;
	width: 380px;
	margin: 0 auto;
	text-align: center;
} 
.delivery-title:before{
	content: "　派送服务　";
	font-size: 32px;
	height: 32px;
	width: 300px;
	margin-top: 0px;
	background-color:#fff;
	text-align: center;	
}
.delivery-title p{
	font-size: 20px;
	color: #b0b0b0;
}
.sent{
	margin-top: 30px;
}
.sent-title{
	border-bottom: #c5c5c5 2px solid;
	height: 40px;
	background-color: #fff;
	width: 380px;
	margin: 0 auto;
	text-align: center;
} 
.sent-title:before{
	content: "　寄件服务　";
	font-size: 32px;
	height: 32px;
	width: 300px;
	margin-top: 0px;
	background-color:#fff;
	text-align: center;	
}
.sent-title p{
	font-size: 20px;
	color: #b0b0b0;
}
.sign{
	margin-top: 30px;
}
.sign-title{
	border-bottom: #c5c5c5 2px solid;
	height: 40px;
	background-color: #fff;
	width: 380px;
	margin: 0 auto;
	text-align: center;
} 
.sign-title:before{
	content: "　安全签收　";
	font-size: 32px;
	height: 32px;
	width: 300px;
	margin-top: 0px;
	background-color:#fff;
	text-align: center;	
}
.sign-title p{
	font-size: 20px;
	color: #b0b0b0;
}
.safety{
	margin-top: 30px;
}
.safety-title{
	border-bottom: #c5c5c5 2px solid;
	height: 40px;
	background-color: #fff;
	width: 380px;
	margin: 0 auto;
	text-align: center;
} 
.safety-title:before{
	content: "　安全签收　";
	font-size: 32px;
	height: 32px;
	width: 300px;
	margin-top: 0px;
	background-color:#fff;
	text-align: center;	
}
.safety-title p{
	font-size: 20px;
	color: #b0b0b0;
}
.team-title{
	border-bottom: #c5c5c5 2px solid;
	height: 40px;
	background-color: #fff;
	width: 380px;
	margin: 0 auto;
	text-align: center;
} 
.team-title:before{
	content: "　团队简介　";
	font-size: 32px;
	height: 32px;
	width: 300px;
	margin-top: 0px;
	background-color:#fff;
	text-align: center;	
}
.team-title p{
	font-size: 20px;
	color: #b0b0b0;
}
.iocs{
	width: 1080px;
	margin: 0 auto;
	padding: 30px 0 0 0;
	height: 580px;
}
.icos ul{
	width: 1080px;
	list-style: none;
	margin: 0 auto;
	text-align: center;
	height: 580px;
}
.icos ul li{
	width: 260px;
	float: left;
	text-align: center;
}
.icos2 ul{
	width: 1080px;
	list-style: none;
	margin: 0 auto;
	text-align: center;
	height: 320px;
}
.icos2 ul li{
	width: 260px;
	float: left;
	text-align: center;
}
.ico-services{
	width: 120px;
	height: 120px;
	/*border-radius: 50%;*/
	margin-left: 70px;
	margin-top: 70px;
	
	background: url(../img/round.png);
}

.ico-services2{
	width: 120px;
	height: 120px;
	/*border-radius: 50%;*/
	/*margin-left: 70px;
	margin-top: 70px;*/
	
	background: url(../img/round1.png) #c5c5c5;
}

.ico-services img{
	width: 60%;
}
.mar-left20{ margin-left: 150px;}
.mar-left21{ margin-left: 20px;}
.font01{
	color: #373737;
	font-size: 18px;
	margin-top: 10px;
}
.font11{
	color: #fff;
	font-size: 18px;
	margin-top: 10px;
}
.font02{
	color: #b0b0b0;
	font-size: 14px;
	margin-top: 10px;
}
.font04{
	color: #b0b0b0;
	font-size: 14px;
	line-height: 26px;
}
.font03{
	color: #5f5f5f;
	font-size: 16px;
	margin-top: 3px;
}
.font05{
	font-size: 22px;
	margin-top: 3px;
}
.color01{
	/*border: transparent 2px solid;*/
	background-color: #40c7bf;
}
.color02{
	/*border: #f5c507 2px solid;*/
	background-color: #f5c507;
}
.color03{
	/*border: #44c5f0 2px solid;*/
	background-color: #44c5f0;
}
.color04{
	/*border: #fe5a67 2px solid;*/
	background-color: #fe5a67;
}
.color05{
	/*border: #52c957 2px solid;*/
	background-color: #52c957;
}
.color06{
	/*border: #9386e0 2px solid;*/
	background-color: #9386e0;
}
.color07{
	/*border: #ff9575 2px solid;*/
	background-color: #ff9575;
}
.advantage{
	margin-top: 30px;
}
.advantage-title{
	border-bottom: #c5c5c5 2px solid;
	height: 40px;
	background-color: #fff;
	width: 380px;
	margin: 0 auto;
	text-align: center;
} 
.advantage-title:before{
	content: "　服务优势　";
	font-size: 32px;
	height: 32px;
	width: 300px;
	margin-top: 0px;
	background-color:#fff;
	text-align: center;	
}
.advantage-title p{
	font-size: 20px;
	color: #b0b0b0;
}
.contact1-title{
	border-bottom: #c5c5c5 2px solid;
	height: 40px;
	background-color: #fff;
	width: 380px;
	margin: 0 auto;
	text-align: center;
} 
.contact1-title:before{
	content: "　填写合作信息　";
	font-size: 32px;
	height: 32px;
	width: 300px;
	margin-top: 0px;
	background-color:#fff;
	text-align: center;	
}
.contact1-title p{
	font-size: 20px;
	color: #b0b0b0;
}

.advantage .icos{
	width: 1080px;
	margin: 0 auto;
	height: 800px;
}
.advantage .icos ul{
	width: 1080px;
	margin: 0 auto;
	padding: 70px 0;
	height: 800px;
}
.advantage .icos ul li{
	width: 500px;
	float: left;
	text-align: left;
	padding-bottom: 30px;
}
.contact{
	margin-top: 30px;
}
.contact-title{
	border-bottom: #c5c5c5 2px solid;
	height: 40px;
	background-color: #fff;
	width: 380px;
	margin: 0 auto;
	text-align: center;
} 
.contact-title:before{
	content: "　联系方式　";
	font-size: 32px;
	height: 32px;
	width: 300px;
	margin-top: 0px;
	background-color:#fff;
	text-align: center;	
}
.contact-title p{
	font-size: 20px;
	color: #b0b0b0;
}
.contact .icos{
	width: 900px;
	margin: 0 auto;
	height: 480px;
}

.contact .icos ul{
	width: 900px;
	margin: 0 auto;
	padding: 70px 0 0 0;
	height: 480px;
}
.contact .icos ul li{
	width: 450px;
	float: left;
	text-align: left;
	padding-bottom: 30px;
	height: 120px;
}
.contact .icos ul li .left{
	width: 150px;
	float: left;
}
.contact .icos ul li .right{
	float: left;
}
.case{
	margin-top: 30px;
	background-color: #f5f5f5;
}
.case-title{
	border-bottom: #c5c5c5 2px solid;
	height: 40px;
	background-color: #f5f5f5;
	width: 380px;
	margin: 0 auto;
	text-align: center;
} 
.case-title:before{
	content: "　合作品牌　";
	font-size: 32px;
	height: 32px;
	width: 300px;
	margin-top: 0px;
	background-color:#f5f5f5;
	text-align: center;	
}
.case-title p{
	font-size: 20px;
	color: #b0b0b0;
}
.case .icos{
	width: 1080px;
	margin: 0 auto;
	height: 400px;
}
.case .icos ul{
	width: 1080px;
	margin: 0 auto;
	padding: 70px 0;
	height: 400px;
}
.case .icos ul li{	
	float: left;
	text-align: center;
	width: 120px;
	margin-bottom: 20px;
	height: 150px;
	/*width: 120px;
	height: 120px;
	border-radius: 50%;
	background-color: #fff;
	border: #c5c5c5 2px solid;
	text-align: center;
	vertical-align: middle;*/
}
.case .icos ul li img{
	width: 80%;
}
.work{
	margin-top: 70px;
}
.work-title{
	border-bottom: #c5c5c5 2px solid;
	height: 40px;
	background-color: #fff;
	width: 380px;
	margin: 0 auto;
	text-align: center;
} 
.work-title:before{
	content: "　工作机会　";
	font-size: 32px;
	height: 32px;
	width: 300px;
	margin-top: 0px;
	background-color:#fff;
	text-align: center;	
}
.work-title p{
	font-size: 20px;
	color: #b0b0b0;
}
.tarms-title{
	border-bottom: #c5c5c5 2px solid;
	height: 40px;
	background-color: #fff;
	width: 380px;
	margin: 0 auto;
	text-align: center;
} 
.tarms-title:before{
	content: "　服务条款　";
	font-size: 32px;
	height: 32px;
	width: 300px;
	margin-top: 0px;
	background-color:#fff;
	text-align: center;	
}
.tarms-title p{
	font-size: 20px;
	color: #b0b0b0;
}
.tarms .text{
	width: 1080px;
	height: 250px;
	background-color: #F5F5F5;
	overflow:scroll;
	margin: 0 auto;
	margin-top: 50px;
}
.work .icos{
	width: 1080px;
	margin: 0 auto;
	height: 600px;
}

.work .icos ul{
	width: 1080px;
	margin: 0 auto;
	padding: 70px 0 0 0;
	height: 600px;
}
.work .icos ul li{
	width: 1080px;
	float: left;
	text-align: left;
	padding-bottom: 30px;
	height: 120px;
}
.work .icos ul li .left{
	width: 540px;
	float: left;
	height: 456px;
	padding: 105px 0 0 0;
	border-right: 2px solid rgb(210,210,210);
}
.work .icos ul li .right{
	width: 480px;
	float: left;
	padding: 10px  0 0 60px;
}
.work .icos ul li .left ul{
	list-style: none;
	width: 540px;
}
.work .icos ul li .left ul li{
	width: 540px;
	height: 240px;
}
#cd-timeline {
  position: relative;
  margin-top: 1em;
  margin-bottom: 1em;
}
/*#cd-timeline::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0px;
  height: 100%;
  width: 2px;
  background: rgb(210,210,210);
}*/

.cd-red{
  /*background: rgb(230,90,90);*/
 background-image: url(../img/roun_red.png);
  top: -40px; 
  right:-73px; 
  width: 23px;
  height: 23px;
  border-radius: 50%;
  float: right;
  /*margin:-32px -80px 0 0;*/
 position: relative;
}
.cd-grey{
  /*background: #fff;*/
  background-image: url(../img/roun_grey.png);
  top: -40px; 
  right:-73px; 
  width: 23px;
  height: 23px;
  border-radius: 50%;
  float: right;
  /*margin: -32px -80px 0 0;*/
  /*border: 2px solid #989898;*/
  position: relative;
  
}
.cd-submit-grey{
	width: 61px;
	height: 61px;
	/*border-radius: 20px;
	border: 3px solid #989898;*/
	background-color: #fff;
	float: left;
	padding: -5px 0 0 0;
	text-align: center;
	font-size: 36px;
	line-height: 59px;
	color: #989898;
	margin:25px 10px;
	background-image: url(../img/btn-grey.png);
}
.cd-timeline-block .active{
	width: 61px;
	height: 61px;
	/*border-radius: 20px;
	border: 3px solid transparent;
	background-color: rgb(230,90,90);	*/
	float: left;
	padding: -5px 0 0 0;
	text-align: center;
	font-size: 36px;
	line-height: 59px;
	color: #fff;
	margin:25px 10px;
	background-image: url(../img/btn-red.png);
}
/*.cd-container div:last-child {
  background-color: #fff;
}*/
.font-red {
  color: rgb(230,90,90);
}
.cd-timeline-content {
  position: relative;
  font-family: "Microsoft YaHei";
  font-size: 16px;
  color: #373737;
  float: left;
  width: 380px;
  text-align: right;
  padding-right: 20px;
}
.cd-timeline-block {
  position: relative;
  margin: 10px 0;
}
.cd-container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
  height: 130px;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
  }
 .cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.mar-right72{
	margin-right: 72px;
}
.caseico{
	width: 120px;
	height: 120px;
	/*border-radius: 50%;*/
	background-color: #fff;
	/*border: #c5c5c5 2px solid;*/
	text-align: center;
	vertical-align: middle;
	
	background: url(../img/round.png) #c5c5c5;
}
.caseico img{ width: 80%;}
.text01{
	width: 120px;
	text-align: center;
	font-size: 16px;
	color: #373737;
}
.bottom{
	padding-top: 50px;
	-webkit-box-sizing: border-box;
	box-sizing:border-box;
	width: 1080px;
	margin: 0 auto;
}
.bottom p{
	height: 30px;
	line-height: 20px;
	color: #5f5f5f;
	
}
.bottom .left{
	-webkit-box-flex: 1;
	width: 380px;
	height: 360px;
	float: left;
}
.bottom .center{
	-webkit-box-flex: 2;
	width: 500px;
	height: 360px;
	float: left;
}
.bottom .center p{
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	
}
.bottom .right{
	-webkit-box-flex: 3;
	width: 200px;
	height: 360px;
	float: left;
}
.bottom .right img{
	width: 200px;
	height: 200px;
}
.text02{
	background-color:#000000;
	color: #fff;
	width: 200px;	
	height: 40px;
	text-align: center;
	line-height: 40px;
	
}
.bottom .title{
	border-bottom: 1px solid #dedede;
	font-size: 20px;
	padding: 20px 0;
	width: 200px;
}
.team{
	width: 1080px;
	height: 760px;
	margin: 0 auto;
	padding: 50px 0;
}
.team ul{
	width: 1080px;
	list-style: none;
}
.team ul li{
	height: 220px;
	-webkit-box-sizing: border-box;
	box-sizing:border-box;
	width: 1080px;
}
.team ul li .left{
	-webkit-box-flex: 1;
	width: 426px;
	float: left;
	text-align: right;
	padding-right: 60px;
	height: 50px;
	margin-top: 20px;
	height: 220px;
}
.team ul li .center{
	-webkit-box-flex: 2;
	width: 220px;
	float: left;
	text-align: center;
	height: 220px;
}
.team ul li .right{
	-webkit-box-flex: 3;
	width: 385px;
	float: right;
	text-align: left;
	margin-top: 20px;
	height: 220px;
}
.remind{
	width: 1080px;
	height: 200px;	
	margin: 0 auto;
	padding:30px 0;
}
.remind .left{
	width: 140px;	
	height: 140px;
	border-radius: 50%;
	background-color: #ff9575;
	line-height: 140px;
	text-align: center;
	float: left;
}
.remind .center{
	width: 700px;
	height: 100px;
	float: left;
	padding: 30px 50px;
}
.remind .right{
	width:200px;
	padding: 50px 0;
	float: right;
}

.ui-tap-title {
  width: 1080px;
  height: 50px;
  margin: 0 auto;
  border-bottom: #cccccc solid 2px;
}
.ui-tap-title .ui-tap-btn {
  /* border: #4F6175 solid 1px; */
  width: 120px;
  float: left;
  text-align: left;
    line-height: 50px;
}
.ui-tap-title .ui-tap-btn .ui-btn {
  	width: 60px;
  	text-align: center;
  	padding: 10px 0;
  	font-size: 16px;
  	padding-left: 10px;
  	padding-right: 10px;
  	color: #b0b0b0;
}
.ui-tap-title .ui-tap-btn a.active{
  border-bottom: rgb(231,127,127) solid 2px;
  color: #373737;
  font-size: 18px;
  
}
.tap-content{
	width: 1080px;
	height: 600px;
	margin: 0 auto;
	text-align: left;
}
.conperation{
	width: 1080px;
	height: 320px;
	margin: 0 auto;
	margin-top: 30px;
}
.conperation-title{
	width: 765px;
	margin: 0 auto;
	height: 80px;
	line-height: 80px;
	font-size: 22px;
	text-align: left;
	margin-left: 315px;
}
.conperation01{
	width: 1080px;
	height: 250px;
}
.conperation01 .left{
	width: 216px;
	height: 25px;
	margin: 0 auto;
	float: left;
}

.conperation01 .right{
	width: 764px;
	height: 250px;
	float: right;
	text-align: left;
}
.conperation01 .right li{
	width: 764px;
	height: 100%;
}
.conperation01 .right li .case li{
	float: left;
	text-align: center;
	width: 120px;
	margin-bottom: 20px;
	height: 150px;
	
}
.logo01{
	width: 150px;
	height: 150px;
	float: left;
}
.logottt{
	width: 764px;
	height: 150px;
}
.copy{
	margin-top:30px;
	margin: 0 auto;
	width: 1080px;
	height: 80px;
	line-height: 80px;
	text-align: center;
}

.ico-services > div{
	padding-top: 24px;
}

.sa-bg{
	width: 500px;
	height: 330px;
	position: relative;
	margin: 0 auto;
}
.sa-bg:hover .mask{
	display: block;
}
.sa-bg:hover .ico-img{
	margin-top:-130px ;
}
.sa-bg:hover .ico-lable {
	display: block;
	
}

.sa-bgImg-01{
	background: url(../img/bg01.jpg);
}

.sa-bgImg-02{
	background: url(../img/bg02.jpg);
}

.sa-bgImg-03{
	background: url(../img/bg03.jpg);
}

.sa-bgImg-04{
	background: url(../img/bg04.jpg);
}


.ico-img{
	width: 121px;
	height: 121px;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	margin-top:-60px ;
	left: 50%;
	margin-left: -60px;
	z-index: 2;
	border-radius: 50%;
}

.mask{
	display: none;
	height: 100%;
	width: 100%;	
	position: absolute;
	z-index: 1;	
	background-image: url(../img/mask.png);
}

.ico-lable{
	display: none;
	position: absolute;
	z-index: 2;
	width: 460px;
	left: 20px;
	top: 50%;
	text-align: center;
}

.ico-lable h3{
	margin: 0 auto;
	text-align: center;
	color: #FFFFFF;
	font-size: 18px;
}
.ico-lable p{
	margin: 0 auto;
	text-align: left;
	color: #FFFFFF;
	font-size: 14px;
	padding-left: 20px;
}

.conperation02{
	width: 1080px;
	height: 250px;
	margin: 0 auto;
}

.conperation03{
	width: 1080px;
	height: 550px;
	margin: 0 auto;
	padding: 30px 0 0 0;
}

.c-box{
	height: 100%;
	width: 1065px;
	float: right;
	background: #F8F8F8;
}

.c-box .label-title{
	height: 65px;
	width: 100%;
	margin-left: -15px;
	margin-top: 30px;
}

.c-box p{
	height: 100px;
	width: 96%;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	font-size: 16px;
}

.process-box{
	height: 130px;
	width: 842px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	
}

.process-box ul li{
	height: 130px;
	width: 120px;
	margin-left: auto;
	margin-right: auto;
	float: left;
	text-align: center;
}

.process-box ul li .process-img{
	height: 145px;
	width: 107px;
	margin-left: auto;
	margin-right: auto;
	
}

.process-box ul li .process-label{
	height: 30px;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	font-size: 18px;
	color: #379ED8;
}

.process-box ul li .process-img2{
	height: 145px;
	width: 107px;
	margin-left: auto;
	margin-right: auto;		
}
.formdiv{
	width: 842px;
	margin-top: 80px;
	margin-left: 132px;
	font-size: 16px;
	
}
.formdiv p{
	margin-top: 20px;
}
.formdiv label{
	width: 80px;
}
.input-text{
	border:1px solid #acacac;
	height: 30px;
	line-height: 30px;
	width: 750px;
}
.input-text2{
	border:1px solid #acacac;	
	width: 750px;
}
.none{
	width: 1080px;
	margin: 0 auto;
	padding: 30px 0 ;
	text-align: center;
}
/*.tips{
	margin:5px 0 0 80px;
	color: #F00;
	font-size: 14px;		
}*/
.tips{
	margin:5px 0 0 80px;
	color: #fff;
	font-size: 14px;
	background-image: url(../img/tip.png);	
	z-index:10;
	position: absolute;
  width: 370px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
  margin-left: 227px;
}
