/*  by sf-exrpess.com 2014-3-19, annie_chen */
@charset "utf-8";
/* reset */
*, *:before, *:after{margin:0;border:0;padding:0;-webkit-box-sizing:border-box;	box-sizing:border-box;}
body{font:normal 16px/1.5 "microsoft yahei" Arial, Helvetica, sans-serif; background:#fff; color:#333; padding-top:0px;}
a,a:visited{ text-decoration:none; outline:none;}
ul,ol{list-style:none;}
a img{border:none;}
h1,h2,h3,div,li,p{font-size:100%;font-weight:normal;}
a{color:#4c4c4c;text-decoration:none;}
a:hover,a.current{outline:none;}
em,i{font-style:normal;}
.br{display: block;}
input{outline: none;}
input[type="submit"],input[type="button"]{-webkit-appearance:none;}
input::-webkit-search-decoration,input::-webkit-search-cancel-button {display: none;}
input:focus,textarea:focus{ -webkit-tap-highlight-color:rgba(0,0,0,0);}
.clearfix:after,.cols:after{content:"\020"; display: block; height:0; clear:both; visibility:hidden}
.clearfix,.cols{zoom:1;}
.placeholder{color:#999;}
.hot{ color:#ff0000;}
.btn-normal-dark,.btn-normal,.btn-submit{border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; vertical-align:middle;}
.btn-normal,.btn-normal-dark{ display:inline-block; padding:.2em .5em; width:100%; text-align:center;}
.btn-normal-dark{ background:#dd3300; color:#fff;}
.btn-normal-dark:active{background-color:#c53003;}
.btn-normal{ background:#e2e2e2;}
.btn-submit{ display:inline-block; padding:0 .5em; height:40px; line-height:40px; background:#cd2103; width:100%; text-align:center; color:#fff; border:#871302 1px solid;}
.btn-submit:active{ border-color:#871201; background:#9c1a03;}

.grid-content{padding:1.56%; overflow:visible;}
.grid-btn{ padding:15px 0;}
.cols{ clear:both;}
.cols .cols-l{ display:inline-block; width:80%; margin-right:2%;}
.cols .cols-r{ display:inline-block; width:18%; height:100%; display:table-cell; vertical-align:middle;}
.ticket-list li{ padding:.4em 0; border-bottom:#d5d5d5 1px dashed; display:table; width:100%;}
.ticket-list h2{ font-size:1.125em; padding:10px 0;}
.ticket-list h3{ font-size:1em;}
.ticket-list li p{ color:#888;}

header{ position:relative; height:45px; background-image: -moz-linear-gradient(top, #cd2103, #942111); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #cd2103), color-stop(1, #942111)); background-image: -o-linear-gradient(top, #cd2103, #942111); background-color:#000; border-bottom:#851002 2px solid; zoom:1;}
header h1{ color:#fff; min-height:1.25em; font-size:1em; font-weight:bold; text-align:center; text-shadow:0 1px 1px #851002; padding:.6em 30%; margin:0; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}

footer{ color:#999; padding:1.56% 0; text-align:center; font-size:.75em;}

@media screen and (max-width: 320px){
	body{font-size:14px;}
}


