/* CSS Document */
@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{ margin:0; padding:0; color:#333;}
body{background:#fff;font-family:'Microsoft Yahei',Helvetica,Tahoma,sans-serif;font-size:16px;line-height:1.5;color:#333;-webkit-text-size-adjust:none; padding:0; min-width:320px;}
table{ border-collapse:collapse;border-spacing:0;}
fieldset,img{ border:0; }
a img{border:none;}
html{ font-size: 100%;  -webkit-text-size-adjust: 100%;  -ms-text-size-adjust: 100%;}
a{text-decoration:none;}
a:focus{ outline: thin dotted #333; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px;}
a:hover,a:active{ outline: 0;}


.main{margin:0 auto; font-family:"microsoft yahei";}
.main img{width:100%; max-width:100%;}
.footerImg{position:relative; width:100%;}
.footerImg a{position:absolute; right:5%; top:17.5%; display:inline-block; padding:1px 10px; font-size:0.875rem; border:1px solid #d00; color:#fff; background:#f00; border-radius:5px;}
.footerImg a:active{background:#c00;}