html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body{
	background: #f0f3f5;
	font-family:"Microsoft YaHei",Arial;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#main .banner_pic{
	margin-top: 10px;
	width: 100%;
}
#main .search_input{
	margin-top: 10px;
	width: 80%;
	background: #ffffff;
	border-bottom: 1px solid #b2b2b2;
	border-top: 1px solid #b2b2b2;
	padding: 10px 10% 10px 10%;
		margin-bottom: 120px;
		position: relative;
}
#main .search_input input{
	border: none;
	background: #e7e7e7;
	width: 100%;
	height: 30px;
	text-indent: 2em;

}
#main .buttons{
   position: absolute;
   bottom: -120px;
   left: 30%;
}
.button{
	padding: 10px 40px;
	border: none;
	background: #cbcbcb;
	border-radius: 5px;
	font-size: 1em;
	color: #FFFFFF;
	font-weight: bold;
}
.cursorButton{
	padding: 10px 40px;
	border: none;
	border-radius: 5px;
	font-size: 1em;
	color: #FFFFFF;
	font-weight: bold;
	cursor: pointer;
	background: #f58c31;
}
.wbprompt{ color: red; font-size: 0.8em; line-height: 2em; display: none;}
