@charset "UTF-8";
/*@import"M_plug/layer.css";*/
@import"M_font.css";

body,button, input, select, textarea { font: 14px 'Microsoft YaHei','SimHei',Helvetica,Arial, sans-serif;   }
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
em,i{font-style:normal;}


ul, ol { list-style: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block;  margin: 0; padding: 0; border: 0;}

a { color: #434343; text-decoration: none;}
a:visited { color: none; }
a:hover { color: none; }
a:focus { outline: none; }
a:hover, a:active { outline: 0; }
textarea {border-radius: 0;}

/*清除浮动设置*/
.clearfix:before,
.clearfix:after { content:"."; display:block; height:0px; visibility:hidden;}
.clearfix:after { clear:both;}
.clearfix { zoom:1;} /*IE<8*/

/*浮动公用样式*/
.fl {float:left;}
.fr {float:right;}

/*文字超出框显示省略号*/
.Omit {white-space:nowrap;text-overflow:ellipsis;}

/*ios按钮*/
input, textarea{
    -webkit-appearance:none;
    outline:none
}

.hide {display: none}


html,body, .wrap {position: relative; height: 100%; max-width: 900px; margin:0 auto;}
body {background: #F5F5F5; color: #434343;}

.wrap{}
.content {position: relative; }


/* 地址薄 */
.addrArea {padding: 0 15px;  background: #fff; }
.addrList .tipMoren {margin-right: 4px;}
.addrList li {border-bottom: 1px solid #e1e1e1}
.addrList li:last-child {border-color: transparent;}
.addrList .addrInfo {position: relative; padding:14px 14px 14px 0;}
.addrList .addrInfo p {margin-bottom: 10px;}
.addrList .addrInfo .addrName {font-size: 16px;}
.addrList .addrEdite {margin-left:14px; display: block; color: #979797; font-size: 20px; }
.addrList .splitline {height:60px; margin-top: -30px; }
.addBtn_addr {width: 60%; margin: 30px auto; font-size: 16px;}
.locationBtn {padding:5px 8px;}
.locationBtn .iconImg_loc {height: 17px; width: 12px; display: block; margin: 0 auto;}
.locationBtn p {text-align: center; font-size: 12px; color: #979797}
.item .loc_splitL {right: 4px;}

/* 默认按钮开关 */
.item .moren {line-height: 45px; font-size: 1.143em; position: relative;}
.item .mrBtn {background: #a7a7a7; height: 20px; width: 50px; border-radius: 25px; margin:12px 0; position: relative;}
.item .mrBtn em {background: #efefef; height: 30px; width: 30px; border-radius: 50%; position: absolute;   top: 50%; margin-top: -15px; left: 0;
    -webkit-transition: left .5s ease 0s;
    -o-transition: left .5s ease 0s;
    transition: left .5s ease 0s;
}
.item .mrBtn.active {background: #f66465;}
.item .mrBtn.active em {background: #fcd5d6; left: 22px; right: 0;}

/* 城市列表 */
.searchCity {position: fixed; bottom: 0; background: #fff; width: 100%; left: 0; height: 90%; z-index: 110;}
.searchCity .searchBox {background: #f5f5f5; padding: 10px; height: 60px; box-sizing: border-box;}
.searchBox .closeBtn {color: #979797; text-align: center; font-size: 20px; margin-right: 8px;}
.searchBox .seaTextArea { position: relative; border:1px solid #d3d3d3; border-radius: 5px; background: #fff;}
.searchBox .searchText { width: 90%; border-radius: 5px; height: 36px; padding-left: 4px;   overflow: hidden;}
.searchBox .seaClearBtn {position: absolute; height: 20px; width: 20px; top: 50%; right: 4px; margin-top: -10px; font-size: 18px; color: #e1e1e1; text-align: center; line-height: 20px;}

/* 选择记录记录 */
.cityListBox {}
.cityListBox .hotCityBox {border-bottom: 1px solid #e1e1e1; height: 48px;}
.hotCityBox .cityList {padding-left: 5px;}
.hotCityBox .cityList .icoStyle {font-size: 14px; width: 14px; height: 22px;}
.hotCityBox .cityList span {display: inline-block; vertical-align: middle; max-width: 70px;  white-space:nowrap;text-overflow:ellipsis; overflow: hidden;}
.hotCityBox .cityList i {vertical-align: middle;}
.hotCityBox .splitline {position: static; margin-top: 0;}
.hotCityBox .splitline {height: 70%;}

/* 城市列表 */
.searchCity .cityIscroll {}
.cityListBox .seletCityArea {}
.seletCityArea .swiperList { height: 100%;  overflow: hidden; position: relative;}

.swiperList .Llist {background: #fff; width: 30%; height: 100%;  position: absolute; left: 0; top: 0;}
.swiperList .Rlist {background: #fff; width: 70%; height: 100%; position: absolute; right: 0; top: 0;}
.swiperList ul {position: absolute; left: 0; width: 100%; top: 0; }
.swiperList li {text-align: center; line-height: 49px; white-space:nowrap;text-overflow:ellipsis; overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.swiperList .Rlist ul {padding:0 10px;}
.swiperList .Rlist li {border-bottom:1px solid #e1e1e1; }
.swiperList .Llist ul {background: #f5f5f5;}
.swiperList .Llist li {border-bottom:1px solid #e1e1e1; border-left: 4px solid #f5f5f5}
.swiperList .Llist li.active {background: #fff;  border-left: 4px solid #f66465}




/* 搜索列表*/
.hisList {}
.hisList li { border-bottom: 1px solid #d3d3d3; line-height: 40px; text-align: center; font-size: 14px; }
.hisList li span {vertical-align: middle;}
.hisList .splite {display: inline-block; width: 20px; margin: 0 5px; height: 1px; background-color: #434343; vertical-align: middle;}



/* 寄件首页 */
.order_box {position: relative;}
.order_box li.special>dl>dt {line-height: 1.8rem; position: relative; }
.order_box li.special>dl>dt.arrow:after {height: 0; }

/* 物品名称 重量 付款方式 保价*/
.order_layer_iframe .content_fkfs li {border-color: #979797}
.order_layer_iframe .content_wpmc li,
.order_layer_iframe .content_wpzl li,
.order_layer_iframe .content_dxgs li {border-radius: 5px; border: 1px solid #979797;}
.order_layer_iframe .content_wpmc li.current,
.order_layer_iframe .content_fkfs li.current,
.order_layer_iframe .content_wpzl li.current,
.order_layer_iframe .content_dxgs li.current {border-color: #f66465; color: #f66465; background: transparent;}
.order_layer_iframe>.close {background:url(../img/closered.png) no-repeat; background-size: 1.6rem;}

/* 物品名称  物品重量*/
.order_layer_iframe>.container {padding:1rem 0; }
.order-container-top {border-bottom: 0;}

.order_layer_iframe .content_wpmc .pd,
.order_layer_iframe .content_wpzl .pd,
.order_layer_iframe .content_dxgs .pd  {border-right: 0; border-color: #e1e1e1; background:#f9f9f9; padding: 0;width: 98.8%;overflow: hidden; }
.order_layer_iframe .content_dxgs .pd {border-right: 1px solid #e1e1e1;}

.order_layer_iframe .content_wpmc .pd input,
.order_layer_iframe .content_wpzl .pd input,
.order_layer_iframe .content_dxgs .pd input {padding: 0.8rem 0; margin-left: 0.5rem; width: 95%; background:transparent;}

.order_layer_iframe .content_wpzl dt,
.order_layer_iframe .content_wpmc dt,
.order_layer_iframe .content_dxgs dt{width: 8%; display: table-cell}
.order_layer_iframe .content_wpmc dl,
.order_layer_iframe .content_wpzl dl,
.order_layer_iframe .content_dxgs dl {margin-bottom: 1rem; padding: 0 2rem; box-sizing: border-box;}

.order_box li.special>dl>dd {font-size: 1.2rem;}
#js_content_cplx i {font-size: 1.2rem;}
.order_layer_iframe .content_wpmc dd,
.order_layer_iframe .content_wpzl dd {width: 2%; border: 0;  background-color: #fff; }

.order_layer_iframe .content_wpmc dd a,
.order_layer_iframe .content_wpzl dd a { line-height: normal; padding:0.8rem 0; color: #e1e1e1; border: 1px solid #e1e1e1;}
.order_layer_iframe .content_wpmc dd a.active,
.order_layer_iframe .content_wpzl dd a.active {color: #f66465; border: 1px solid #f66465;}
.order_layer_iframe ul{padding: 0 2rem;}

/* 重量 */
.order_layer_iframe .content_fkfs ul {padding: 0 2rem 1rem;}
.order_layer_iframe .content_fkfs {padding: 0;}

/* 保价 */
.order_layer_iframe .content_bj1 .content_bjBox {margin-bottom:1rem; padding: 0 2rem;}
.order_layer_iframe .content_bj1 dl {margin-bottom: 0; padding:0;}
.order_layer_iframe .content_bj1 h3 { box-sizing: border-box; border: 1px solid #e1e1e1; border-top: 0; line-height: 3.6rem; padding-left: 0.6rem;}
.order_layer_iframe .content_wpzl .pd input {width: 85%;}
.order_layer_iframe .content_wpzl .pd input+i{ top: 50%; margin-top: -0.7rem; line-height: 1.4rem;}

#js_content_cplx i {color:#434343;}



/*温馨提示*/
.tipWord {border-top: 1px solid #e1e1e1; background-color: #fbfbfb; }
.tipWord h5 {color: #979797; padding: 0.5rem 2rem; font-size: 1.3rem;}
.tipWord .tipIntro {font-size: 1.1rem; color: #979797; line-height: 1.7rem; padding: 0 2rem;}
.tipWord .tip_Iconhearts {display: inline-block; height: 2rem; width: 2rem; background:url(../img/tip_heart.png) no-repeat center center; background-size: 1.6rem; vertical-align: middle;}
.tipWord span {display: inline-block; vertical-align: middle;}
.point {margin: 0 4px; line-height: 1.1rem;}

/* 对小哥说 */
.submit02 {font-size: 1.4rem; top: 1rem;}


/*条款*/
.order_submit dt a {font-size: 1.1rem; color: #3c8aff;}

/* 寄件事件 对小哥说 */
.message:before {background: url(../img/talkIcon.png) no-repeat center center; background-size: 2.5rem;}
.message.active:before {background: url(../img/talkIcon_over.png) no-repeat center center; background-size: 2.5rem;}
.appointment:before {background: url(../img/timeIcon.png) no-repeat center center; background-size: 2.5rem;}
.appointment.active:before {background: url(../img/timeIcon_over.png) no-repeat center center; background-size: 2.5rem;}


/* 寄件 */
.grid-btn .ui-btn {width: 45%;}
.btn-buttom-nh {border-color: #434343;  color:#434343; width: 45%;}
.btn-buttom-nh a {color:#434343;}
.btn-buttom-c {background: #fff;   border: 1px solid #f66465;  color: #f66465; width: 45%;}
.btn-buttom-c:visited {background: #fff;   border: 1px solid #f66465; color: #f66465}
.btn-buttom-c a {color: #f66465}


/* 产品类型选择 */
.SF-seletDay {position: relative; height: auto; overflow: hidden; margin-bottom: 1rem;}
.SF-seletDay ul {padding: 0 1rem;/* position: absolute; left: 0; top: 0; width: 100%;*/ box-sizing: border-box;}
.SF-seletDay li {border:1px solid #979797;  position: relative; z-index: 0; padding: 1.5rem 0; box-sizing: border-box; margin: 1rem 0;}
.SF-seletDay li span {display: block; }
.SF-seletDay li em {border:1px solid #979797; border-radius: 50%; height: 1rem; width: 1rem; position: absolute; left: 50%; margin-left: -0.5rem; background: #fff; z-index: 5; box-sizing: border-box;}
.SF-seletDay li .tipBox {position: absolute; top: -1px; bottom: -1px; left: 25%;  overflow: hidden;  width: 1rem; }


.SF-seletDay .halfCircleT {top: -0.5rem;}
.SF-seletDay .halfCircleB {bottom: -0.5rem;}
.SF-seletDay .splitline {border-left:1px dashed #979797; background: transparent; height: 4rem; width: 1px;  box-sizing: border-box;  left: 50%; margin-left: -1px; margin-top: -2rem;}
.SF-seletDay .SF-seleted {position: absolute; right: 0; top: 50%; margin-top: -0.9rem; width: 8%; background: #fff; color: #fff; border-top-left-radius: 25px; border-bottom-left-radius: 25px; line-height: 1.8rem; text-indent: 0.5rem;}

.SF-seletDay .SF-seletday {width: 27%; text-align: center; font-size: 1.2rem; }
.SF-seletDay .SF-seletTime { font-size: 1.1rem; margin-left: 4.5%; }
.SF-seletDay .SF-seletTime .color_Gray {font-size: 1rem; }

/* 过期 */
.SF-seletDay li.act_out,
.SF-seletDay li.act_out em,
.SF-seletDay li.act_out .splitline {border-color: #e1e1e1}
.SF-seletDay li.act_out span,
.SF-seletDay li.act_out i {color: #e1e1e1}
/* 选中 */
.SF-seletDay li.act_in,
.SF-seletDay li.act_in em,
.SF-seletDay li.act_in .splitline {border-color: #f66465; }
.SF-seletDay li.act_in .SF-seleted {background: #f66465; }


/* 寄件地址 */
.order_layer_iframe .seletAddr {}
.order_layer_iframe .seletAddr .addrArea {position: relative; height: 18rem; overflow: hidden;}
.order_layer_iframe .seletAddr ul {padding: 0 1rem; position: absolute; top: 0; left: 0; width: 100%; box-sizing: border-box;}

.order_layer_iframe .seletAddr .addrInfo {padding: 1rem 0}
.submit02, .submit02:visited {color:#f66465}
.order_layer_iframe .seletAddr .newaddr {}
.order_layer_iframe .seletAddr .editaddr {right: 8rem;}




/* 成功提示 */
.ui-msgBox {padding:0 1rem; background: #fff}
.ui-msg {border-bottom-color: #fff; padding: 0;}
.ui-msg .addr-msg {position: relative;}
.ui-msg .addr-msg p {color: #979797; font-size: 0.9rem; line-height: 2.8rem; }
.ui-msg .addr-msg em {display: inline-block; vertical-align: middle; height: 0.5rem; width: 0.5rem; border-radius: 50%;}
.ui-msg .addr-msg span {display: inline-block; vertical-align: middle; }
.ui-msg .addr-msg .cityName {margin: 0 0.8rem; font-size: 1.05rem; color: #434343;}
.ui-msg .arrowDownTip {position: absolute; left: -0.12rem; top: -0.7rem;}
.ui-msg .arrowDownTip em {display: block;  font-size: 0.1rem; width: 0.8rem; line-height: 0.5rem;}

.msg-title {text-align: left; padding:1rem 0 0 0;}
.result-title {font-size: 0.95rem; position: relative; padding-bottom: 1rem;}
.result-title .ico-success {display: block;}
.result-title .orderNum { vertical-align: middle; }
.result-title .orderNum span {display: block; line-height: 1.4rem;}
.result-title .color_Gray {font-size: 0.85rem;}

/* 预约说明提示 */
.askIcon {height: 1rem; width: 1rem; background: url(../img/askIcon.png) no-repeat center center; display: inline-block; vertical-align: middle; background-size: 100% 100%; margin-top: -0.2rem;}
.reserveTip {font-size: 0.9rem; position: absolute; right: 0; top: 0; color: #4e92ff}

.expectTime {background: #fbfbfb; text-align: center; font-size: 1rem; padding:1rem 0; margin-top: -0.5rem; position: relative; z-index: -1;}

/* 服务点寄件成功 */
.servicePoint{background-color: #fff; padding:0 1rem; }
.servicePoint .ewmShow,
.addrHref {background-color: #fff; position: relative; border: 1px solid #e1e1e1; border-right: 0; border-left: 0; }
.addrHref {padding:0 1rem; }
.servicePoint .ewmShow a,
.addrHref a {display: block; height: 100%; width: 100%;}

.servicePoint .grid-btn,
.e-AWB .grid-btn  {background: #fff; padding: 1rem 0; width: 100%; }
.servicePoint p {font-size: 0.9rem; line-height: 3rem; margin-right: 2.8rem; overflow: hidden; white-space:nowrap;text-overflow:ellipsis;}
.servicePoint em,
.addrHref em {position: absolute; right: 1rem; top: 50%; margin-top: -0.4rem; font-size: 0.8rem; text-align: center;}
.servicePoint .ewmIcon  {right: 2rem; font-size: 1rem; line-height: 1rem; margin-top: -0.5rem;}

/* 打印终端 */
.selet-print { border: 1px solid #e1e1e1; border-right: 0; border-left: 0; margin-top: 1rem; }
.selet-print .ewmShow {border: 0;}
.selet-print p {font-size: 1.4rem; line-height: 4rem;}
.selet-print .ewmIcon {font-size: 1.6rem; line-height: 1.6rem; margin-top: -0.8rem;}
.grid-btn-timing li.btnStyle {width: 50%; margin: 0 auto;}
.grid-btn-timing {padding-bottom: 2rem; margin-bottom: 0; }

/* 终端信息 */
.module-t {border-color: #e1e1e1; background: #fff;}
.store-latest-use .module-t  {border:0; height: auto;}
.store-latest-use .module-t h4, .store-nearby .module-t h4 {background: #fff; color: #434343; }
.store-latest-use .module-t h4 {margin: 0 1rem; border-bottom: 1px solid #e1e1e1;}
.store-latest-use .module-t {border-top: 0;}
.store-latest-use {margin-top: 0; margin-bottom: 2rem; border-top: 1px solid #e1e1e1;}
.store-latest-use .box-module-c {background: #fff; padding: 0 1rem;}
.module-c ul {padding: 0;}
.module-c li {border-bottom: 1px solid #e1e1e1;}
.module-c li .iconCheck {background: #fff; color: #fff; border: 1px solid #979797; height: 2rem; width: 2rem; line-height: 2rem; text-align: center; border-radius: 50%; box-sizing: border-box; margin-right: 1rem;}
.module-c li.active .iconCheck {background: #f66465; color: #fff; border-color: #f66465}
.module-c .printInfo {padding:1rem 0; }
.module-c .printInfo  span {display: block; }

.text-tip-people {padding-bottom: 0; font-size: 1.4rem;}

.login-people p {width: 50%; height: 100%; margin: 0.5rem auto; overflow: hidden;}
.login-people p img {display: block; height: 100%; width: 100%; padding: 0; margin: 0;}

.flex-c a.text-tip-ccc {color: #979797}

/* 顶部标题 */
.HTitle {padding: 0 1.5rem; border-bottom: 1px solid #e1e1e1;}
.HTitle .icoStyle {height: 1.6rem; width:1.6rem; line-height: 1.6rem; font-size: 1.6rem; color: #434343; }
.HTitle h1 {font-size: 1.6rem;}
/*  */


/* 服务点地址选择 */
.addrHref {margin: 2rem 0 6rem;  }
.addrHref p  {margin-left: 2rem; margin-right: 1rem; padding:0.6rem 0;}
.addrHref p span {display: block; font-size: 0.9rem; color: #979797; line-height: 1.4rem; overflow: hidden; white-space:nowrap;text-overflow:ellipsis;}
.addrHref p .serAddr {font-size: 1rem; color: #434343;}
.addrHref .locate {right: auto; left: 1rem;  margin-top: -1rem; font-size: 2rem; line-height: 2rem}

.arrow02:after {height: 1.5rem; margin-top: -0.75rem;}


/* 底部广告条 */
.adv-botBox {width: 100%; max-height: 60px; position: fixed; bottom: 0; left: 0; box-sizing: border-box;}
.adv-botBox a {display: block; height: 100%; width: 100%:;}
.adv-botBox img {width: 100%; height: 100%; display: block;}



/* 二维码扫描 */
.ui-msgArea {padding-bottom: 1rem; }
.jjAddrInfo .addr-msg em {height: 0.8rem; width: 0.8rem; }
.jjAddrInfo .addr-msg p {font-size: 1.3rem; line-height: 3.5rem; padding:0 2rem;}
.jjAddrInfo .addr-msg em {}
.jjAddrInfo .addr-msg span {font-size: 1.2rem; color: #979797;}
.jjAddrInfo .addr-msg .cityName {font-size: 1.4rem;}
.jjAddrInfo  .arrowDownTip {left: 1.9rem}
.jjAddrInfo .arrowDownTip em {margin-top: -0.2rem;}

.box-code-send { background: #fff; margin: 1rem; padding:0; border: 1px solid #e1e1e1; margin-bottom: 10rem;}
.box-code-send .flex-c {background: #fff;  }
.box-code-send .flex-c img {display: block; margin: 2rem auto;}
.box-code-send  .tipWord {padding: 0.5rem 0;}
.scanControl {position: fixed; z-index: 100; bottom: 0; left: 0; width: 100%; background: #fff; border-top: 1px solid #bebebe;}
.scanControl li {text-align: center;}
.scanControl li a {display: block; height: 100%; width: 100%;}
.scanControl li em,
.scanControl li span {display: block;}
.scanControl li em {font-size: 1.6rem; border: 1px solid #434343; border-radius: 50%; line-height: 3rem; margin: 1rem auto 0; width: 3rem; height: 3rem;}
.scanControl li span {line-height: 3rem; font-size: 1.4rem;}
.scanControl li:first-child {border-right: 1px solid #bebebe;}

.store-print {background: #fff; padding:0 1rem;}
.store-print .module-t {background: #fff; position: relative;}
.store-print .module-t em {position: absolute; font-size: 1.6rem; top: 50%; margin-top: -0.8rem; }
.store-print .module-t h4 {padding-left: 2rem; padding-right: 0;}



/* 服务点首页 */
.grid-section {margin-bottom: 10rem;}

.store-title-t {border-bottom: 1px solid #e1e1e1}
.store-title-t h4 {font-size: 1.5rem; }
.store-title-t h4 span {font-size: 1.2rem;}
.store-title-c {padding: 1rem 0;  }
.store-title-c img {display: block; width: 100%;}

/* 没网点 */
.store-nearby .box-module-c {padding: 0 1rem 2rem; border-bottom: 0;}
.box-tip-people .tip-store {margin: 0 auto; width: 60%; height: 80%;}
.box-tip-people .tip-store img { width: 100%; height: auto; display: block;}
.text-tip-store {font-size: 1.4rem;}

.storeBtn {position: fixed; bottom: 0; width: 100%; left: 0; background: #fff;}
.storeBtn .grid-btn-timing {padding: 1rem 0; margin: 0; border-top: 1px solid #e1e1e1;}
.grid-btn-timing li.btn_BgWhite {background:#fff; color: #f66465; border:1px solid #f66465;}
.grid-btn-timing li.btn_BgWhite a,
.grid-btn-timing li.btn_BgWhite a:visited  {color: #f66465;}

/* 有网点 */
.store-nearby .module-t {border-bottom: 0;}
.store-nearby .module-t h4 {}

/* 网点列表 */
.module-c {padding: 0 1rem;}
.storeList {border-top: 1px solid #e1e1e1; position: relative;}
.storeList ul {}
.storeList li {position: relative; padding: 1rem 0;}
.storeList li span {color: #979797}
.storeList li .storeImg {width: 5rem; height: 5rem; margin-right: 1rem}
.storeList li .storeImg img {display: block; height: 100%; width: 100%; margin: 0 auto;}

.storeList li .storeInfo {}
.storeList li:last-child {border-bottom: 0;}
.storeInfo h4 {font-size: 1.4rem; width: 80%; overflow: hidden; white-space:nowrap;text-overflow:ellipsis;}
.storeInfo p {overflow: hidden; white-space:nowrap;text-overflow:ellipsis;}
.storeInfo .storeType {margin: 0.5rem 0; }

.storeType .icoStyle {height: 1.4rem; width: 1.4rem; line-height: 1.4rem; margin-right: 0.5rem; border-radius: 0.3rem; overflow: hidden;}
.storeType .icon_zi .icoStyle {background: url(../img/ex-person/icon-zi.png) no-repeat center center; background-size: contain;}
.storeType .icon_he .icoStyle {background: url(../img/ex-person/icon-he.png) no-repeat center center; background-size: contain;}
.storeType .icon_hei .icoStyle {background: url(../img/ex-person/icon-hei.png) no-repeat center center; background-size: contain;}
.storeType .icon_other .icoStyle {background: url(../img/ex-person/icon-other.png) no-repeat center center; background-size: contain; height: 2rem; width: 2.5rem;}
.storeInfo .storeType span {vertical-align: middle; display: inline-block;}

.storeList li .storeService {position: absolute; top: 1.3rem; right: 0; }
.storeService span {display: block; font-size: 1.4rem; text-align: right;}
.storeService .iconArea {margin-top: 0.4rem;}
.storeService .icoStyle {font-size: 0.8rem; width: 1.4rem; height: 1.2rem; line-height: 1.2rem;}


/* 网点详情 */
.storeDetails {}
/* 网点介绍 */
.storeIntro {background: #fff; padding: 1rem; border-bottom: 1px solid #e1e1e1;}
.storeIntro .storeImg {height: 8rem; width: 8rem; margin-right: 1rem;}
.storeIntro .storeImg img {display: block; width: 100%; height: 100%; }
.storeIntro .storeStyle {}
.storeStyle .storeName {padding-bottom: 1rem}
.storeName h4 {overflow: hidden; white-space:nowrap;text-overflow:ellipsis; font-size: 1.6rem; margin-right: 0.5rem}
.storeName .storeType span {font-size: 1.2rem; vertical-align: middle; color: #979797;}

.storeStyle .storeService {}
.storeStyle .storeService li {width: 50%; float: left; text-align:left; padding-top: 0.5rem;}
.storeStyle .storeService span {display: inline-block; vertical-align: middle; font-size: 1.2rem;}
.storeStyle .storeService .icoStyle {margin-right: 0.5rem}

/* 网点地址 */
.storeDetails .storeAddr,
.storeDetails .storeContact { margin-top: 1rem; background: #fff; padding: 0 1rem; border:1px solid #e1e1e1; border-left: 0; border-right: 0;}
.storeDetails .storeAddr li,
.storeDetails .storeContact li {border-bottom: 1px solid #e1e1e1; padding: 1rem 0; }
.storeDetails .storeAddr li:last-child,
.storeDetails .storeContact li:last-child {border-bottom:0}
.storeDetails .storeAddr p:first-child,
.storeDetails .storeContact p:first-child {width: 25%; font-size: 1.4rem;}
.storeDetails .storeAddr span {line-height: 2rem; font-size: 1.4rem;}
.storeDetails .storeContact p { }

.storeDetails .storeAddr em {display: block;}



/***************************************** 公共 s  *******************************************/

/* 节日横条 */
.feastTop {width: 100%; background-size: 100% 100%; background-repeat: no-repeat; background-position: top center;  }
.feastMid1,.feastMid2 {position: absolute; left: 0; top: 0; width: 100%;}


/* 底部线条 */
.border_bot {border-bottom: 1px solid #e1e1e1;}
.border_botNull {border-bottom: 0;}

/*图标*/
.icoStyle {height: 24px; width: 24px;  display: inline-block; vertical-align: middle; text-align: center;  line-height: 24px; font-size: 24px;}

/*分割线*/
.splitline {height: 24px; width: 1px; background: #e1e1e1; right: 0px; top: 50%; margin-top: -12px; position: absolute; display: block;}

/* 按钮样式 */
.btnStyle { border:1px solid #434343; color: #434343; text-align: center; border-radius: 4px;  line-height: 40px;  display: block;
    -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
     box-sizing: border-box;
}
.btnStyle a {color:#434343;}
.btn_BgRed {background: #f66465; color: #fff; border-color:#f66465; }
.btn_BgRed:hover {color: #fff;}
.btn_BgGray {background: #979797; color: #979797; border-color:#979797; }
.btn_BgBlack {background: #434343; color: #434343; border-color:#434343;}
.btn_BgWhite {background:#fff; color: #f66465; border-color:#f66465;}
.btn_BgCancel {background:#979797; color: #fff; border-color:#e1e1e1;}

.btn_BorderRed {  border-color: #f66465; }

.color_Black {color: #434343;}
.color_Red {color:#f66465;}
.color_Gray {color:#979797;}
.color_Blue {color: #4e92ff;}
.color_Gray1 {color:#a0a0a0;}
.color_Gray2 {color:#d4d4d4;}


/*.btn_BgOrg {background: #f66465; color: #fff; border-color:#f66465;}*/
.minW140 {min-width: 140px}

/*波浪线*/
.waveLine {}
.msg-content {
    padding: 5px 0;
    background: transparent url(../img/semi_circle03.png) repeat-x;
    font-family: "Microsoft YaHei";
}




/* 定位 */
.fixedDom {position: fixed;}
.RelDom {position: relative;}
.AbsoDom {position: absolute;}

/* 透明度 */
.opac00 {opacity:0 }
.opac01 {opacity:0.1 }
.opac02 {opacity:0.2 }
.opac03 {opacity:0.3 }
.opac04 {opacity:0.4 }
.opac05 {opacity:0.5 }
.opac06 {opacity:0.6 }
.opac07 {opacity:0.7 }
.opac08 {opacity:0.8 }
.opac09 {opacity:0.9 }
.opac10 {opacity:1 }

/* 图片图标样式 */
.iconImg {display: block; width: 100%;}

/* 阴影 */
.shadow {position: fixed; background: rgba(0,0,0,.5) repeat;  height: 100%; width: 100%; z-index: 100; left: 0; top: 0;}


 /*水平盒模型*/
.HBox {
    display: box;
    display:-moz-box;
    display:-o-box;
    display:-ms-box;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -ms-box-orient: horizontal;
    box-orient: horizontal;
}

/*垂直盒模型*/
.VBox {
    display: box;
    display:-moz-box;
    display:-o-box;
    display:-ms-box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
}
/*盒模型分块*/
.Bflex1 {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
}
.Bflex2 {
    -webkit-box-flex: 2;
    -moz-box-flex: 2;
    -o-box-flex: 2;
    -ms-box-flex: 2;
    box-flex: 2;
}
.Bflex3 {
    -webkit-box-flex: 3;
    -moz-box-flex: 3;
    -o-box-flex: 3;
    -ms-box-flex: 3;
    box-flex: 3;
}
.Bflex4 {
    -webkit-box-flex: 4;
    -moz-box-flex: 4;
    -o-box-flex: 4;
    -ms-box-flex: 4;
    box-flex: 4;
}

.BoxCenter {
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.bordBox {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}




.rotate180 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.rotate90 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.rotate45 {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}




/***************************************** 公共 e  *******************************************/


/* swiper样式 */
.swiper-container {height: 100%; width: 100%;}
.swiper-slide {height: 100%; width: 100%;}
.swiper-slide .emptyOrder {position: relative; min-height: 500px;}
.swiper-slide a {display: block; height: 100%; width: 100%;}
.swiper-lazy-preloader {opacity: 0.4}

.silderBox {width: 100%; height: auto;}
.silderBox img {display: block; width: 100%; /*height: 100%*/}

/*.orderHead .swiper-pagination-bullet,
.headerNav .swiper-pagination-bullet {width: auto; height: auto; display: block; border-radius: 0; opacity: 1; background: none;}
.orderHead .swiper-pagination-bullet-active {color:#f66465; border-bottom: 2px solid #f66465}
.headerNav .swiper-pagination-bullet-active a {color: #f66465; border-bottom: 2px solid #f66465;}
*/

/* lay弹框样式 */
.layermcont,
.layermchild h3 {box-sizing: border-box; font-family: "Microsoft YaHei"; font-size: 16px;}
.layermcont .indexAddr,
.layermcont .addrDetail {text-align: left;}
.layermchild h3 { height: 40px; line-height: 40px;}
.layermend {top: 5px;}
/* 弹框按钮样式 确定是红色 */
.layermbtn span {font-family: 'Microsoft YaHei'; border-radius: 0;}
.layermbtn span:last-child {background:#f66465; color: #fff; }
.layermbox0 .layermchild {min-width: 65%; overflow: hidden; border-radius: 4px;}
