@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?8rdjic');
    src:    url('fonts/icomoon.eot?8rdjic#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?8rdjic') format('truetype'),
        url('fonts/icomoon.woff?8rdjic') format('woff'),
        url('fonts/icomoon.svg?8rdjic#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-allOrder:before {
    content: "\e900";
}
.icon-arrow:before {
    content: "\e901";
}
.icon-Iphone:before {
    content: "\e902";
}
.icon-MyAccount:before {
    content: "\e903";
}
.icon-MyOrder:before {
    content: "\e904";
}
.icon-MyShopCar:before {
    content: "\e905";
}
.icon-OK:before {
    content: "\e906";
}
.icon-putDown:before {
    content: "\e907";
}
.icon-service:before {
    content: "\e908";
}
.icon-servicing:before {
    content: "\e909";
}
.icon-Tel:before {
    content: "\e90a";
}
.icon-Tel2:before {
    content: "\e90b";
}
.icon-unFind .path1:before {
    content: "\e90c";
    color: rgb(93, 94, 94);
}
.icon-unFind .path2:before {
    content: "\e90d";
    margin-left: -1em;
    color: rgb(175, 175, 175);
}
.icon-unFind .path3:before {
    content: "\e90e";
    margin-left: -1em;
    color: rgb(115, 115, 115);
}
.icon-unFind .path4:before {
    content: "\e90f";
    margin-left: -1em;
    color: rgb(115, 115, 115);
}
.icon-WaitGet:before {
    content: "\e910";
}
.icon-WaitPay:before {
    content: "\e911";
}
.icon-WaitSend:before {
    content: "\e912";
}
.icon-WX:before {
    content: "\e913";
}
.icon-addr:before {
    content: "\e914";
}
.icon-applyIng:before {
    content: "\e915";
}
.icon-edit:before {
    content: "\e916";
}
.icon-emptyCar:before {
    content: "\e917";
}
.icon-gift:before {
    content: "\e918";
}
.icon-home:before {
    content: "\e919";
}
.icon-message:before {
    content: "\e91a";
}
.icon-noOrder:before {
    content: "\e91b";
}
.icon-payEnd:before {
    content: "\e91c";
}
.icon-person:before {
    content: "\e91d";
}
.icon-refundEnd:before {
    content: "\e91e";
}
.icon-refundIng:before {
    content: "\e91f";
}
.icon-refundStart:before {
    content: "\e920";
}
.icon-refundTime:before {
    content: "\e921";
}
.icon-reject:before {
    content: "\e922";
}
.icon-search:before {
    content: "\e923";
}
.icon-store:before {
    content: "\e924";
}
.icon-longTime:before {
    content: "\e925";
}
.icon-rightIcon:before {
    content: "\e926";
}
.icon-rocket:before {
    content: "\e927";
}
.icon-unGoods:before {
    content: "\e928";
}
.icon-unOrder .path1:before {
    content: "\e929";
    color: rgb(93, 93, 93);
}
.icon-unOrder .path2:before {
    content: "\e92a";
    margin-left: -1em;
    color: rgb(174, 174, 174);
}
.icon-unOrder .path3:before {
    content: "\e92b";
    margin-left: -1em;
    color: rgb(93, 94, 94);
}
.icon-unOrder .path4:before {
    content: "\e92c";
    margin-left: -1em;
    color: rgb(174, 174, 174);
}
.icon-unOrder .path5:before {
    content: "\e92d";
    margin-left: -1em;
    color: rgb(93, 94, 94);
}
.icon-unOrder .path6:before {
    content: "\e92e";
    margin-left: -1em;
    color: rgb(93, 93, 93);
}
.icon-unOrder .path7:before {
    content: "\e92f";
    margin-left: -1em;
    color: rgb(93, 93, 93);
}
.icon-unOrder .path8:before {
    content: "\e930";
    margin-left: -1em;
    color: rgb(174, 174, 174);
}
.icon-arrow-left:before {
    content: "\e094";
}
.icon-arrow-right:before {
    content: "\e095";
}
.icon-arrow-up:before {
    content: "\e096";
}
.icon-arrow-down:before {
    content: "\e097";
}

