@charset "utf-8";
/* CSS Document */


/*头部S*/
.header{margin-top:1.5rem;}
.mb10{margin-bottom:1rem;}
.bg-header{margin:14px auto 0px;background:url(../img/logo-pbs.png) no-repeat;width:26rem;height:18.1rem;background-size:26rem;}
.msg_dhbox{display:-webkit-box!important;display:-webkit-flex!important;-webkit-box-pack:center;-webkit-justify-content:center;-webkit-box-align:center;-webkit-align-items:center;margin-bottom: .7rem;padding-top:10.5rem;}
.num-wrong{width:90%;margin:.5rem auto .7rem;color:#fbed12;}
.msg_dh{display:block;-webkit-appearance: none;
    -webkit-box-sizing: border-box;min-width:21rem;height:3.1rem;margin:0 auto;padding:.8rem 1.3rem;font-size:1.2rem;}
.duijiang {-webkit-appearance: none;-webkit-box-sizing: border-box;margin-top:1rem;
font-size:1.8rem;
font-weight:500;
letter-spacing:2px;
margin: 0rem auto;
width: 6.8rem;
height: 3rem;
line-height: 3rem;
background: #e4e4e4;
border-radius: 0.5rem;
text-align: center;
border: none;
color: #b6b6b6;
}
.duijiang-submit{-webkit-appearance: none;-webkit-box-sizing: border-box;margin-top:1rem;
font-size:1.8rem;
font-weight:500;
letter-spacing:2px;
margin: 0rem auto;
width: 6.8rem;
height: 3rem;
line-height: 3rem;
background: #faf268;
border-radius: 0.5rem;
text-align: center;
border: none;
color: #79c6ed;-webkit-transition:all ease-in .3s;background:fff769;color:#6cceff;}

.duijiang-submit:focus, .duijiang-submit:hover{background:-webkit-linear-gradient(bottom,#fff98e,#fff004,#fffec7);color:#0fa8f4;-1webkit-box-shadow:3px 3px 5px 1px rgba(0, 0, 0, 0.1), inset 3px 3px 5px 1px transparent;
color: #0fa8f4;}
.code-er{margin-top:2rem;display:block;background:url(../img/er-code.png) no-repeat;width:13.8rem;height:5.9rem;background-size:13.8rem;}
.footer-index{margin-top: -1.5rem;height:32.2rem;width:100%;}
.footer-index img{width:100%;}
/*头部S*/

/**/
