@charset "utf-8";
/* CSS Document */

.header{display:block;margin-top:1.2rem;background:url(../img/nmgd1.png) no-repeat;width:15.2rem;height:10.2rem;background-size:15.2rem;}
.pro{display:block;margin-top:2rem;background:url(../img/nmgd2.png) no-repeat;width:14.95rem;height:19.25rem;background-size:14.95rem;}
.logo{display:block;margin-top:3rem;background:url(../img/nmgd3.png) no-repeat;width:19.9rem;height:3.85rem;background-size:19.9rem;}


.btn-nmgd{display:block;margin-top:1.5rem;margin-bottom:2rem;width:11rem;height:2.6rem;line-height:2.6rem;font-weight:600;font-size:1.5rem;border-radius:.4rem;box-shadow:.4rem .4rem rgba(0,0,0,.3);background:#fceb55;color:
#d80b25;text-align:center;-webkit-transition:all .2s ease-in;}
.btn-nmgd:link, .btn-nmgd:visited{color:#e11b34;}
.btn-nmgd:hover, .btn-nmgd:active{background:#f6e337;}

.footer img{display:block;margin-top:2.5rem;width:100%;height:6.1rem;}