@charset "utf-8";
/* CSS Document */
.bg-content{width: 32rem;
    height: 37.1rem;
    margin-top: 1.5rem;
    display: block;
    background: url(../img/xg.png) no-repeat;
    background-size: contain;}
.main-content{width:25.2rem;margin-top:1.8rem;}
.content-prize-t{display:inline-block;margin-top:1.5rem;background:url(../img/content-prize-t-f.png) no-repeat;width:25.2rem;height:12.1rem;background-size:25.2rem;}
.content-prize-t-s{display:inline-block;margin-top:0rem;background:url(../img/prize-header.png) no-repeat;width:25.2rem;height:14.8rem;background-size:25.2rem;}
.content-prize-brought{display:block;background:url(../img/prize-headerbrought.png) no-repeat;width:25.2rem;height:12.1rem;background-size:25.2rem;}
.info-adress-t{display:block;background:url(../img/info-adress-head.png) no-repeat;width:25.2rem;height:18.1rem;background-size:25.2rem;}

.prize-title img{width:6.5rem;height:2.3rem;}
.prize-title{font-size:1.4rem;color:#fceb55;text-align:center;padding-top:8.4rem;}
.content-prize-t .prize-title{font-size:1.6rem;color:#fceb55;text-align:center;padding-top:1.2rem;}
.content-prize-c{margin-top: -.6rem;display:block;min-height:20rem;padding-bottom: .5rem;background:url(../img/prize-line-content.png) repeat-y;width:25.2rem;background-size:25.2rem;}
.prize-c-title{margin-top: .5rem;font-size:2.4rem;color:#fff;text-align: center;
    width: 85%;}
.prize-c-title-story{margin-top: .5rem;font-size:1.5rem;color:#fff;text-align: center;
    width: 85%;}
.prize-c-content{margin-top:1.8rem;margin-bottom:1.8rem;}
.coupon{background:#fceb55;border-left:.3rem solid #de0034;border-right:.3rem solid #de0034;color:#fe2d4c;padding-right: .5rem;}
.money-num{font-size:3rem;}
.coupon-note{display:block;width:85%;font-size:1.3rem;text-indent:2rem;color:#fff;}
.content-prize-b{margin-top: -.1rem;display:block;background:url(../img/bg-content-ft.png) no-repeat center;width:25.2rem;height:2.8rem;background-size:25.2rem;}
.logo-hsxf-list{margin:0rem auto 2rem;display:block;background:url(../img/logo-list-hsxf.png) no-repeat center;width:13.4rem;height:2.2rem;background-size:13.4rem;}
.bg-list-footer{display:block;background:url(../img/footer_list.png) no-repeat center;width:100%;height:18rem;background-size:contain;}
.footer{position:relative;width:100%;}
.footer img{width:100%;}
.pz-footer-btn{
    position: absolute;
    left: 50%;
    top: 10%;
    margin-left: -6.35rem;z-index:1;
   }




/*实物奖品s*/
.text-prize-physical{display:block;margin:0 auto;text-indent:2rem;width:80%;font-size:1.3rem;color:#fceb55;}
.text-prize-brought{display:block;margin:0 auto;text-indent:2rem;width:80%;font-size:1.3rem;color:#fceb55;}
.text-prize-story{display:block;margin:0 auto;text-indent:2rem;width:80%;overflow : hidden;
  text-overflow: ellipsis;display:-webkit-flex;display:-webkit-box;-webkit-line-clamp:5;
  -webkit-flex-direction:column;-webkit-box-orient:vertical;font-size:1.3rem;color:#fceb55;}
.company-name, .prize-name, .brought-num,  .brought-date{font-size:1.4rem;color:#fff;margin:0 .3rem;}
.prize-goods img{display:block;width:8rem;height:9.5rem;overflow:hidden;}
.prize-goods-th img{display:block;width:10rem;height:7.5rem;overflow:hidden;background-size:10rem;}
.info-adress-t .prize-goods img{display:block;width:6rem;height:7.2rem;overflow:hidden;}
.info-adress-t .prize-goods{padding-top:7.5rem;}



/*实物奖品e*/

/*adress   s*/
.content-info-adress{margin-left: .4rem;
        margin-top: -.07rem;display:block;padding-bottom:1.2rem;background:rgba(255,255,255,.8);width: 23.95rem;}
.ipt-text{margin-top:.5rem;width:21rem;height:2.4rem;padding:.6rem .6rem;-webkit-border-radius:.5rem;border:1px solid #85d0f5;font-size: 1.3rem;}
.txtarea-adress:active, .txtarea-adress:focus, .ipt-text:active,.ipt-text:focus{border: .1rem solid #fe2d4c;
outline: none;
box-shadow: none;}

.content-info-adress input:acitve, .content-info-adress input:focus{border:1px solid #fe2d4c;}
.txtarea-adress{margin-top:.5rem;width:21rem;padding:.6rem .6rem;-webkit-border-radius:.5rem;border:1px solid #85d0f5;font-size: 1.3rem;}
/*adress   5*/


/*摇奖页面s*/
.shake-prize-t{display:block;background:url(../img/deliveryperson.png) no-repeat center;width:18.5rem;height:32.9rem;background-size:18.5rem;}
.shake-prize{position:relative;}
.btn-open-gift{position:absolute;left:12%;top:49%;box-shadow:.2rem .3rem rgba(222,0,53,1);font-size:1.8rem;padding-left:.6rem;padding-right:.6rem;height:3rem;line-height:3rem;}
.service img{display:block;position:absolute;left:0rem;top:34rem;width:100%;background-size:contain;}

/*摇奖页面e*/


