@charset "utf-8";
/* CSS Document */

.header img{display:block;width:100%;height:11.7rem;}
.pro img{display:block;width:100%;height:22.5rem;}

.prize img{display:block;position:relative;width:100%;height:10.1rem;}
.prize  {display:block;
    position: relative;
    width: 100%;}
.btn-vivo{display:block;position:absolute;z-index:1;left:50%;margin-left:-5.5rem;top:5.2rem;width:11rem;height:2.6rem;line-height:2.6rem;font-size:1.5rem;border-radius:.4rem;background:#41b1e6;box-shadow:.4rem .4rem #d2cccb;color:
#fff;text-align:center;-webkit-transition:all .2s ease-in;}
.btn-vivo:link, .btn-vivo:visited{color:#fff;}
.btn-vivo:hover, .btn-vivo:active{box-shadow:inset .2rem .2rem rgba(0,0,0,.1);background:#099adf;}

.footer img{display:block;width:100%;height:6.1rem;}